.*.swp
*~
*.pyc
.sass-cache
.bundle
vendor
www/docs/docs
www/docs/docs-cache
www/docs/style/*.css
www/docs/style/stylesheets
.vagrant
build/
puphpet/files/dot/ssh
!puphpet/files/dot/ssh/insecure_private_key

www/docs/rss/*.rss
www/docs/rss/mp/*.rdf

data/
