*~
*.pyc
output
backup
general
uml-rootfs-*
debian
/files-for-uml/data/servers/machines/sandbox.pl
/files-for-uml/etc/hosts
/files-for-uml-deploy/data/servers/machines/sandbox.pl
/files-for-uml-deploy/etc/hosts
/files-for-uml-deploy/data/servers/vhosts/twfy_conf_general.ugly
/files-for-uml-deploy/data/servers/vhosts.pl
/files-for-uml-deploy/data/servers/vhosts/theyworkforyou_conf_general.ugly
/uml.stdout
/uml.stderr
id_dsa.*
/conf
