*~
*.pyc
output
general
uml-rootfs-*
debian
/files-for-uml/data/servers/machines/sandbox.pl
/files-for-uml/etc/hosts
/files-for-uml-deploy/data/servers/machines/sandbox.pl
/files-for-uml-deploy/etc/hosts
