/* mySociety header */

$mysociety-banner-background: #333333;
$mysociety-banner-height: 41px;

.ms-header {
    background-color: $mysociety-banner-background;
}

.ms-header__row {
    @include grid-row();
}

.ms-header__logo {
    @include grid-column(12);
    height: $mysociety-banner-height;
    text-align: right;
    float: right;

    @media (min-width: $medium-screen) {
        // Using gridCalc saves us cluttering up the generated CSS
        // with the rest of the cruft that grid-column() generates
        width: gridCalc(4, 12);
    }

    @media (min-width: $large-screen) {
        width: gridCalc(2, 12);
    }

    a {
        display: inline-block;
        height: 0;
        padding-top: $mysociety-banner-height;
        width: 101px;
        overflow: hidden;
        background: transparent image-url("/style/img/mysociety-header_logo.png") center center no-repeat;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: image-url("/style/img/mysociety-header_logo@2.png");
            background-size: 101px 21px;
        }
    }
}
