// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
//@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
@import "foundation/components/grid-5";
//

@import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
@import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/dropdown";

@import "compass/css3";
@import "_twfy-mixins.scss";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic);

html,
body {
    height: 100%;
    background: $body-bg;
    color: $body-font-color;
    font-family: $body-font-family;
}

strong, b {
    font-weight: $weight_bold;
}


/* Base typography */

h1 {
    letter-spacing: 0.02em;
}

h1,
h2,
h3 {
    font-weight: $weight_semibold;
}

.skinny-type {
    font-weight: $weight_light;
}

.centered {
    text-align: center;
}

.pull-right {
     @media (min-width: $medium-screen) {
        float: right;
        margin-left: 1em;
    }
}
.pull-left {
     @media (min-width: $medium-screen) {
        float: left;
        margin-left: 1em;
    }
}

ul {
    margin-left: 1.2em;
}

a {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    color: $links;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: darken($colour_primary, 10%);
}

/* Buttons */
.button {
    @include box-shadow(none);
    &:hover {
        text-decoration: none;
    }
}

/* forms */
.errorlist {
    @include unstyled-list();
}

form {
    margin-bottom: 0;
}

/* Staging alert-box */
.alert-box--header {
    margin-bottom: 0;
    border: none;
}
/* mySociety header */
.ms-header {
    background: transparent;
    border-top: 4px solid #424242;
}

.ms-header__row {
    @include grid-row;
    position: relative;
}

.ms-header__logo {
    @extend .image-replacement;
    display: block;
    position: absolute;
    right: 0.75em;
    top: 0;
    background-color: #424242;
    background-repeat: no-repeat;
    height: 38px;
    width: 44px;
    @include border-radius(0 0 0.75em 0.75em);
    @include background-size(22px);
    background-position: 11px 7px ;
    background-image: url('../img/mysociety-bloom.png');

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../img/mysociety-bloom@2.png');
    }

    @media (min-width: $medium-screen) {
        @include border-radius(0 0 1.25em 1.25em);
        background-position: 16px 10px ;
        @include background-size(93px 19px);
        background-image: url('../img/mysociety-logo.png');
        width: 125px;
        height: 39px;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/mysociety-logo@2.png');
        }
    }
}

/* Brand header */
.brand-header {
    line-height: 48px;
    background: white;
    a:link,
    a:visited {
        color: #fff;
    }
}

.brand-header__row {
    @include grid-row;
}

.brand-header__title-unit {
    background-color: $primary-color;
    float: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
}

.brand-header__title {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 48px;
    font-weight: normal;
    color: #fff;
    font-size: em-calc(18);
    letter-spacing: 0;
    a:hover {
        text-decoration: none;
    }
}

.brand-header__navigation {
    display: none; //temporary hide on mobile: #todo: fix on mobile
    @media (min-width: $medium-screen) {
        display: block;
    }
    float: right;
    margin-top: 0.95em;
    margin-right: 145px;
    a {
        display: inline-block;
        margin-right: 1em;
        font-size: 0.8125em;
        letter-spacing: 0.02em;
    }
}

.admin-menu-container {
    position: fixed;
    top: 0;
    left: 1em;
    z-index: 500;
    min-width: 280px;
    a {
        &:link {
            color: $colour_primary;
        }
        &:hover,
        &:active,
        &:visited {
            color: darken($colour_primary, 10%);
        }
    }
}

.admin-menu-button {
    margin-top: 1.1em;
    /* show at all? */
    &.button.secondary {
        /* Override some Foundation stuff */
        background: transparent;
        color: #fff;
        border-color: #333;
        @include box-shadow(none);
        &:before {
            border-color: rgba(255,255,255,0.8) transparent transparent transparent;
        }
    }
}

.person-header {
    /*margin-right: -3.3%;*/
    /*margin-left: -3.3%;*/
    padding-top: 16px;
    @media (min-width: $large-screen) {
        height: 285px;
        padding-top: 150px;
    }

    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(28,28,28,1) 89%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(89%,rgba(28,28,28,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(28,28,28,1) 89%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(28,28,28,1) 89%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(28,28,28,1) 89%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(28,28,28,1) 89%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    .person-header__content {
        color: white;
        .person-name {
            h1 {
                .mp-image {
                    display: inline-block;
                    max-height: 48px;
                    overflow: hidden;
                    img {
                        max-width: 48px;
                    }
                }
                color: white;
                margin: 0px;
                padding: 0px;
            }
            @include grid-column(12);
            @media (min-width: $medium-screen) {
                @include grid-column(6);
            }
        }
        .person-search{
            @include grid-column(12);
            form {
                padding-bottom: 1em;
                input {
                    -webkit-appearance: none;
                    padding: em-calc(8);
                    font-size: em-calc(16);
                    font-style: italic;
                    border: 1px solid $borders;
                    border-right: 0px;
                    border-radius: 3px 0px 0px 3px;
                    width: 90%;
                    &.submit {
                        background: transparent url('/images/search.png') no-repeat scroll center center;
                        background-color: white;
                        color: transparent;
                        border-right: 1px solid $borders;
                        border-left: 0px;
                        border-radius: 0px 3px 3px 0px;
                        width: auto;
                    }
                }
            }
            @media (min-width: $medium-screen) {
                @include grid-column(6);
                text-align: right;
                clear: both;
                position: relative;
                left: 50%;
                right: auto;
                form {
                    input {
                        width: 20em;
                    }
                }
            }
        }
        .person-buttons {
            @include grid-column(12);
            @media (min-width: $medium-screen) {
                @include grid-column(6);
                position: relative;
                right: 50%;
                left: auto;
            }
        }
        .person-constituency {
            @include grid-column(12);
            @media (min-width: $large-screen) {
                padding-top: em-calc(24);
                height: $h1-font-size;
            }
            span {
                display: block;
                margin-left: 1em;
                @media (min-width: $medium-screen) {
                    display: inline;
                }
            }
            .constituency {
                margin-right: 1em;
                &:before {
                    position: relative;
                    content: url('../img/location-pin.png');
                    bottom: -0.3em;
                }
            }
            .party {
                &:before {
                    font-size: em-calc(12);
                    content: 'O';
                    margin-right: 0.5em;
                    @include radius(1em);
                    padding-left: 0.4em;
                    padding-right: 0.4em;
                    font-weight: bold;
                    color: lightgrey;
                    background-color: lightgrey;
                }
                &.Con:before {
                    content: 'C';
                    background-color: rgb(22,111,210);
                }
                &.Lab:before {
                    content: 'L';
                    background-color: rgb(238, 50, 36);
                }
                &.LDem:before {
                    color: black;
                    content: 'L';
                    background-color: rgb(255, 187, 51);
                }
                &.SNP:before {
                    color: black;
                    content: 'S';
                    background-color: rgb(255, 249, 93);
                }
                &.Green:before {
                    color: white;
                    content: 'G';
                    background-color: rgb(106, 176, 35);
                }
            }
            @media (min-width: $medium-screen) {
                @include grid-column(6);
                text-align: right;
            }
        }
    }
}

.westminster {
    background-image: url('../img/houses-of-parliament-mobile.jpg');
    @media (min-width: $medium-screen) {
        background-image: url('../img/houses-of-parliament-tablet.jpg');
    }
    @media (min-width: $large-screen) {
        background-image: url('../img/houses-of-parliament-desktop.jpg');
    }
    background-position: center center;
    background-size: cover;
}

.scotland {
    background-image: url();
}

.ni {
    background-image: url();
}

.person-navigation {
    color: $light-text;
    ul {
        @include unstyled-list;
        @include inline-list;
        font-size: em-calc(18);
        margin-left: 0px;
        li {
            line-height: 48px;
            margin-left: 0px;
            margin-right: 30px;
            &.selected {
                border-bottom: 1px solid #6c6b68;
            }
        }
        border-bottom: 1px solid #e4e2dc;
    }
}

.person-content__header {
    /*@include grid-row;*/
}
.person-panels {
    .in-page-nav {
        @include radius;
        padding: 0px;
        background-color: white;
        ul {
            /*@include unstyled-list;*/
            margin-left: 0px;
            margin-bottom: 0px;
            font-size: em-calc(16);
            li {
                list-style-position: inside;
                padding-left: 0.5em;
                line-height: 2.6;
                border-bottom: 1px solid $borders;
                color: $borders;
                &.active {
                    color: $primary-color;
                }
                a {
                    color: $body-font-color;
                }
            }
        }
    }
    .panel {
        @include radius;
        background-color: white;
        padding: em-calc(60);
        margin-bottom: em-calc(40);
        h2 {
            font-size: em-calc(30);
            font-width: 600;
        }
        a {
            text-decoration: underline;
        }
        dt {
            font-weight: normal;
            .date {
                font-size: em-calc(14);
            }
        }
    }
}

.button {
    img {
        position: relative;
        margin-right: 0.25em;
        bottom: 0.1em;
    }
    &.alert {
        img {
            bottom: 0.2em;
        }
    }
}

.primary-navigation-bar {
    float: right;
    width: 100%;
    .menu-dropdown {
        display: block;
        position: absolute;
        top: 5px;
        right: 60px;
        line-height: 48px;
        box-shadow: none;
        &.user {
            display: inline-block;
        }
    }
    .menu-dropdown--button {
        @extend .image-replacement;
        height: 2.4em; /* 36px */
        width: 2.4em;
        background-image: url('../img/hamburger.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image:  url('../img/hamburger@2.png');
        }
        background-position: center;
        background-repeat: no-repeat;
        @include background-size(28px 26px);
        &.user {
            background-image: url('../img/user.png');
        }
    }
    .menu-toplevel-dropdown--button {
        border: none;
        background-color: white;
        @include background-size(24px 24px);
        margin-bottom: 0px;
        &:active {
            box-shadow: none;
        }
    }
    .nav-menu {
        @include unstyled-list;
        li {
            margin-left: 0px;
        }
        height: auto;
        max-height: 1000em;
        /*@include transition(max-height 1s ease-in-out);*/
        background-color: $primary-color;
        position: absolute;
        right: 0.75em;
        top: 3.3em;
        z-index: 400;
        width: 47%;
        @include box-shadow(0 2px 2px rgba(0,0,0,0.2));
    }

    a {
        font-size: em-calc(18);
        letter-spacing: 0.02em;
        display: block;
        padding: 0.25em 0.75em;
        &:link,
        &:visited {
            color: $body-font-color;
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
    .active {
        a {
            background: $primary-color;
        }
    }
}

.primary-navigation-bar.assembly {
    float: left;
    width: auto;
    position: relative;
    .menu-dropdown {
        position: static;
        margin: 10px 0px 0px 12px;
        .button {
            font-size: em-calc(14);
            font-weight: $weight_semibold;
            background-color: white;
            border: none;
            margin-bottom: 0px;
            padding-top: 2px;
            padding-bottom: 12px;
            border-radius: 3px 3px 0px 0px;
            transition: none;
            &:active {
                box-shadow: none;
            }
            &:after {
                display: inline-block;
                content: url('../img/caret.png');
                padding-left: 0.5em;
            }
            &.open {
                color: white;
                background-color: $primary-color;
                &:after {
                    -webkit-transform:rotate(180deg);
                    padding-left: 0em;
                    padding-right: 0.5em;
                }
            }
        }
    }
    .nav-menu {
        @include radius;
        border-radius: 0px 3px 3px 3px;
        margin-left: 12px;
        position: absolute;
        left: 0em;
        top: auto;
        z-index: 400;
        width: 10em;
        font-size: em-calc(14px);
        a {
            color: white;
        }
        &.closed {
            height: 0;
            max-height: 0;
            overflow: hidden;
            /*@include transition(max-height 1s ease-in-out);*/
        }
    }
}

.primary-navigation-bar.sections{
    float: right;
    width: auto;
    @media (min-width: $large-screen) {
        width: auto;
        margin-right: 145px; /* push past mysoc logo */
    }
    .menu-dropdown {
        @media (min-width: $large-screen) {
            display: none;
        }
    }
    .nav-menu {
        @media (max-width: $large-screen) {
            &.closed {
                height: 0;
                max-height: 0;
                overflow: hidden;
                @include transition(max-height 1s ease-in-out);
            }
        }
        @media (min-width: $large-screen) {
            background-color: transparent;
            position: static;
            display: block;
            @include inline-list;
            li {
                margin-left: 0;
                &.menu-search {
                    .menu-dropdown--button {
                        background-image: url('../img/search.png');
                    }
                }
            }
            width: auto;
            @include box-shadow(none);
        }
        .user-menu {
            /* temporary measure till work out what we're doing */
            @media (max-width: $large-screen) {
                .menu-dropdown {
                    display: none;
                }
                .nav-menu {
                    display: block;
                    height: auto;
                    max-height: none;
                    position: static;
                    border-top: 1px solid $borders;
                    box-shadow: none;
                    width: 100%;
                }
            }
            @media (min-width: $large-screen) {
                position: relative;
                .menu-dropdown {
                    position: static;
                    display: inline-block;
                    .menu-dropdown--button {
                        border-radius: 3px 3px 0px 0px;
                        transition: none;
                        background-image: url('../img/user.png');
                        &.open {
                            color: white;
                            background-color: $primary-color;
                            background-image: url('../img/user-white.png');
                        }
                    }
                }
                .nav-menu {
                    @include radius;
                    background-color: $colour_primary;
                    border-radius: 3px 0px 3px 3px;
                    margin-left: 12px;
                    position: absolute;
                    right: 0px;
                    top: auto;
                    z-index: 400;
                    width: 10em;
                    font-size: em-calc(14px);
                    a {
                        color: white;
                    }
                    li {
                        display: block;
                    }
                    &.closed {
                        display: none;
                        height: 0;
                        max-height: 0;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    a {
        @media (min-width: $large-screen) {
            display: inline-block;
            padding: 0.4em;
            font-size: em-calc(18);
        }
    }
}


.content-page {
    p, ol, ul {
        max-width: 37em;
    }
    h2 {
        font-weight: normal;
        margin-bottom: 0.25em;
        @media (min-width: $medium-screen) {
            font-size: em-calc(30);
        }
    }
    dt {
        font-weight: $weight_bold;
        font-size: em-calc(18);
        @media (min-width: $medium-screen) {
            font-size: em-calc(21);
        }

    }
}

#footer {
    padding-top: em-calc(40px);
    clear: both;
    margin-top: 1em;
    background-color: white;
    font-family: "Open Sans", sans-serif;

    #footer-about {
        @include grid-column(4);
    }

    #footer-links {
        @include grid-column(8);
    }

    #stay-up-to-date h5 {
        padding-bottom: 0.5em;
        border-bottom: solid 1px $light-text;
        font-family: Lato, sans-serif;
        font-size: 12px;
    }

    .fb-like {
        margin-right: 0.5em;
    }

    #footer-nav {
        margin-top: 1em;
        dt {
            font-size: 12px;
            font-weight: bold;
            font-family: Lato, sans-serif;
        }
        dd {
            font-size: 12px;
        }
    }

    #footer-about {
        font-size: 14px;
    }

    input {
        display: inline;
        border-radius: 2px;
        padding: 0.75em;
        font-size: 1em;
        border: none;
        height: auto;

        &[type=text] {
            width: 80%;
            margin-right: 0px;
            border-radius: 2px 0px 0px 2px;
        }
        &[type=submit] {
            background-color: $primary-color;
            color: white;
            margin-left: 0px;
            border-radius: 0px 2px 2px 0px;
        }
    }

    div.columns {
        font-size: em-calc(14);
    }

    .footer_follow__column {
        @include grid-column(6);
    }

    .footer_link__column {
        @include grid-column(3);
    }

    dl {
        dt {
            font-weight: bold;
            border-bottom: solid 1px $light-text;
        }
        dd {
            a {
                text-decoration: none;
            }
        }
    }
}
