@import "settings";

$small-screen: 60px;
$medium-screen: 60px;
$large-screen: 60px;

@import "app";

.lt-ie9 body {
    width: 1140px !important;
}

.lt-ie9 #search-fallback {
    display: inline-block !important;
}

.lt-ie9 #search-wrapper {
    display: none;
}

.lt-ie9 {
    .ms-header {
        .ms-header__logo {
            background-position: 5px 7px ;
            background-image: url('../img/mysociety-logo.png');
        }
    }
    .brand-header__title-unit {
        .brand-header__title {
            line-height: 84px;
        }
    }
}

.lt-ie9 .sections {
    &.primary-navigation-bar {
        li {
            float: left;
        }
        .user-menu {
            .menu-dropdown {
                display: none !important;
                line-height: 10px;
            }
            .nav-menu {
                background-color: white;
                display: inline-block;
                height: auto;
                max-height: 43px;
                position: static !important;
                width: auto !important;
                &.closed {
                    display: inline-block !important;
                    height: auto !important;
                    max-height: none !important;
                }
                li {
                    background-color: white;
                    display: inline-block;
                    float: left;
                    font-size: 16px;
                    a {
                        color: $body-font-color;
                    }
                }
            }
        }
    }
}

.lt-ie9 .assembly {
    position: static;
    float: none;
    padding: 0px;
    margin: 0px;
    .menu-dropdown {
        display: none;
    }
    .nav-menu {
        padding: 0px;
        margin: 0px;
        position: static;
        font-size: 12px;
        display: block;
        background-color: white;
        width: auto;
        .js-generated {
            display: none;
        }
        &.closed {
            display: block;
            height: auto;
            max-height: none;
        }
        li {
            font-size: 12px;
            border: none;
            clear: none;
            float: left;
            color: $body-font-color;
            width: auto;
            display: inline-block;
            padding-left: 1em;
            a {
                font-size: 12px;
                color: $body-font-color;
                display: inline;
                width: auto;
                padding: 0px;
                background-color: transparent;
                &.on {
                    font-weight: $weight_semibold;
                }
            }
        }
    }
}

.lt-ie9 {
    .person-header {
        .person-header__content {
            .person-search {
                form {
                    input {
                        display: inline-block;
                        background-image: none;
                        height: 33px;
                        &[type="submit"] {
                            border-left: 1px solid $borders;
                        }
                    }
                }
            }
        }
    }
}
