@import "settings";

$small-screen: 60px;
$medium-screen: 60px;
$large-screen: 60px;

@import "app";

.lt-ie9 body {
    width: 1140px !important;
    margin: auto;
}

.lt-ie9 {
    .person-header {
        .person-header__content {
            .person-search {
                form {
                    input {
                        display: inline-block;
                        background-image: none;
                        height: 33px;
                        &[type="submit"] {
                            border-left: 1px solid $borders;
                        }
                    }
                }
            }
            .person-buttons {
                .button {
                    width: 14em;
                }
            }
        }
    }
}
