.accordion__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    color: $body-font-color;
    background-color: $primary-color-200;

    &[aria-expanded="true"] {
        background-color: lighten($primary-color-100, 6%);
        color: $body-font-color;
        border: 1px solid $primary-color;
        & + .accordion-content{
            max-height: 1000px;
            transition: max-height 0.3s ease;
        }

        i {
            transform: rotate(45deg);
        }
    }
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 1rem;

}




.alert-page-subsection__controls  {
    margin-bottom: 2rem;
    form {
        display: inline;
    }

    button {
        margin-bottom: 0;
        span {
            margin-right: 0.2rem;
        }
    }
}

.alert-page-section {
    margin-bottom: 3rem;
}

.alert-page-subsection {
    margin-bottom: 2.5rem;

    .alert-page-subsection--subtitle {
        margin-bottom: 0.5rem;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.alert-page-option-label {
    display: inline;
    margin-left: 0.5em;
}

.button.red {
    background-color: $color-red;
    color: #fff;

    &:hover {
        background-color: darken($color-red, 15%);
    }
}

#create-alert-form {
    label {
        color: $body-font-color;
        font-size: 1.1rem;
        line-height: 1.2;
        margin-bottom: 0.75rem;
    }

    input[type="checkbox"], input[type="radio"] {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.25rem 0 0;
        vertical-align: middle;

         + label {
             display: inline-block;
             margin-bottom: 0;
             line-height: 1.5rem;
             vertical-align: middle;
         }
    }

    input[type="text"], select {
        max-width: 400px;
        height: 40px;
        border-color: $body-font-color;
    }

    .checkbox-wrapper {
        display: flex;
        flex-direction: row;
        
        input[type="checkbox"], input[type="radio"] {
            flex-shrink: 0;
        }
    }

    .checkbox-group  {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
}
