.in-page-nav {
    & > * {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        @include radius(3px);
        margin-bottom: 0px;
        margin-top: 1rem;
        font-size: em-calc(16);
        margin-bottom: 2.22222rem;
        position: sticky;
        top: 0;
        z-index: 999;

        @media (min-width: $large-screen) {
            align-items: normal;
            margin-top: -1rem; // This is for the fist invisible child(.page-mobile-navigation-controller) that gives one extra space thanks to the gap:1rem;
        }

        > * {
            max-width: 22rem;
        }
    }

    h2.browse-content {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.5em 0.75em;
        background: #9ddc93;
        font-size: 1.1rem;
        color: $body-font-color;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    ul {
        background-color: white;
        margin-left: 0;
    }

    li {
        list-style-position: inside;
        list-style: none;
        padding: 0.5em 0.5em 0.5em 1em;
        line-height: 1.3em;
        color: $borders;
        &.active {
            color: $primary-color;
        }
        &:last-of-type {
            border-bottom: 0px;
        }
        a {
            color: $body-font-color;
        }
    }

    .featured_side__mysociety {
        color: white;
        background: #333333;
        padding: 0.75em 1em;
    }

    .featured_side__content,
    .sidebar__unit__donation {
        background-color: white;
        padding: 0.5em 1em 1em;
    }

    .sidebar__unit__featured_side {
        display: block;

        input {
            font-size: 0.9rem;
        }
    }

    .sidebar__newsletter-form__footer {
        font-size: 0.8rem;
        > *:last-child {
            margin-bottom: 0; 
        }
    }

    .content__button {
        margin-bottom: 0;
    }
}

.js-table-content-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 0;

    i {
        margin-right: 0.25em;
    }

    @media (min-width: $medium-screen) {
        display: none;
    }
}

.js-table-of-content {
    @media (max-width: $medium-screen) {
        display: none;
        position: fixed;
        right: 1rem;
        bottom: 4rem;
        max-width: 300px;
        width: 80dvw;
        z-index: 999;
        box-shadow: -1px 2px 5px 6px rgba(62, 62, 62, 0.3);
        background-color: #fff;
    }

    @media (min-width: $medium-screen) {
        display: block;
        width: auto;
    }
}

.table-of-content {
    max-height: 75dvh;
    overflow-y: auto;

    &--subpage-heading {
        text-underline-offset: 0.25rem;
        h3 {
            font-size: 0.9rem;
            margin-bottom: 0;
        }
    }

    h4 {
        font-size: 0.8rem;
        padding: 0.5em 2em 0.5em 1em;
        color: $primary-color;
        margin-top: 0.25rem;
        font-weight: bold;
    }

    ul {
        font-size: em-calc(18);
        margin-left: 0;
        margin-bottom: 0;

        li {
            position: relative;
            line-height: 48px;
            margin-left: 0px;
            width: 100%;
            a {
                color: #6c6b68;
            }
            &.active{
                a {
                    color: #333;
                }
                h3 {
                    box-shadow: -2em 0em 0px $primary-color;
                    outline: 8px solid #fff;
                }
            }

            .subpage-content-list:last-child {
                margin-bottom: -0.5em;
            }
        }

        .subpage-content-list {
            display: none;
            margin: 1rem 0;
            margin-bottom: 0;
            margin-top: 0.25rem;
            background-color: transparent;

            h4 {
                margin: 0;
            }

            li {
                padding: 0.5rem 0;
                margin-left: 1em;
                margin-bottom: 0;
                font-size: 0.8rem;
                border-bottom: 1px solid #f3f1eb;
                width: 90%;
                margin-right: 0;
                line-height: 0.8rem;
            }
        }

        .active {
            .subpage-content-list {
                @media (min-width: $medium-screen) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
