// White panels used primarily on the homepage and MP page.

.panel {
    border-radius: 3px;
    background-color: white;
    padding: 2em 1.5em;

    @media (min-width: $medium-screen) {
        padding: 2.5em;
        margin-bottom: 2.22222em;
    }

    @media (min-width: $large-screen) {
        border-right: 1px solid $colour_off_white;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    h3 {
        line-height: 1.4em;
    }

    .full-width {
        margin: 0 -1.5em;

        img {
            margin: 1.5em 0;
        }

        @media (min-width: $medium-screen) {
            margin: 0 -2.5em;

            img {
                margin: 2em 0;
            }
        }
    }
}

.panel--primary {
    background-color: $colour_primary;
    color: #fff;

    a, h2, h3 {
        color: inherit;
    }

    .button {
        background-color: #fff;
        color: darken($colour_primary, 20%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
}

.panel--secondary {
    background-color: #f9f8f5; // slightly lighter than $colour_off_white
    border: 1px solid #e2dfd9;
}

.panel--highlight {
    background-color: #fffbd6; // sticky note yellow
    border-color: #e8e0bf;
}

.panel--profile-message {
    background-color: #f5cea2;
    border: 1px solid #f4a140;
}

// Panel without vertical padding. Handy when you want vertical lines or child
// content that stretch the entire height of the panel (as on the homepage).
.panel--flushtop {
    padding-top: 0;
    padding-bottom: 0;
}

.panel--inverted {
    background-color: #444;
    color: $colour_off_white;

    h2, label, h3, li {
        color: $colour_mid_grey;
    }

    a {
        color: #fff;
    }
}

.panel--covid19 {
    h2 {
        font-size: 1.1em !important;
        line-height: 1.4;
        margin-top: 0;
    }

    details {
        font-size: 0.875em;

        summary {
            display: list-item;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }

    dl {
        margin-top: 1em;
    }

    dt {
        padding-top: 0.5em;
        margin-bottom: 0.5em;

        @media (min-width: $medium-screen) {
            float: left;
            margin-top: 1px;
        }
    }

    dd {
        border-top: 1px solid rgba(#000, 0.1);
        padding-top: 0.5em;

        @media (min-width: $medium-screen) {
            padding-left: 14em;
        }

        p {
            margin-bottom: 0.5em;
        }
    }
}
