    /*
    These classes control which background images are shown in the various headers
    around the site. Depending on the region.
 */

.regional-header {
    background-position: center center;
    background-size: cover;
    position: relative;
}

.regional-header__overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0; //keep it behind the content
}

.regional-header--westminster {
    background-image: url('../img/houses-of-parliament-mobile.jpg');
    @media (min-width: $medium-screen) {
        background-image: url('../img/houses-of-parliament-tablet.jpg');
    }
    @media (min-width: $large-screen) {
        background-image: url('../img/houses-of-parliament-desktop.jpg');
    }
}

.regional-header--uk-commons {
    background-image: url('../img/uk-commons-mobile.jpg');
    @media (min-width: $medium-screen) {
        background-image: url('../img/uk-commons-tablet.jpg');
    }
    @media (min-width: $large-screen) {
        background-image: url('../img/uk-commons-desktop.jpg');
    }
}

.regional-header--uk-lords {
    background-image: url('../img/uk-lords-mobile.jpg');
    @media (min-width: $medium-screen) {
        background-image: url('../img/uk-lords-tablet.jpg');
    }
    @media (min-width: $large-screen) {
        background-image: url('../img/uk-lords-desktop.jpg');
    }
}

.regional-header--scotland {
    background-image: url('../img/scottish-parliament-mobile.jpg');
    @media (min-width: $medium-screen) {
        background-image: url('../img/scottish-parliament-tablet.jpg');
    }
    @media (min-width: $large-screen) {
        background-image: url('../img/scottish-parliament-desktop.jpg');
    }
}

.regional-header--ni {
    background-image: url('../img/ni-parliament-mobile.jpg');
    @media (min-width: $medium-screen) {
        background-image: url('../img/ni-parliament-tablet.jpg');
    }
    @media (min-width: $large-screen) {
        background-image: url('../img/ni-parliament-desktop.jpg');
    }
}
