.js-table-of-content {
    @media (max-width: $medium-screen) {
        display: none;
        position: fixed;
        right: 1rem;
        bottom: 4rem;
        max-width: 300px;
        width: 80dvw;
        z-index: 999;
        box-shadow: -1px 2px 5px 6px rgba(62, 62, 62, 0.3);
        background-color: #fff;
    }

    @media (min-width: $medium-screen) {
        display: block;
        width: auto;
    }
}

.page-mobile-navigation-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: fixed;
    bottom: 0;
    gap: 1rem;
    width: 100dvw;
    background: rgba(#fff, 0.5);
    backdrop-filter: blur(3px);
    padding: 0.5rem 1.5rem;

    button {
        margin-bottom: 0;
        min-height: 44px;

        svg {
            vertical-align: middle;
        }
    }

    @media (min-width: $medium-screen) {
        display: none;
    }
}
