
/* Headings */
h1 {margin: 0;padding: 0;display: inline;
	font-size: 1px;position:relative;top:-30px;left:-12px;}
h2 , h2 a:link, h2 a:visited {color: #111;font-size:1.9em;text-decoration:none;}
h3, h3 a:link, h3 a:visited {color: #5c4610;text-decoration:none;}
h4, h4 a:link, h4 a:visited{color: #4D6C25;text-decoration:none;}

/* Generic elements  */	

form {margin: 0;padding: 0;}	
input.submit {font-weight: bold;color: #333;}
acronym {border-bottom: dotted 1px black;}

p {margin: 0 0 0 0;padding: 0 0 1em 0;line-height: 2em;}
p.moved {color: #4D6C25;}

table { border-collapse:collapse;}

ul, ol, li {margin: 0;padding: 0;}
li {margin: 0 0 0.5em 0;}
ul {list-style-type:none;}
ol li {margin-left: 1.5em;}
dt {margin-left: 0;font-weight: bold;}
dd {margin: 0 0 1.5em 0;}

br.clear {clear:both;}

div.break {clear: both;height: 0;font-size: 1px;background: #fff;}
div.row {clear: both;margin: 0 14px 0 18px;padding-top: 0.5em;}

div.row span.label {display: block;float: left;width: 10.5em;font-weight: bold;}
div.row span.formw {display: block;float: left;width: 25em;text-align: left;}

div.attention {text-align:center; padding:2em 0;}

div.main p,
div.main ul,
div.main ol,
div.main dl,
div.main pre,
div.main iframe,
div.main table {margin-left: 18px;margin-right: 14px;}
	
div.main table td, div.main table th {border:none;}
div.main dd p {margin-left: 0;margin-right: 0;}
	

div.main p.divisionheading {font-weight: bold;color: #000;}
	
div.main p.indent,
div.main p.indentitalic,
div.main p.numindent {margin-left: 4em;padding-left:1em;font-style: italic;border-left:solid 3px #ccc;padding-bottom:0em;margin-bottom:1em;}
	
div.main p.italic,
div.main p.indentitalic {font-style: italic;color: #4D6C25;}

/* Links */
a:link {color: #2680c6;text-decoration: none;font-weight:bold;}
a:visited {color: #4b85b2;text-decoration: none;font-weight:bold;}
a:hover {text-decoration:underline;}

/* Hide */
.hide {display:none;}

/* Main Structural Blocks */

#container {margin: 0 auto 0 auto;padding: 0;}
#content {clear: both;width: 100%;font-size:1.1em;min-height:10em;}
#banner {position: relative;margin: 0;padding: 0;height:7em;}
#title {padding: 20px 14px 16px 25px;line-height: 0;font-size: 10%; /* Only way to stop space below images in Win IE? */}


/* Warnings */

#warning {font-size: larger;font-weight: bold;text-align: center;
    border: solid 1px #990000;background-color: #ffcccc;}

/* Search */

#search {position: absolute;top: 0px;right: 0px;width: 60%;height: 68px;padding: 0;
        z-index: 0;text-align:right;}
#search	small {padding-right:5em;}
#search #searchbox {width:50%; font-size:1.4em;}
#search label {padding-right:1em; float:none;}
#search ul {padding-right:4.5em; padding-top:0.3em;}
#search ul li {display:inline;list-style-type:none; font-size:0.8em!important; padding:0;margin:0;}
#search form {margin: 1.4em 14px 0 20px;font-weight: bold;}

/* User menu */

#menu {position: relative;width: 100%;background-color: #e8fdcb;border-top: 1px solid #fff;font-size:1.1em;}
#menu a {font-weight:normal;}
#menu li {margin: 0.1em 0 0.4em 1.2em;}
#user li {display:block; float:left; padding-top:0.7em; color:white;}
#user li.divider a {border-left:solid 1px #fff; padding-left:1.1em;}

/* Top menu */

#topmenu {background:#88a465; z-index: 10; position:relative; height:3em;}
#topmenu #site {position:absolute; right:0; top:3em;background:#88A465; z-index:50;
        width:20em; padding:1em 0 1em 0; margin:0; display:none;}
#topmenu a {color:#fff; font-weight:normal;}
#topmenu #topmenuselected {display:block;position:absolute; right:1.5em; top:0.5em; 
    font-size:1.2em; }
#topmenu #topmenuselected small {font-size:0.7em; }    

#topmenu #topmenu-change {
	background: url(../../images/parliamentarrow.png) right 6px no-repeat;
	padding-right: 21px; padding-left: 0.2em;
}

#topmenu dt {font-size:1.2em; padding:0 1.2em 0 1.2em;margin:0;}
#topmenu dd {color:#fff; font-size:0.8em; padding:0.5em 2em 0 2em;}


/* Bottom menu */

#bottommenu {position: relative;width: 100%;height:2.5em; padding:0.5em 0 0 0;margin: 0;
    border-top:solid 1px #cdcdcd;background:url(../../images/greybar.png) repeat-x bottom left;}
#bottommenu li {position:relative; float: left; height:1.6em;margin-top:0.3em;	padding: 0;list-style-type: none;}
#bottommenu li a {position: relative; display: block; margin: 0; padding: 3px 10px;
    color: #000; text-decoration:none;}

/* end hack */
#bottommenu a.on {color:#4d6c25; padding:0.5em 0.8em 0.8em 0.8em; position:relative;
        background:#fff url(../../images/tabshadow.png) right top no-repeat; top:-0.34em;}
#bottommenu a:hover {color:#4d6c25;}



/* Footer */
#footer {padding: 0.7em 0 0.5em 1em;background:#5f5f5f; font-size:0.9em;
        border-top:solid 2px #666;color:#fff; height:1%;}
#footer a:link, #footer a:hover, #footer a:visited {color:#fff; font-weight:normal; text-decoration:underline;}
#footer dl {width:65%; float:left; position:relative;}
#footer dt {float:left; width:30%; color:#fff;clear:left;font-weight:bold;}
#footer dd {float:left; width:70%; padding-bottom:0;}
#footer dd ul li {line-height:1.5em; display:block; float:left;
        margin:0; padding: 0 0.8em 0 0;}
#footer div {border-left:dotted 1px #fff; color:#fff; float:left; padding:1em 2% 1em 1%; margin:0;width:29%;}
#footer div h5 {margin:0; padding:0 0 0.8em 0; font-size:1.1em; font-family:arial, sans-serif; font-weight:bold;}
#footer div p {padding:0 0 1.5em 0; margin:0;}
#footer div form {padding-bottom:0.5em;}



/* Stripes */
/* The horizontal stripes. And/or the main column / sidebar structure. A stripe* will probably contain main and sidebar divs. */

div.stripe-side,
div.stripe-head-1,
div.stripe-head-2 {margin: 0;padding: 0;}

div.main {float: left; width: 65%; margin: 0; padding: 0;position:relative;}
div.stripe-full div.main {width:100%;}
div.col3 div {width:33%; float:left;}


div.stripe-side div.main {padding-top: 1em;padding-bottom: 3em;}
div.stripe-head-1 div.main,
div.stripe-head-2 div.main {padding-top: 1em;padding-bottom:1.8em;}

div.stripe-1 div.main,
div.stripe-2 div.main,
div.stripe-1-on div.main,
div.stripe-2-on div.main {padding: 1em 0 1em 0;}

div.stripe-time-2 div.main,
div.stripe-procedural-1 div.main,
div.stripe-procedural-2 div.main {padding-top: 0.5em;}


div.stripe-1 p,
div.stripe-2 p,
div.stripe-1-on p,
div.stripe-2-on p,
div.stripe-procedural-1 p,
div.stripe-time-2 p,
div.stripe-procedural-2 p {margin-bottom: 0.5em;}

/* Question mentions */

.question-mentions {font-size: 0.85em;padding: 0.5em;margin: 0.5em;float: right;background-color: #FFFFFF;}
.question-mentions-heading {font-size: 0.85em;color: #FF0000;font-weight: bold;text-align: center;}
.question-mention-gap {font-size: 0.85em;font-style: italic;}
.question-references {margin-top: 0.7em;}


	
/* Sidebars */

div.sidebar {float: right;width: 34%;padding: 2em 0 0 0;margin: 0;background: transparent;}
div.sidebar p {line-height: 1.3em;margin-top: 0.5em;margin-bottom: 1em;}
div.sidebar p.vote {margin: 0.2em 14px 0 10px;}
div.sidebar p.vote a {padding:0.2em;}
div.sidebar ul {margin-top: 0.5em;list-style-type:none; line-height: 1.3em; }
div.sidebar ul li {background:url(../../images/bulletsmall.png) no-repeat 1px 3px; padding-left:18px;padding-bottom:0.3em;}
div.sidebar p.video {margin: 0 14px 0 10px;}
div.sidebar p.nextprev {margin: 0.5em 14px 2em 10px;height:4.5em;
    padding-top:1em;position:relative;float:right;}
div.sidebar div.calendar {float: none;margin: 0.5em 0 0.5em 0;height: auto;padding:0 18px 0 0;}
div.sidebar div.calendar table {width:100%;}

span.wransvote {line-height: 2.2em;}

.up {display: block!important;font-weight: bold;margin-bottom: 0.5em;position:absolute;width:100%;bottom:0;left:0;text-align:center;}
.prev {display: block;float: right;}
.next {display: block;float: right;margin-left:2em;}

/* Homepages */
div.welcome_actions {height:1%;}
div.welcome_actions div {background:url(../../images/white.png); float:left; width:46%; margin:2%;
        min-height:12em;}
div.welcome_actions div h3 {color:#000;}
div.welcome_actions #welcome_search  input.text {font-size:1.3em; width:85%;}
div#welcome_uk.welcome_actions {background:#88A465  ;position:relative;}

	

/* Extra - eg, the 'source' link on Hansard pages. */
div.extra {float: right;margin: -1.8em 14px 0 0;}
div.extra a {color: #A1B487;}


/**** CALENDARS ****************************************************************/	

div.calendar {
	float: left;
	margin: 0 14px 1em 18px;
	padding: 1em 0 2em 0;
	height: 11.5em;
	font-size:1.1em;
	}
	
div.calendar table {
	margin: 0;
	border-bottom:solid 2px #ccc!important;		
	}

div.calendar caption {
	caption-side: top;
	text-align: left;
	padding: 0.2em 0.4em;
    margin:0;
	}
div.calendar th,
div.calendar td {
	text-align: center;
	font-weight: normal;
	background: #fff;	
	}
div.calendar th {
	border-top:solid 1px #ccc!important;	
	border-bottom:solid 2px #ccc!important;		
	font-size:0.7em!important;
	padding: 0.4em 0.2em;
	}
div.calendar td {
	color: #4D6C25;
	border-top:solid 1px #ccc!important;
	}
div.calendar td a,
div.calendar td span {
    display:block;
	padding: 0.2em 0.2em;
	margin:0;
    border:solid 3px #fff!important;	
}
div.calendar td a:hover{
    border:solid 3px #2680c6!important;
    -moz-border-radius:5px;
    text-decoration:none;
}

div.calendar td.on span {
	border: solid 3px #BF523D!important;
    -moz-border-radius:5px;   
	font-weight:bold;
	color:#333;
}
	
div.calendar td.on a {
	color: #fff;
	}
div.calendar td.no, div.sidebar div.calendar td.no {
	color: #cccccc;
	background-color: #eeeeee;
}
div.calendar td.no span, div.sidebar div.calendar td.no span {
	border:solid 3px #eeeeee!important;
}

/* Changes for sidebar */
/*
div.sidebar div.calendar caption {
	font-weight: bold;
	background: none;
	}
div.sidebar div.calendar th,
div.sidebar div.calendar td {
	background: #fff;
	}
div.sidebar div.calendar td.on {
	background: #89B84B;
	color: #fff;
	}
*/	
	

/**** MISC THINGS ****************************************************************/	
/*
ul.hansard-day,
ul.hansard-day li,
ul.hansard-day ul,
ul.hansard-day ul li {
	list-style-type: none;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	}
ul.hansard-day {
	margin: 0 14px 1em 18px;
	}
ul.hansard-day li,
ul.hansard-day ul li {
	margin-bottom: 0.5em;
	}
ul.hansard-day ul {
	margin: 0.5em 0 0 3em;
	}
div#intro ul.hansard-day {
	list-style-type: disc;
	margin: 0 0 0 2em;
	padding: 0;
}
div#intro ul.hansard-day li {
	list-style-type: disc;
	margin: 0 0 0 0;
	padding: 0;
}
div#intro ul.hansard-day ul {
	padding: 0;
	margin: 0 0 0.5em 2em;
}
div#intro ul.hansard-day ul li {
}
div#intro ul.hansard-day ul ul {
	margin: 0 0 0 2em;
}
*/

/* Comments */
div.comment {margin-top: 2em;}
div.comment p.credit {line-height: 1.3em;margin-bottom: 0;}
div.comment p.comment {margin-bottom: 0;}

/*

dl.big-debates dt,
dl.recent-wrans dt {
	line-height: 1.3em;
	font-weight: normal;
	}
dl.big-debates dd {
	line-height: 1.3em;
	margin: 0 0 0.5em 1.5em;
	}
dl.recent-wrans dd {
	margin: 0 0 1em 1.5em;
	}
dl.recent-wrans p {
	display: inline;
	}
dl.recent-wrans p.numindent {
	margin: 0;
	}

*/

/* Search results */
#people_results {margin-bottom: 1em;padding-bottom: 1em;}

dl.searchresults {margin: 0;}
dl#searchresults dt,
dl#searchresults dd {margin: 0;padding: 0;}
dl#searchresults dt {margin: 0 0 0.2em 0;font-weight: normal;}
dl#searchresults dd {margin-bottom: 1em;}

div.mainsearchbox,
div.pagelinks {margin: 1em 14px 1em 18px;text-align: center;}

#search_links {font-size: 200%;list-style-type:none;}
#search_links li {min-height: 32px;margin-left:0;padding-left:40px;background-repeat: no-repeat;background-position: 0 0;}
#search_links_email {background-image: url(/images/icon-email.png);}
#search_links_rss {background-image: url(/images/icon-rss-32.png);}


/* API */
span.hi {background: #ff3;}
a span.hi {text-decoration: underline;}
	
span.example-input {display: block;background: #eee; margin: 0.7em 0 0.4em 0;padding: 2px; 
	border-top: 1px solid #666; border-left: 1px solid #666;}
	


/* Site News */
/*
form.blogcomment {
	margin-left: 18px;
	margin-right: 14px;
	}
*/

/* Admin */

p.email-template {font-family: monospace;background: #F5FDEA;border: 1px solid #4D6C25;padding: 1em;}
#adminbody form {margin-left: 18px;}
#subnav_websites{margin-left: 18px;margin-top: 18px;margin-bottom: 8px;border-bottom: #4D6C25;
    border-width: 0 0 1px 0;border-style: none none solid none;height: 1.4em;}
#subnav_websites a {background: #4D6C25;color: #FFFFFF;padding: 0.2em;
	margin-right: 0.2em;margin-top: 0.2em;margin-bottom: 0px;}


/* Glossary */

p.glossary-body {clear: both;margin-top: 1em;}

a.glossary {
    border-bottom:dotted 1px #808080;
}

ul.glossary {margin: 1em 14px 1em 18px;padding-top: 1em;clear: left;}

div.letters {margin: 1em 14px 0 18px;}

div.letters ul,
div.letters li {list-style-type: none;margin: 0;padding: 0;}
div.letters ul {clear: left;}
div.letters li {float: left;width: 2em;margin: 0 1px 1px 0;padding-top: 0.3em;
    padding-bottom: 0.5em;text-align: center;background: #e8fdcb;}
div.letters li.on {background: #880000;color: #fff;font-weight: bold;}
div.letters li.on a {background: #880000;color: #fff;font-weight: bold;}


/**** MP PAGE ****************************************************************/	
/* We override the standard block styles for these special MP page blocks.   */
/*
div#mp.block {
	line-height: 1.2em;
	}
	
div#mp.block,
div#mpsearch.block {
	background: #FDF5F5;
	border: 1px solid #C00;
	}
div#mp.block h4,
div#mpsearch.block h4 {
	background: #C00;
	color: #fff;
	padding-left: 0.5em;
	padding-right: 0.5em;
	}
div#emailfriend.block {
	background: #eeeeff;
	border: 1px solid #000099;
}
div#emailfriend.block h4 {
	background: #000099;
	color: #ffffff;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

ul.jumpers {
	clear: left;
	}
	
.regmemcategory {
	font-weight: bold;
	}
.regmemitem {
	margin: 0.5em 0;
	}

*/


/**** HOME PAGE ****************************************************************/	
/* We override the standard block styles for this special home page block.     */
/*
div#intro.block {
	background: #FDF5F5;
	border: 1px solid #C00;
	}
div#intro.block h4 {
	background: #C00;
	color: #fff;
	padding-left: 0.5em;
	padding-right: 0.5em;
	}
div#intro.block li {
	font-weight: bold;
	margin-bottom: 1em;
	}
div#intro.block li li {
	font-weight: normal;
}
div#intro.block li p {
	font-weight: normal;
	line-height: 1.8em;
	padding: 0.2em 0 0 0.5em;
	margin-bottom: 0;
	}

p#howvoted {
	margin-bottom: 0.5em;
}
ul#dreamcomparisons {
	margin-bottom: 1em;
}
*/

/*
#topics h5 {
	font-size: 100%;
	margin: 0.5em 14px 0.5em 0;
}
#topics ul {
	margin-bottom: 1em;
}
*/

/* Adverts & campaigns*/

#advert_thin {width: 50%;margin: 0 auto;padding-top: 0.5em;border-top: dotted 1px #999999;}
#advert_thin a {font-weight: bold;}

#campaign_block {background-color: #ffff99;border: solid 2px #ff9900;padding: 4px;}
#campaign_block h4 {background-color: #ffcc00;}

div#speaker_candidate_response {font-style: italic;}

#everypage {
    background-color: #ffcc99;
    border: solid 2px #ff6600; border-top: none; /* No top border, so looks like coming out of top */
    opacity: 0.97;
    -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; /* Rounded bottom corners */
    padding: 4px;
    position: fixed;
    width: 70%; left: 15%; /* So centered on screen, always visible */
    z-index: 100; /* So on top */
    max-height: 95%; overflow: auto; /* So on e.g. 800x600 scrollbar appears */
}
#everypage h2, #everypage h3, #foi2009 h2, #foi2009 h3 {margin: 0.5em 0;}

div#intro.block #foi2009 li {font-weight: normal;}


/*
.unspoken { font-style: italic; }
.heading { font-weight: bold; }

ol.otherspeeches {
	margin-top: 1em;
	font-size: 93%;
	list-style-type: none;
} 
ol.otherspeeches li {
	padding: 4px;
}
*/



/* Video */

div.vidOn {background-color: #ffff66;}
div.vidOn div.main {background-color: #ffff66;}

#video_wrap {position: fixed;bottom: 5px;right: 5px;border: solid 1px #666666;background-color: #eeeeee;
	padding: 4px;width: 332px;}
#video_attract {background-color: #ccccff;text-align: center;padding: 10px;margin-left: 2em;border: solid 2px #9999ff;
    font-size: 150%;line-height: 1.4;}
#video_quote {margin: 1em;border-left: solid 5px #009900;padding-left: 0.5em;}
#video_table {margin-left: 1em;margin-top: 1em;}
#video_table h3 {margin-left: 0;}

.video_name { border-bottom: solid 1px #666666; }

#video_already {background-color: #ffff99;border: solid 2px #ff9900;padding: 4px;text-align: center;}


/* mySociety bar */

#mysociety_bar {color:#a4a4a4; text-transform:uppercase;height:2.5em; font-size:0.9em; line-height:1.2em;}
#mysociety_bar a {color:#a4a4a4;}
#mysociety_bar ul {list-style-type:none; position:absolute; top:0; right:0;
    margin:0; padding:0.4em 0 0 82px;}
#mysociety_bar ul li {display:block;margin:0;float:left; border-left:solid 1px #a4a4a4;
    padding:0 0.8em 0 0.8em;}

#mysociety_bar #logo {width:75px; height:21px; background: url(../../images/mysociety_small.png) no-repeat 0 0; position:absolute; top:0.4em; left:0; border-left:none; padding:0;}
#mysociety_bar a {font-weight:normal; text-decoration:underline;}
#mysociety_bar #logo a {display:block;}
#mysociety_bar #logo span {display:none;}

#mysociety_bar #moresites {padding-right:0; position:relative;}
#mysociety_bar #moresites a {background:url(../../images/bararrow.png) no-repeat right 3px;
    padding-right:14px;}
    
#mysociety_bar #barmenu {width:25em; background:white;z-index:100; position:absolute;top:2em;
        margin:0; padding:0;text-transform:none; border:solid 1px #a4a4a4; display:none;}
#mysociety_bar #barmenu li {float:none; margin:0; padding:0; border-left:none; border-top:dotted 1px #a4a4a4;}
#mysociety_bar #barmenu li.first {border-top:none;}    
#mysociety_bar #barmenu li a {background:none; display:block; padding:0.5em 1em; color:#2c4a9e;}
#mysociety_bar #barmenu li a:hover {background:#E9F3FE;}
#mysociety_bar #barmenu li form {padding:0.5em;}
#mysociety_bar #barmenu li label {display:block; padding-top:0.5em; padding-left:1em; color:#333;}
#mysociety_bar #barmenu li form input.textbox {width:17em; margin-right:0.7em; margin-left:0.5em;
     margin-bottom:0.3em;}
#mysociety_bar #barmenu li.menutitle { color:#808080; padding:0.5em 1em; font-weight:bold;}
#mysociety_bar #barmenu li.bardivider {border-top:solid 1px #ccc;}
#mysociety_bar #barmenu li.bordernodivider {border-top:none}


/* Parliament/assembly home pages */
div.latest h3, div.latest ul {float:none;}

/* Date times */
abbr.datetime {text-decoration:none; border-bottom:none;}

/* Speech */
div.speech .main p {text-align:justify; text-justify:newspaper; }

/* Speaker */
div.speech p.speaker {padding:0; margin:0; text-align:left; letter-spacing:0;line-height:1.3em; padding-bottom:0.7em;}
div.speech a.speakerimage {margin:0 1em 0 18px; z-index:50;}
div.speech a.speakerimage.hover {background-position:0 -119px;}    

div.speech a.speakerimage span {display:block; overflow:hidden; width:47px; height:57px;
    position:relative; top:2px; left:8px;}
div.speech a.speakerimage img {margin:0 auto; text-align:center; display:block;
    position:relative; top:-1px; left: -1px;}

div.personinfo {display: none; position:absolute; background:#fff url(../../images/annotation.png) bottom right; z-index:40;
    left:13px; top:10px;padding:1em 2em 1em 85px; font-size:0.8em; border-top:solid 5px #fff; border-left:solid 5px #fff;}
.stripe-2 div.personinfo, .stripe-procedural-2 div.personinfo {border-top:solid 5px #f2f2f2; border-left:solid 5px #f2f2f2;}
    
div.personinfo ul {margin:0; padding:0;}    
div.personinfo ul li {margin:0; padding:0 0 0.3em 0; list-style-type:none;}
div.personinfo ul li a {font-weight:normal;}
div.personinfo ul li strong a {font-weight:bold;}

/*
div.main p.speaker, div.main p.unknownspeaker {margin-bottom: 0;}
div.main p.unknownspeaker {font-weight: bold;}
div.stripe-1-on p.speaker a, div.stripe-2-on p.speaker a {color: #B82E00;}
div.stripe-1-on p.speaker a.permalink, div.stripe-2-on p.speaker a.permalink {color: #000;}
*/

/* Stripes */
div.stripe-1, div.stripe-1-on, div.stripe-procedural-1 {clear:left; background: #fff url(../../images/minorshadow.png) repeat-x 0 0;}
div.stripe-2, div.stripe-2-on, div.stripe-procedural-2 {background:#f2f2f2 url(../../images/minorshadow.png) repeat-x 0 0;; clear:left;}

div.stripe-time {padding:0.2em 18px; background:#808080; height:1em;}
div.stripe-time .sidebar {display:none;}
div.stripe-time abbr.datetime {color:#fff; font-size:0.8em;}

/* Annotations */
div.sidebar div.comment-teaser {font-size:0.9em;padding:0 2em 0 0;}
div.sidebar div.comment-teaser blockquote {padding:0.5em 0.5em 0.5em 0.5em; margin:0 0 1em 0; font-family:monospace, courier; background:url(../../images/annotation.png) bottom right no-repeat; border-top:solid 1px #efefef;
        border-left:solid 1px #efefef;}
div.sidebar div.comment-teaser blockquote p {background: url(../../images/staple.png) no-repeat 2px -1px; padding:18px 16px 0 16px;}
div.sidebar div.comment-teaser blockquote cite {text-align:right;display:block; padding:1em;}

div.sidebar div.comment-teaser div.add {padding-bottom:1em;}
div.sidebar div.comment-teaser a.link { background:url(../../images/link.png) no-repeat 0 50%; padding-left:16px;}
div.sidebar div.comment-teaser a.watch { background:url(../../images/watch.png) no-repeat 0 50%; padding-left:16px;}
div.sidebar div.comment-teaser a.source { background:url(../../images/source.png) no-repeat 0 50%; padding-left:16px;}
div.sidebar div.comment-teaser a.timestamp { background:#a14242 url(../../images/timestamp.png) no-repeat 5px 50%; 
    padding-left:24px; padding-right:8px;color:white;}
div.sidebar div.comment-teaser a.annotate { background:url(../../images/annotate.png) no-repeat 0 50%; padding-left:16px;}

div.sidebar div.comment-teaser ul {padding:0 0 0.5em 0; margin:0;}
div.sidebar div.comment-teaser ul li {display:inline;padding:0; margin:0; padding-right:1.3em;font-size:1em;}

/* Link buttons */
#content a.linkbutton {background:#826b32 url(../../images/linkbutton.png) bottom right repeat-x; padding:0.5em 1em; color:#fff; font-weight:bold; text-decoration:none; border:solid 1px #826b32;}

/* MP pages */
div#person_page .main h4 {padding-top:1em; margin-top:2em; border-top:dotted 1px #808080;}
div.main p.person {float:left; background:url(../../images/photobacklarge.png) no-repeat; width:115px; height:151px; position:relative;margin: 0.3em 1em 1em 18px;}
div.main p.person img.portrait {position:absolute; top:20px; left:7px; border:none;}
div.main .missingphoto {background:#ffffaa; padding:0.5em 1em; font-size:0.8em;margin:0; position:relative; top:-1.5em;}

ul.hilites {list-style-type: none;}
ul.hilites li {padding-left:25px;margin-left:0; background:url(../../images/bulletlarge.png) no-repeat left 2px;padding-bottom:0.3em;}

/* Photos */
a.speakerimage {display:block; float:left;background: url(../../images/photobacksmall.png) no-repeat; background-position:0 0;width:64px; height:68px; padding-top:13px;text-align:center; position:relative;z-index:50;}


/* Blocks */
div.block {margin: 0 0 1.5em 18px; padding: 0; border-top: 10px solid #dfdfdf;background:#fafafa;}
div.block h4 {margin:0; padding:0.6em;color: #000;}
div.block div.blockbody {padding: 0 0.6em 1em 0.6em;}
div.block div.blockbody p,
div.block div.blockbody ul {margin-left: 0;margin-right: 0;padding:0;}
div#help.block {border-top:solid 10px #bf523d!important; background:#fff7f6 url(../../images/help.png) no-repeat 8px 10px; border-bottom:none;}
div#help.block ul li {background:none; padding-left:0;}
div#help.block ul li ul li {list-style-type:circle; margin-left:2em;}
div#help.block h4 {padding-left:40px;color:#8b311f;padding-top:14px;}
div#calendar.block {background:none;border:none;}
#calendar.block h4 {padding-left:0;display:none;}
div#calendar.block div.blockbody {padding: 0;}

/* People lists */
div.main  table.people {font-size:1.1em; margin-right:0!important; width:98%;}
div.main table.people th {text-align: left;border-top: solid 1px #d7d4d4; border-bottom: solid 1px #d7d4d4; 
        color:#808080;}
div.main  table.people td, div.main  table.people th {border-bottom: solid 1px #d7d4d4; padding:8px 8px 8px 4px; vertical-align:top;}
div.main  table.people a.speakerimage {left:-4px;}

/* Sorting */
div.sort {font-size:0.8em; padding:1em 0 0.5em 18px; color:#808080;text-align:right;}
div.sort ul,
div.sort ul li {display:inline;margin:0; padding:0; font-weight:bold;}
div.sort ul {padding-left:0.5em;}


/* Advanced search */
#search-form #s {font-size:1.6em; width:100%;}
#search-form label {float: left; width: 10em; color:#4D6C25; font-weight:bold;}
#search-form div {margin-left: 18px;}
#search-form div.help {padding:0.4em 0 1em 11em;margin:0 0 1em 18px;
        font-size:0.9em; color:#5f5f5f;}
#search-form #term-search div.help {padding-left:0;margin-left:0;margin-bottom:0;}
#search-form h3 {border-bottom:solid 1px #ccc;margin-bottom:1em;margin-right:0;}
