/* Expenses Component */

.mysociety #expenses-brief {
   font-size: 12px; 
}

.mysociety #expenses-brief .overall-ranking {
    float: right;
}

.mysociety #expenses-brief div#rank-header h2#expenses-years {
    font-size: 12px;
    border: 0;
    margin-bottom: 2px;
    margin-top: 2px;
}

.mysociety #expenses-brief #expenses-header,
.mysociety #rmi-brief #rmi-header {
    font-family: georgia,serif;
    border: 0;
    border-top: 10px solid #d61d00; 
    background-color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0 10px 0 ;	
}

.mysociety #expenses-brief #rank-header {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin-bottom: 0;
    background-color: #d3d3d3;
    padding: 0 5px 5px 5px;
    overflow: hidden;
}

.mysociety #expenses-brief ul#expenses-list {
   margin-top: 0;
   padding-left: 0;
   list-style-type: none;
   margin-bottom: 5px;
}

.mysociety #expenses-brief ul li:first-child {
   border-top: 0;
}

.mysociety #expenses-brief ul li.even {
    background-color: #F5F5F5;
}

.mysociety #expenses-brief ul li.odd { 
    background-color: #EDEDED;
}                                                                           

.mysociety #expenses-brief li.odd, 
.mysociety #expenses-brief li.even {
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    text-indent: 0;
    background-image: none;
    background-repeat: no-repeat;
    clear: both;
    font-size: 12px;
}

.mysociety #expenses-brief li#total {
    border-top: 1px solid #999999;
}

.mysociety span.expenses-raw {
    float: left;
}

.mysociety #total {
    font-weight: bold;
}
    
.mysociety span.expenses-rank {
    float: right;
    font-weight: normal;
}

.mysociety p.more {
    margin-top: 5px;
    border-bottom: 1px dotted #999999;
    padding-bottom: 5px;
    margin-bottom: 5px !important;
}

/* Register of Members' Interests Component */

.mysociety #rmi-brief {
   font-size: 12px; 
}

.mysociety .regmemcategory {
   border-top: 1px solid #999999;
   border-bottom: 1px dotted #999999;
   padding: 3px 0 5px 0;
}

.mysociety .regmemitem {
    text-indent	: 20px;
    margin-top: 3px;
    background-image: url(http://louise.theyworkforyou.com/gadget/guardian/icon_bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.mysociety #rmi-brief p.more {
    padding-top: 5px; 
    border-top: 1px dotted #999999;
}


.mysociety .mysociety-footer img {
    padding-top: 5px;
}

/* Register of Members' Interests Resource */ 

.mysociety #rmi-full .mysociety-footer {
    position: relative;
    padding-top: 4px;
}

.mysociety #rmi-full .mysociety-footer span {
    vertical-align: top;
}

.mysociety #rmi-full .mysociety-footer img {
    padding-top: 0;
    margin-left: 5px;
}

.mysociety #rmi-full h2 {
    font-size: 14px;
    font-weight: bold;
    border-top: 10px solid #d61d00;
    padding: 4px 0 6px 0;
    font-family: georgia,serif;
}

.mysociety #rmi-full .regmemitem {
    line-height: 1.357;
    background-position: 2px 2px;
    text-indent: 18px;
}

.mysociety #rmi-full {
    font-size: 12px;
}

.mysociety #rmi-full .regmemcategory {
    margin-top: 20px;
    padding-bottom: 10px;  
}

.mysociety #rmi-full i {
    font-style: normal;
}

.mysociety #rmi-full .rmi-lastupdate {
    margin-top: 20px;
    border-top: 1px solid #000000;
    padding: 5px 0 20px 0;
    border-bottom: 1px dotted #999999;
}

/* Expenses resource */

.mysociety #expenses-full h2 {
    font-weight: bold;
    font-size: 14px;
    border-top: 10px solid #d61d00;
    padding: 4px 0 6px;
} 

.mysociety #expenses-full table {
    border-bottom: 1px solid #999999; 
    margin-bottom: 3px;
}

.mysociety #expenses-full th.main-header {
    font-family: georgia,serif;
    font-size: 16px;
    padding: 8px 0 15px 0;
    border-top: 1px solid #D61D00;   
} 

.mysociety #expenses-full th {
    border: 1px solid #999999;
    padding: 3px;
    background-color: #D3D3D3;
    text-align: left;
}

.mysociety #expenses-full td {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding: 3px; 
}

.mysociety #expenses-full th {
    vertical-align: top;
}

.mysociety #expenses-full th.left {
    text-align: left;
}

.mysociety #expenses-full td.row-1 {
    background-color: #F5F5F5;
}

.mysociety #expenses-full td.row-2 {
    background-color: #EDEDED;
}

.mysociety #expenses-full td.aggregate-value {
    background-color: #F0F0F0;
}

.mysociety #expenses-full td.left,
.mysociety #expenses-full th.left {
    border-left: 0;
}

.mysociety #expenses-full td.right,  
.mysociety #expenses-full th.right {
    border-right: 0;
    text-align: left;
}

.mysociety #expenses-full .overall-ranking {
   display: block;
}

.mysociety #expenses-full td .rank {
   display: block;
}

.mysociety #expenses-full th.total { 
    background-color: #EDEDED;
    border-top: 0;
    font-weight: normal;
    
} 
 
.mysociety #expenses-full .expenses-note-link { 
    display: inline; 
}

.mysociety #expenses-full .extra-travel-info,
.mysociety #expenses-full .extra-travel-info small,
.mysociety #expenses-full .extra-info {
   font-size: 11px; 
   margin-bottom: 3px;
} 

.mysociety #expenses-full .extra-info {
     border-top: 1px solid #BEBEBE;
     margin-top: 3px;
}

.mysociety #expenses-full .people {
    width: 460px;
    clear: both;
}
 
.mysociety #expenses-full .people th {
    width: 60px;
}

.mysociety #expenses-full .other-expenses-links {
    display: block;
    width: 460px; 
}

.mysociety #expenses-full .earlier-expenses-link {
    float: right;
 margin-bottom: 8px;
    margin-top: 4px;
}

.mysociety #expenses-full .later-expenses-link {
    float: left;
    margin-bottom: 8px;
    margin-top: 4px; 
}
