# UML_SERVER_IP should be an unused IP address on your local network;
# the UML machine will appear to have this address:
UML_SERVER_IP=192.168.1.253
# UML_SERVER_HOSTNAME is the hostname for your UML machine.  (There
# must be an entry in /etc/hosts that maps this hostname
# UML_SERVER_IP.)
UML_SERVER_HOSTNAME=theyworkforyou.sandbox
# GUEST_GATEWAY is the IP address that the UML machine will use as a
# router - to avoid confusion, this should also be an unused address
# on your local network, although it will not be visible except from
# the UML machine.
GUEST_GATEWAY=192.168.1.254
# GUEST_NETMASK should be the same as the netmask for your local
# server.
GUEST_NETMASK=255.255.255.0
# GUEST_NAMESERVER should be the IP address of a working nameserver.
GUEST_NAMESERVER=212.23.8.1
# SSH_PORT - the default ports for a UML machine are 8042 (http) and 
# 2242 (ssh)
SSH_PORT=2242
