# Used by ifup(8) and ifdown(8). See the interfaces(5) manpage or
# /usr/share/doc/ifupdown/examples for more information.

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
  address 10.0.2.15
  netmask 255.0.0.0
  gateway 10.0.2.15
