<div id="offer_longterm">
    <h2>Watch your MP after the election too!</h2>

    <p>TheyWorkForYou thinks it is important that we all pay a little bit of
    attention to what our MPs do once elected.  Please sign up so we can update you 
    on what your new MP gets up to.</p>

    <form accept-charset="utf-8" method="post" action="/subscribe" name="subscribe_form"> 
        <p>
            <input type="hidden" name="subscribe" id="subscribe" value="1">
            <label for="name">Your name:</label>
            <input type="text" name="name" id="name" value="" size="20">
            <br>
            <label for="email">Your email:</label>
            <input type="text" name="email" id="email" value="" size="25">
            <input type="hidden" name="postcode" id="postcode" value="{{ postcode }}"> 
            <br>
            <input type="submit" class="submit" value="Sign up"> 
            <small><a href="/quiz">No, thanks</a></small>
            <input type="hidden" name="sign" id="sign" value=""> 
        </p>
        <p>
            <small>After the election you will receive confirmation emails to a) receive alerts whenever
                your new MP speaks in Parliament, b) to discuss issues with your new
                MP on HearFromYourMP.com. All services are run by mySociety, a
                non-partisan project of a registered charity. We will not use your
                email for anything else, and you can easily unsubscrib at
                any time.
            </small>
        </p>
    </form>
</div>




