<p>
    Enter your details below and we'll take you to a page that makes it really simple for you to chase up your candidates.
</p>

<div id="subscribe_box">
    {% if subscribe_form.errors %}
        {{ subscribe_form.errors }}
    {% endif %}

    <form method="post" action="/quiz/subscribe" id="subscribe_form">
        <p>
            <strong>{{ subscribe_form.name.label_tag }}</strong>
            {{ subscribe_form.name }}
            <br>
            <strong>{{ subscribe_form.email.label_tag }}</strong>
            {{ subscribe_form.email }}
            <br>
            <strong>{{ subscribe_form.postcode.label_tag }}</strong>
            {{ subscribe_form.postcode }}
            <br>
            <span class="signup_checkbox">
                {{ subscribe_form.democlub_signup.label_tag }}
                {{ subscribe_form.democlub_signup }}
            </span>
            <br>
            <span class="signup_checkbox">
                {{ subscribe_form.twfy_signup.label_tag }}
                {{ subscribe_form.twfy_signup }}
            </span>
            <br>
            <span class="signup_checkbox">
                {{ subscribe_form.hfymp_signup.label_tag }}
                {{ subscribe_form.hfymp_signup }}
            </span>
            <br>
            <input type="hidden" name="candidacy_without_response_count" value="{{ candidacy_without_response_count }} " />
            <input type="submit" value="Hassle the MP candidates">
        </p>
        <p>
            <small>
                Depending on which boxes you tick, you will be
                subscribed to DemocracyClub, so you can help out with
                tasks before the election. After the election, you
                will receive emails asking you to confirm any
                subscriptions to TheyWorkForYou and HearFromYourMP.
            </small>
        </p>
    </form>
</div>




