{% if candidacy_without_response_count %}
<p>
    Enter your details below and we'll take you to a page that makes it really simple for you to chase up your candidates.
</p>
{% else %}
<p>
    Democracy can carry on when it isn't election time. Three services you might like.
</p>
{% endif %}

<div id="subscribe_box">
    {% if subscribe_form.errors %}
        {{ subscribe_form.errors }}
    {% endif %}

    <form method="post" action="/quiz/subscribe" id="subscribe_form">
        <p>
            <strong>{{ subscribe_form.name.label_tag }}</strong>
            {{ subscribe_form.name }}
            <br>
            <strong>{{ subscribe_form.email.label_tag }}</strong>
            {{ subscribe_form.email }}
            <br>
            <strong>{{ subscribe_form.postcode.label_tag }}</strong>
            {{ subscribe_form.postcode }}
            <br>
            <span class="signup_checkbox">
                {{ subscribe_form.twfy_signup.label_tag }}
                {{ subscribe_form.twfy_signup }}
            </span>
            <br>
            <span class="signup_checkbox">
                {{ subscribe_form.hfymp_signup.label_tag }}
                {{ subscribe_form.hfymp_signup }}
            </span>
            {% if candidacy_without_response_count %}
                <input type="hidden" name="democlub_signup" value="0" />
                <input type="hidden" name="democlub_redirect" value="1" />
            {% else %}
                <br>
                <span class="signup_checkbox">
                    {{ subscribe_form.democlub_signup.label_tag }}
                    {{ subscribe_form.democlub_signup }}
                </span>
                <input type="hidden" name="democlub_redirect" value="0" />
            {% endif %}
            <br>
            <input type="hidden" name="candidacy_without_response_count" value="{{ candidacy_without_response_count }} " />
            {% if candidacy_without_response_count %}
                <input type="submit" value="Hassle the MP candidates">
            {% else %}
                <input type="submit" value="Join up!">
            {% endif %}
        </p>
        <p>
            <small>
                If you leave the boxes ticked, after the election you will
                receive emails asking you to confirm any subscriptions to
                TheyWorkForYou, HearFromYourMP. 
            </small>
        </p>
    </form>
</div>




