{% if candidacies_without_response %}
<div class="missing">
    <h2>Help us get answers from all your candidates!</h2>

    {% if candidacy_with_response_count %}
        <p>
            We've got answers from {{ candidacy_with_response_count }} applicant{{ candidacy_with_response_count|pluralize }}
            to be your MP. You can explore the answers below.
        </p>

        <p>
            However, candidates from the following parties have not yet put their views on record.
        </p>

        <p>
            {% for candidacy in candidacies_without_response %}
            {% if candidacy.party_image_url %}<img class="block_party_image" src="{{ candidacy.party_image_url}}" alt="{{ candidacy.party }}" title="{{ candidacy.name }} ({{ candidacy.party}})">{% else %}{{ candidacy.party}}{% endif %}
            {% endfor %} 
        </p>

        <p>
            <a href="#subscribe_box">Click here to ask them to go on the record</a>
        </p>
    {% else %}
        <p>
            Although we've got thousands of answers from across the country, none of the applicants to be your
            MP have answered yet.
        </p>

        {% include "_quiz_subscribe_form.html" %}
    {% endif %}
</div> 
{% else %}
    <h2>Welcome to our election survey!</h2>

    <p>
        All the candidates in your constituency have answered the questions. You can explore the answers below.
    </p>
{% endif %}




