{% if shorter_hassle_section %}
<div class="missing" id="missing_short">
{% else %}
<div class="missing" id="missing_long">
{% endif %}

{% if candidacy_without_response_count %}
        <h4><img src="/static/exclamation.png" width="40" height="40" />Stop press: {{ candidacy_without_response_count }} of your candidates haven't gone on the record! </h4>

        {% if not candidacy_with_response_count %}
            <p>
                Although we've got thousands of answers from across the country, none of the applicants to be your
                MP have answered yet.
            </p>
        {% endif %}
	    
        <div class="block_party_wrap">
        {% for candidacy in candidacies_without_response %}
            <div class="block_party_outer">
                    <div class="block_party_image_div">
                    {% if candidacy.party_image_url %}<img class="block_party_image" src="{{ candidacy.party_image_url}}" alt="{{ candidacy.party }}">{% else %}{{ candidacy.party}}{% endif %}
                    </div>
                    {{ candidacy.name }}<br>
		    <span style="font-size: small">({{ candidacy.party}})</span><br>
		    {% if not candidacy.survey_invite_emailed %}
 		     {% if not candidacy.survey_invite_posted %}
		       <em style="font-size: small">because we couldn't contact them</em>
		     {% endif %}
		    {% endif %}


            </div>
        {% endfor %} 
        </div>
        <div class="block_party_clear"></div>

        {% if shorter_hassle_section and candidacy_with_response_count %}
            <p>
                <a href="#missing_long">It's not too late to get them to answer! Here's how...</a>
                <small>(if you're one of them then <a href="/survey">go here</a>)</small>
            </p>
        {% else %}
            <p>
                <small>(if you're one of these candidates then <a href="/survey">go here</a>)</small>
            </p>
            {% include "_quiz_subscribe_form.html" %}
        {% endif %}
{% else %}
    <h2>Keep track of your new MP after the election!</h2>

    {% if shorter_hassle_section %}
        <p>
            <a href="#missing_long">Click here to stay informed about your new MP</a>
        </p>
    {% else %}
        {% include "_quiz_subscribe_form.html" %}
    {% endif %}
{% endif %}

</div> 



