{% extends 'admin_base.html' %}

{% block title %}
    Survey responses
{% endblock %}

{% block content %}

<p>Most recent responses (maximum {{ max_responses }})</p>

{% for c in candidacies %}
<div>
    <h3>
        {% if c.deleted %} <s> {% endif %} 
            {{ c.candidate.name }} ({{ c.seat.name }}, {{ c.candidate.party.name }})
        {% if c.deleted %} </s> {% endif %} 
    </h3> 

    <p><em>Submitted on {{ c.survey_filled_in_when }}</em></p>
    <h4>National</h4>
    <ul>
    {% for r in c.national_responses %}
        {% include "_admin_responses_question.html" %}
    {% endfor %}
    </ul>
    <h4>Local</h4>
    <ul>
    {% for r in c.local_responses %}
        {% include "_admin_responses_question.html" %}
    {% empty %}
        No local answers.
    {% endfor %}
    </ul>
</dl>
</div>
{% endfor %}


{% endblock %}
