{% extends 'admin_base.html' %}

{% block title %}
    Statistics
{% endblock %}

{% block content %}

<p>
<b>Total parties:</b> {{ party_count }}
<br><b>Total candidates:</b> {{ candidate_count }}
<br><b>Total seats:</b> {{ seat_count }}, of which {{ frozen_seat_count }} have frozen local issues
<br><b>Active candidacies:</b> {{ candidacy_count }} 
    <b>Deleted:</b> {{ deleted_candidacy_count }}
    <br><b>Active refined issues:</b> {{ refined_issue_count }} 
    <b>Deleted:</b> {{ deleted_refined_issue_count }} 
</p>

<h2>Candidate survey responses</h2>

<p>
<b>Candidacies emailed:</b> {{ emailed_candidacy_count }} active, {{ deleted_emailed_candidacy_count }} deleted
<br><b>Candidacies posted:</b> {{ posted_candidacy_count }} active, {{ deleted_posted_candidacy_count }} deleted
<br><b>Candidacies filled_in:</b> {{ filled_in_candidacy_count }} active, {{ deleted_filled_in_candidacy_count }} deleted
<br><b>Total survey individual question responses:</b> {{ survey_response_count }} (might included responses to deleted questions)
</p>

<h2>Voter quiz activity</h2>

<p>
<b>Post election signup count:</b> {{ posted_election_signup_count }} active of which {{ posted_election_signup_count_none }} unchecked both TWFY/HFYMP
</p>

{% endblock %}
