<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>TWFY election admin</title>
</head>

<p>
    <a href="/admin">Index</a> |
    <a href="/admin/stats">Stats</a> |
    <a href="/admin/responses">Responses</a> |
    <a href="https://appengine.google.com/dashboard?&app_id=theyworkforyouelection">AppEngine Dashboard</a> 
</p>


<h1>TWFY election admin - {% block title %}{% endblock %}</h1>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>

