<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>TheyWorkForYou Election: It's job interview time for your next MP!</title>
    <meta name="description" content="Every few years, you get to choose who will make our laws, and run our country. We asked individual candidates about local and national issues. You can explore their answers.">
	<meta name="keywords" content="election, General Election, survey, quiz, candidates, PPC, PPCs, Parliament, government, house of commons, MP, Member of Parliament, MPs, Commons, UK, Britain, British">

 <meta property="og:title" content="It's job interview time for your next MP!"/>
 <meta property="og:description" content="Answers that parliamentary candidates across the country have given to a selection of national and local questions"/>
 <meta property="og:url" content="http://election.theyworkforyou.com"/>
 <meta property="og:image" content="http://election.theyworkforyou.com/static/twfy-mini-logo.png"/>
 <meta property="og:site_name" content="TheyWantToWorForYou: election quiz" />
 <meta property="fb:app_id" content="118464748175507" />
 <meta property="og:country-name" content="UK"/>

	{% block meta %}{% endblock %}
    <script type="text/javascript">document.getElementsByTagName('html')[0].className+=' js';</script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/textAreaLimiter.js"></script>   
    <script type="text/javascript" src="/static/bar.js"></script>   
    <script type="text/javascript" src="/static/js.js"></script>   
    <!-- skin: default -->
    <link rel="stylesheet" href="/static/global.css" type="text/css">
    <style type="text/css">
        @import url(/static/global_non_ns4.css);
        @import url(/static/election.css);
    </style>
</head><body{% block extrabody %}{% endblock %}>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '118464748175507', status: true, cookie: true,
             xfbml: true});
  };
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

<div id="container">
    <a name="top"></a>

       <div id="mysociety_bar">

                            <ul>
                    <li id="logo">
                        <a href="http://www.mysociety.org"><img src="/static/mysociety_small.png" alt="mySociety"></a>
                    </li>
                    <li>
                        <a href="http://www.mysociety.org/donate/?cs=1" title="Like this website? Donate to help keep it running.">Donate</a>
                    </li>
                    <li id="moresites">

                        <a id="moresiteslink" href="http://www.mysociety.org/projects/?cs=1" title="Donate to UK Citizens Online Democracy, mySociety's parent charity.">More</a>
                    </li>
                    <li >
                        <noscript>

                            <a href="http://www.mysociety.org/projects/?cs=1" title="View all mySociety's projects">More mySociety projects...</a>&nbsp;&nbsp;
                            <a href="https://secure.mysociety.org/admin/lists/mailman/listinfo/news?cs=1" title="mySociety newsletter - about once a month">mySociety newsletter</a>                
                        </noscript>                   
                    </li>
                </ul>
            </div>
        
            <div id="banner">

        <div id="title">
            <h1><a href="http://election.theyworkforyou.com/" title="To the front page of the site"><img src="/static/logo.png" width="423" height="80" alt="TheyWorkForYou.com"></a></h1>
            <fb:like layout="standard" show_faces="true" width="450" action="like" colorscheme="light"></fb:like>
        </div>
    </div> <!-- end #banner -->

    <div id="menu">
        <div id="topmenu">
        </div>
    </div> <!-- end #menu -->

<div id="content">
<div class="stripe-time-2">
<div class="main">
  {% block content %}
  {% endblock %}
</div>
<div class="break"></div>
</div>
</div> <!-- end #content -->
                <div id="footer">
                    <dl>
                        <dt> About: </dt>
                        <dd>
                        <ul>
                            <li><a href="http://www.democracyclub.org.uk/blog/2010/04/candidate-survey-faq/">Candidate Survey FAQ</a> </li>
                            <li><a href="http://www.theyworkforyou.com/help/">TheyWorkForYou Help</a> </li>
                        </ul>
                        </dd>
                        <dt> Thanks for data from: </dt>
                        <dd>
                        <ul>
                            <li><a href="http://www.democracyclub.org.uk">Democracy Club</a> </li>
                            <li><a href="http://www.yournextmp.com/">YourNextMP</a> </li>
                        </ul>
                        </dd>
                    </dl>
                  <div>

                      <h5>Donate</h5>
                      <p>
                          This website is run by <a href="http://www.mysociety.org/">mySociety</a>, the project of 
                          a <a href="http://www.ukcod.org.uk/">registered charity</a>.
                  If you find it useful, please <a href="http://www.mysociety.org/donate/">donate</a> to keep it running.
                      </p>
                  </div>

<br class="clear">
</div> <!-- end #footer -->
</div> <!-- end #container -->

<script type="text/javascript" charset="utf-8">
    barSetup();
</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10926972-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>

