<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>TheyWorkForYou Election: Who would work for you, if elected MP?</title>
	<meta name="description" content="Making choosing who to vote for easy.">
	<meta name="keywords" content="election, General Election, survey, quiz, candidates, PPC, PPCs, Parliament, government, house of commons, MP, Member of Parliament, MPs, Commons, UK, Britain, British">
    <!-- <script type="text/javascript" src="/js/jquery.js"></script>-->
	<link rel="start" title="Home" href="/">
	<!-- skin: default -->
	<link rel="stylesheet" href="/static/global.css" type="text/css">
	<style type="text/css">
		@import url(/static/global_non_ns4.css);
	</style>
	<link rel="stylesheet" href="/jslib/share/share.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/style/default/print.css" type="text/css" media="print">
<link rel="alternate" type="application/rss+xml" title="TheyWorkForYou RSS" href="http://www.example.org/news/index.rdf"></head><body>

<div>
    <img src="/static/logo.png" alt="TheyWorkForYou.com - Keeping tabs on the UK's parliaments and assemblies">
</div>

<div id="container">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
