<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>TheyWorkForYou Election: Who would work for you, if elected MP?</title>
	<meta name="description" content="Making choosing who to vote for easy.">
	<meta name="keywords" content="election, General Election, survey, quiz, candidates, PPC, PPCs, Parliament, government, house of commons, MP, Member of Parliament, MPs, Commons, UK, Britain, British">
	{% block meta %}{% endblock %}
    <script type="text/javascript">document.getElementsByTagName('html')[0].className+=' js';</script>
    <script type="text/javascript" src="/static/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="/static/textAreaLimiter.js"></script>   
    <script type="text/javascript" src="/static/bar.js"></script>   
    <script type="text/javascript" src="/static/js.js"></script>   
    <!-- skin: default -->
    <link rel="stylesheet" href="/static/global.css" type="text/css">
    <style type="text/css">
        @import url(/static/global_non_ns4.css);
        @import url(/static/election.css);
    </style>
</head><body>
<div id="container">
    <a name="top"></a>

       <div id="mysociety_bar">

                            <ul>
                    <li id="logo">
                        <a href="http://www.mysociety.org"><img src="/static/mysociety_small.png" alt="mySociety"></a>
                    </li>
                    <li>
                        <a href="http://www.mysociety.org/donate/?cs=1" title="Like this website? Donate to help keep it running.">Donate</a>
                    </li>
                    <li id="moresites">

                        <a id="moresiteslink" href="http://www.mysociety.org/projects/?cs=1" title="Donate to UK Citizens Online Democracy, mySociety's parent charity.">More</a>
                    </li>
                    <li >
                        <noscript>

                            <a href="http://www.mysociety.org/projects/?cs=1" title="View all mySociety's projects">More mySociety projects...</a>&nbsp;&nbsp;
                            <a href="https://secure.mysociety.org/admin/lists/mailman/listinfo/news?cs=1" title="mySociety newsletter - about once a month">mySociety newsletter</a>                
                        </noscript>                   
                    </li>
                </ul>
            </div>
        
            <div id="banner">

        <div id="title">
            <h1><a href="http://www.theyworkforyou.com/" title="To the front page of the site"><img src="/static/logo.png" width="423" height="80" alt="TheyWorkForYou.com"></a></h1>
        </div>
    </div> <!-- end #banner -->

    <div id="menu">
        <div id="topmenu">
        </div>
    </div> <!-- end #menu -->

<div id="content">
<div class="stripe-time-2">
<div class="main">
  {% block content %}
  {% endblock %}
</div>
<div class="break"></div>
</div>
</div> <!-- end #content -->
                <div id="footer">
                    <dl>
                        <dt> Thanks for data from: </dt>
                        <dd>
                        <ul>
                            <li><a href="http://www.democracyclub.org.uk">Democracy Club</a> </li>
                            <li><a href="http://www.yournextmp.com/">YourNextMP</a> </li>
                        </ul>
                        </dd>
                    </dl>
                  <div>

                      <h5>Donate</h5>
                      <p>
                          This website is run by <a href="http://www.mysociety.org/">mySociety</a>, the project of 
                          a <a href="http://www.ukcod.org.uk/">registered charity</a>.
                  If you find it useful, please <a href="http://www.mysociety.org/donate/">donate</a> to keep it running.
                      </p>
                  </div>

<br class="clear">
</div> <!-- end #footer -->
</div> <!-- end #container -->

<script type="text/javascript" charset="utf-8">
    barSetup();
</script>

</body>
</html>

