{% block content %}

<h2>
    Guardian Candidate: {{ name_canonical }} 
</h2>

{% if candidacy %}
    <ul>
        <li>    
          Candidate: {{candidacy.candidate.name}}
        </li>
        <li>
            Party: {{ candidacy.candidate.party.name }}
        </li>
        <li>    
            Seat: {{ candidacy.seat.name }}
        </li>
        <li>    
            Key: {{ candidacy.key }}
        </li>
        <li>
            Has survey: <strong>{{ candidacy.survey_filled_in }}</strong>
        </li>
        {% if candidacy.survey_filled_in and candidacy.surveyresponse_set %}
            <li>
                Survey answers:
                <ul>
                    {% for sr in candidacy.surveyresponse_set %}
                        <li>
                            <div style="background-color: #ffff; padding: 4px">
                                {% if not sr.national %}
                                    <strong>
                                        Local:
                                    </strong>
                                {% endif %}
                                {% if sr.refined_issue.short_name %}
                                    <strong>
                                        {{sr.refined_issue.short_name}}:
                                    </strong>
                                {% endif %}
                                {{sr.refined_issue.question}}
                            </div>
                            <div style="background-color: #ffff; padding: 4px">
                                <strong>
                                    {{sr.verb}}
                                </strong>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
{% else %}
    <p>
        {{ error_message }}
    </p>
{% endif %}
<p style="color:#cccccc; font-family:monospace; border-top: 1px solid #cccccc; padding:8px;margin-top:2em;">
    {{ debug_message }}
</p>
{% endblock %}
