{% block content %}
<!-- 
  election.theyworkforyou.com by mySociety:
  {{ debug_message }} 
  {{ error_message }} 
-->
{% if candidacy %}
<!-- 
    Canonical:  {{ name_canonical }} 
    Candidate:  {{ candidacy.candidate.name}}
    Party:      {{ candidacy.candidate.party.name }}
    Seat:       {{ candidacy.seat.name }}
    Has survey: {{ candidacy.survey_filled_in }}
-->
    {% if candidacy.survey_filled_in and candidacy.surveyresponse_set %}
        <style>
            .ms-twfy-container{
                margin: 0;
                padding: 0;
            }
            .ms-twfy-container h2 span{
                display: block;
                color:rgb(153, 153, 153);
                font-weight: normal;
            }
            .ms-twfy-container p{
                margin: 0px 0px 8px 0px;
            }
            .ms-twfy-item {
                margin-top: 16px;
                border-top: 1px solid rgb(153, 153, 153);
                padding 0;
                clear: both;
            }
            .ms-twfy-q {
                margin-top: 4px;
                font-size: 14px;
            }
            .ms-twfy-a{
                float: left;
                width: 88px;
                padding: 3px 0px 6px 2px;
                font-size: 95%;
                margin: 12px 0;
            }
            .ms-twfy-no{
                color: rgb(153, 153, 153);
                background-color: rgb(245, 245, 245);
            }
            .ms-twfy-yes{
                color: rgb(255, 255, 255);
                background-color: rgb(110, 29, 16);
            }
        </style>
        <div class="ms-twfy-container" style="width:460px;">
            <div class="hd">
                <h2>
                    TheyWorkForYou questionnaire
                    <span>
                        Candidates give their response to a series of policy positions
                    </span>
                </h2>
            </div>
            <p>
                <a href="{{url_for_seat}}">Candidate's full explanation</a>
            </p>
            {% for sr in candidacy.surveyresponse_set %}
                <div class="ms-twfy-item">
                    <div class="ms-twfy-q">
                        {{ forloop.counter }}.
                        {% if not sr.national %}
                                Local:
                        {% endif %}
                        {% if sr.refined_issue.short_name %}
                                <!--{{sr.refined_issue.short_name}}:-->
                        {% endif %}
                        "{{sr.refined_issue.question}}"
                    </div>
                    {% for value, label in result_labels %}
                        <div class="ms-twfy-a ms-twfy-{% ifequal value sr.agreement %}yes{%else%}no{%endifequal%}">
                            {{ label|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% endblock %}
