{% extends 'base.html' %}

{% block content %}

<div class="stripe-side"> 
<div class="main"> 

<h2>
    It's job interview time for your next MP!
</h2>

<p>
</p>

<p>
Every five years or so, you get to choose who will <strong>make our laws</strong>, 
and <strong>run our country</strong>.
</p>

<p>
If you're a candidate, you're about to be <strong>interviewed</strong>.
</p>

<p>
If you're a voter, get ready to pick someone who will <strong>work for you</strong>.
</p>

</div>
</div>

{% endblock %}
