{% extends 'base.html' %}

{% block content %}

<h2>
    It's job interview time for your next MP!
</h2>

<p>
</p>

<p>
Every five years or so, you get to choose who will <strong>make our laws</strong>, 
and <strong>run our country</strong>.
</p>

<p>
If you're a candidate, you're about to be <strong>interviewed</strong>.
</p>

<p>
If you're a voter, get ready to pick someone who will <strong>work for you</strong>.
</p>

<h2>
    We need your help!
</h2>

<p>
</p>

<p>It's all hands on deck to do a good job of this in a short time. 
<a href="http://www.democracyclub.org.uk">Sign up to Democracy Club</a> 
to get simple, quick ways you can help.
</p>

{% endblock %}
