{% extends 'base.html' %}

{% block content %}

<h2>Thank you!</h2>

{% if democlub_signup %}
    <p>
        You will shortly receive an email where you need to confirm
        your subscription to Democracy Club. Please check your spam filters
        if you do not get it.
    </p>

{% endif %}

{% if twfy_signup and hfymp_signup %}
    <p>You will receive emails asking you to
    confirm your subscriptions to TheyWorkForYou and HearFromYourMP.</p>
{% else %}
    {% if twfy_signup %}
        <p>You will receive an email asking you
        to confirm your subscription to TheyWorkForYou.</p>
    {% endif %}

    {% if hfymp_signup %}
        <p>You will receive an email asking you
        to confirm your subscription to HearFromYourMP.</p>
    {% endif %}

{% endif %}

<p>
    <a href="/quiz/{{ urlise_postcode }}">Return to the MP candidate survey results</a>
</p>

{% endblock %}
