{% extends 'base.html' %}
{% block meta %}
{% if candidacy_without_response_count %}
<META HTTP-EQUIV=Refresh CONTENT="3; URL={{seat.democracyclub_url }}?email={{email|escape}}&postcode={{postcode|escape}}&name={{name|escape}}">
{% endif %}
{% endblock %}

{% block content %}

{% if candidacy_without_response_count %}
<p>
 You are now being redirected to a page on Democracy Club where you can chase up your candidates, or <a href="{{ seat.democracyclub_url }}?email={{email|escape}}&postcode={{postcode|escape}}&name={{name|escape}}">go directly to the candidates page</a>.
</p>
{% endif %}

{% if twfy_signup or hfymp_signup %}
    <h2>After the election...</h2>
{% endif %}

{% if twfy_signup and hfymp_signup %}
    <p>You will receive emails asking you to
    confirm your subscriptions to TheyWorkForYou and HearFromYourMP.</p>
{% else %}
    {% if twfy_signup %}
        <p>You will receive an email asking you
        to confirm your subscription to TheyWorkForYou.</p>
    {% endif %}

    {% if hfymp_signup %}
        <p>You will receive an email asking you
        to confirm your subscription to HearFromYourMP.</p>
    {% endif %}

{% endif %}

{% endblock %}
