{% extends 'base.html' %}

{% block content %}

<p>
</p>

<div id="postcode_quiz_page">

<h2>
    It's job interview time for your next MP!
</h2>

<p>
</p>

<p>
    Every five years or so, you get to choose who will <strong>make our laws</strong>, 
    and <strong>run our country</strong>.  
</p>

{% if form.postcode.errors %}
    <p class="error">
        {{ form.postcode.errors|join:" " }}
    </p>
{% endif %}

<form method="post" action="/quiz" id="postcode_form">
    <p>
        <strong>{{ form.postcode.label_tag }}</strong> 
        <br>
        {{ form.postcode }}
        <input type="submit" value="Go!">
        <br>e.g. OX1 3DR (don't worry about spaces or capialisation)
    </p>
</form>

</div>

<p></p>

{% endblock %}
