{% extends 'base.html' %}
{% block extrabody %} id="postcode"{% endblock %}

{% block content %}
<div id="welcome_uk">
<div id="postcode_quiz_page">

<h2>
    Election quiz: it&rsquo;s job interview time for your next MP!
</h2>

<p>
    Every few years, you get to choose who will <strong>make our laws</strong>, 
    and <strong>run our country</strong>.  
</p>

<p> 
    We asked individual candidates about <strong>local and national</strong> issues. 
    You can explore their answers.
</p>

{% if form.postcode.errors %}
    <p class="error">
        {{ form.postcode.errors|join:" " }}
    </p>
{% endif %}

<form method="post" action="/quiz" id="postcode_form">
    <p id="postcode_line">
        <strong>{{ form.postcode.label_tag }}</strong> 
        {{ form.postcode }}
        <input type="submit" value="Go!">
    </p>
    <p>e.g. OX1 3DR <small>(don&rsquo;t worry about spaces or capitalisation)</small></p>
</form>

</div>

<div id="facebook">
<fb:activity site="election.theyworkforyou.com" width="300" height="300" header="true" colorscheme="light"></fb:activity>
</div>

</div>

<p></p>

{% endblock %}
