{% extends 'base.html' %}

{% block content %}

<h2>Interview the candidates to be MP for {{ seat.name }}</h2>

<!--<p class="error">
    Dummy error
</p> -->

</div>
<div class="break"></div>
</div>

<div class="stripe-time-2">
<div class="main">

<p>
    There are <strong>{{ candidacy_count }} 
    {{ candidacy_count|pluralize:"person,people" }}</strong> who want to be an
    MP where you live, in <strong>{{ seat.name }}</strong> constituency.
</p>

{% ifnotequal candidacy_without_response_count 0 %}
<h3>{{ candidacy_without_response_count }} candidate{{ candidacy_without_response_count|pluralize }} {{ candidacy_without_response_count|pluralize:"has,have" }} not yet responded</h3>
    <p>
    <ul>
    {% for candidacy in candidacies_without_response %}
            <li>
                {% include "_quiz_candidacy.html" %} 
            </li>
    {% endfor %} 
    </ul>
    </p>
{% endifnotequal %}

<h3>{{ candidacy_with_response_count }} candidate{{ candidacy_with_response_count|pluralize }} {{ candidacy_with_response_count|pluralize:"has,have" }} responded</h3>

<h4>National issues</h4>
<p>Click on any statements you would like the candidate's views on.</p>

    <ul class="answers national">
        {% for national_answer in national_answers %}

        <li>
            <div class="statement">
                <strong> {{ national_answer.short_name }} </strong>
                {{ national_answer.question }}
            </div>
            <div class="full_answers">
                <ul>
                {% for candidacy in national_answer.candidacies %}
                    <li>
                        {% include "_quiz_candidacy.html" %}
                        {{ candidacy.agreement_verb }}{% if candidacy.more_explanation %}, saying "{{ candidacy.more_explanation }}"{% else %}.{% endif %}
                    </li>
                {% endfor %} 
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>

<h4>Local issues</h4>
    <p>Submitted by volunteers like you in {{ seat.name }} constituency.</p>
    {% if answers.local_issues %}
        <ul class="answers local">
            {% for local_issue in answers.local_issues %}
            <li>
                <div class="statement">
                    {{ local_issue.question }}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul class="answers local">
            <li>
                <div class="issues_note">We asked volunteers to find local questions, but unfortunately
                    none have been submitted for this constituency.
                </div>
            </li>
        </ul>
    {% endif %}

</div>
<div class="sidebar">
    <!-- Any sidebar text goes here -->

{% endblock %}
