{% extends 'base.html' %}

{% block content %}

{% if twfy_signup or hfymp_signup %}
    <h2>After the election...</h2>
{% endif %}

{% if twfy_signup and hfymp_signup %}
    <p>You will receive emails asking you to
    confirm your subscriptions to TheyWorkForYou and HearFromYourMP.</p>
{% else %}
    {% if twfy_signup %}
        <p>You will receive an email asking you
        to confirm your subscription to TheyWorkForYou.</p>
    {% endif %}

    {% if hfymp_signup %}
        <p>You will receive an email asking you
        to confirm your subscription to HearFromYourMP.</p>
    {% endif %}

{% endif %}

{% endblock %}
