{% extends 'base.html' %}

{% block content %}

<h2>Scan the issues, and click on the ones that you feel strongest about</h2>

<!--<p class="error">
    Dummy error
</p> -->

</div>
<div class="break"></div>
</div>

<div class="stripe-time-2">
<div class="main">

<h4>Local statements (for {{ seat.name }} constituency)</h4>
    {% if local_issues_count %}
        <ul class="answers local">
            {% for local_answer in local_answers %}
            <li class="answer">
                <div class="statement">
                    <strong>{{ forloop.counter }}.</strong> 
                    &ldquo;{{ local_answer.question }}&rdquo;
                    <script type="text/javascript" charset="utf-8">
                        document.write('<a href=""><span class="findout">Responses &dArr;</span></a>');
                    </script>
                </div>
                <div class="full_answers">
                    <ul>
                    {% for candidacy in local_answer.candidacies %}
                        <li>
                            {% include "_quiz_candidacy.html" %}
                            {% include "_quiz_agreement.html" %}
                        </li>
                    {% endfor %} 
                    {% include "_quiz_without_response.html" %}
                    </ul>
                    <script type="text/javascript" charset="utf-8">
                        document.write('<p align="right"><a class="inner_hide" href="">Hide</a></p>');
                    </script>
                </div>
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <ul class="answers local">
            <li>
                <div class="issues_note">We asked volunteers to find local questions, but unfortunately
                    none have been submitted for this constituency.
                </div>
            </li>
        </ul>
    {% endif %}

<h4>National statements</h4>
    <ul class="answers national">
        {% for national_answer in national_answers %}
        <li class="answer">
            <div class="statement">
                <strong> {{ national_answer.short_name }} </strong>
                &ldquo;{{ national_answer.question }}&rdquo;
                <script type="text/javascript" charset="utf-8">
                    document.write('<a href=""><span class="findout">Responses &dArr;</span></a>');
                </script>
            </div>
            <div class="full_answers">
                <ul>
                {% for candidacy in national_answer.candidacies %}
                    <li>
                        {% include "_quiz_candidacy.html" %}
                        {% include "_quiz_agreement.html" %}
                    </li>
                {% endfor %} 
                {% include "_quiz_without_response.html" %}
                </ul>
                <script type="text/javascript" charset="utf-8">
                    document.write('<p align="right"><a class="inner_hide" href="">Hide</a></p>');
                </script>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

<div class="sidebar">
    <!-- Any sidebar text goes here -->
    <h1>Tell your friends</h1>

    <a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

    <br><a href="http://twitter.com/home/?status=Just%20tried%20TheyWorkForYou's%20election%20candidate%20explorer%20-%20has%20local%20and%20national%20issues%20http://election.theyworkforyou.com/quiz"><img src="/static/tweetthis-15.gif"></a>

{% endblock %}
