{% extends 'base.html' %}

{% block content %}


{% if candidacies_without_response %}
    <h2>Help us get answers from all your candidates!</h2>

    {% if candidacy_with_response_count %}
        <p>
            We've got answers from {{ candidacy_with_response_count }} applicant{{ candidacy_with_response_count|pluralize }}
            to be your MP. You can explore the answers below.
        </p>

        <p>
            However, 
            {% for candidacy in candidacies_without_response %}
                {% if forloop.last %} and {% endif %}<strong>{{ candidacy.name }}</strong> ({{ candidacy.party }}){% if not forloop.last %},{% else %}{% endif %}
            {% endfor %} 
            have not yet put their views on the record.
        </p>

        <p>
            <a href="#subscribe_box">Click here to ask them to go on the record</a>
        </p>
    {% else %}
        <p>
            Although we've got thousands of answers from across the country, none of the applicants to be your
            MP have answered yet.
        </p>

        {% include "_quiz_subscribe_form.html" %}
    {% endif %}
                
{% else %}
    <h2>Welcome to our election survey!</h2>

    <p>
        All the candidates in your constituency have answered the questions. You can explore the answers below.
    </p>
{% endif %}



<h2>Scan the issues, and select how you feel about them</h2>

</div>
<div class="break"></div>
</div>

<div class="stripe-time-2">
<div class="main">

<h4>Local statements (for {{ seat.name }} constituency)</h4>
    {% if local_issues_count %}
        <ul class="answers local">
            {% for local_answer in local_answers %}
            <li class="answer">
                <div class="statement">
                    <blockquote>{{ local_answer.question }}</blockquote>
                </div>
                <div class="full_answers">
		    <table class="answers">
	            {% include "_quiz_agreement_table_header.html" %}
                    {% for candidacy in local_answer.candidacies %}
                    {% include "_quiz_agreement.html" %}
                    {% endfor %} 
		    </table>
                </div>
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <ul class="answers local">
            <li>
                <div class="issues_note">We asked volunteers to find local questions, but unfortunately
                    none have been submitted for this constituency.
                </div>
            </li>
        </ul>
    {% endif %}

<h4>National statements</h4>
    <ul class="answers national">
        {% for national_answer in national_answers %}
        <li class="answer">
            <div class="statement">
                <strong> {{ national_answer.short_name }} </strong>
                <blockquote>{{ national_answer.question }}</blockquote>
            </div>
            <div class="full_answers">
		    <table class="answers">
	            {% include "_quiz_agreement_table_header.html" %}
                    {% for candidacy in national_answer.candidacies %}
                    {% include "_quiz_agreement.html" %}
                    {% endfor %} 
		    </table>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% if candidacies_without_response %}
        <h2>Help us get answers from your candidates!</h2>
        <p>We've not got survey results for candidates in any of these parties:</p>
        <div>
        {% for candidacy in candidacies_without_response %}
            {% if candidacy.party_image_url %}<img class="party_image" src="{{ candidacy.party_image_url}}" alt="{{ candidacy.party }}">{% else %}{{ candidacy.party}}{% endif %}
        {% endfor %} 
        </div>
        <div class="clear_statement"></div>
    {% else %}
        <h2>Watch your MP after the election too!</h2>

        <p>TheyWorkForYou thinks it is important that we all pay a little bit of
        attention to what our MPs do once elected.  Please sign up so we can update you 
        on what your new MP gets up to.</p>
    {% endif %}

    {% include "_quiz_subscribe_form.html" %}

</div>

<div class="tell-friends">
    <!-- Any sidebar text goes here -->
    <h2>Tell your friends</h2>

    <a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

    <br><a href="http://twitter.com/home/?status=Just%20tried%20TheyWorkForYou's%20election%20candidate%20explorer%20-%20has%20local%20and%20national%20issues%20http://election.theyworkforyou.com/quiz"><img src="/static/tweetthis-15.gif"></a>
{% endblock %}
