{% extends 'base.html' %}

{% block content %}

<h2>Survey</h2>

<form method="post">
{% for form in issue_forms %}
{{ form.errors }}
<p>{{ form }}</p>
{% endfor %}
<input type="submit" value="Go go Gadget form">
</form>

<!--
{% if form %}
    <form action="" method="post" id="add_issue">
         <div class="fieldWrapper">
            {{ form.agreement.errors }}
            <label for="id_agreement">
                Some voters in {{ constituency.name }} think that...
            </label>
            <input id="id_agreement" name="agreement" maxlength="200" type="text" class="sample">
        </div>
        <input type="submit" value="Save" id="id_save" /> <span class="quiet" id="id_guide">(enter an idea first)</span>
    </form>
{% endif %}
-->


{% endblock %}
