{% extends 'base.html' %}

{% block content %}

<h2>TheyWorkForYou 2010 General Election PPC survey</h2>

<p>
This page shows the questions asked, and which candidates have responded so
far, for <a href="http://www.mysociety.org/2010/04/15/theyworkforyou-election-survey/">TheyWorkForYou's
    election survey</a> in the constituency of {{ seat.name }}. The results
will be published in a quiz before election day.
</p>

<h3>Seats</h3>

<ul>
{% for seat in seats %}
    <li>
        <a href="/survey/seats/{{ seat.code }}">{{ seat.name }}</a>
     </li>

{% endfor %}
</ul>
