{% extends 'base.html' %}

{% block content %}

<h2>Please enter your candidate code</h2>

{% if error %}
<div id="error">
    Sorry, we couldn't find that code. Please check it carefully and try again.
    It doesn't matter if you type the letters in upper or lower case, or put in
    extra spaces or punctuation.
</div>
{% endif %}

<form method="post">
{{ form.errors }}
{{ form.token }}
<input type="hidden" name="auth_submitted" value="1" > 
<input type="submit" value="Submit">
</form>


{% endblock %}
