{% extends 'base.html' %}

{% block content %}

<h2>TheyWorkForYou PPC survey</h2>

{% if autosave_when %}
    <p class="error">Thanks for coming back to the survey! Your answers so far are filled in below.</p>
{% else %}
    {% if unfinished %}
        {% include "_survey_candidacy_incomplete.html" %}
    {% else %}
        <p>
            Hello, {{ candidate.name }}. Please carefully state your views on the
            national and local issues below. 
        </p>

        <p>
            Your responses will be used by voters in the run
            up to the Election, and if you become an MP they will
            become a record of your views on TheyWorkForYou.com.
        </p>
    {% endif %}
{% endif %}

</div>
<div class="break"></div>
</div>

<div class="stripe-time-2">
<div class="main">

<form method="post" action="/survey" id="electionsurvey">
    <h3>National issues</h3>
        <ul class="questions">
            <li>
                <div class="issues_note">These questions were all approved as fair by a panel of judges
                from across the political spectrum.
                </div>
            </li>
            {% for form in national_issue_forms %}
            <li>
                <div class="agreement{% if unfinished and form.agreement.errors %} error{% endif %}">
                    <strong>{{ forloop.counter }}. {{ form.agreement.label_tag }}</strong> 
                    {{ form.agreement }}
                </div>
                <div class="more_explanation">
                    {{ form.more_explanation.label_tag }}
                    {{ form.more_explanation }}
                </div>
            </li>
            {% endfor %}
        </ul>

    <h3>Local issues for {{ seat.name }}</h3>
        {% if local_issue_forms %}
            <ul class="questions">
                <li>
                    <div class="issues_note">We asked volunteers in your constituency to find these questions.
                    </div>
                </li>
                {% for form in local_issue_forms %}
                <li>
                    <div class="agreement{% if unfinished and form.agreement.errors %} error{% endif %}">
                        <strong>{{ forloop.counter }}. {{ form.agreement.label_tag }}</strong> 
                        {{ form.agreement }}
                    </div>
                    <div class="more_explanation">
                        {{ form.more_explanation.label_tag }} 
                        {{ form.more_explanation }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <ul class="questions">
                <li>
                    <div class="issues_note">We asked volunteers to find local questions, but unfortunately
                        none have been submitted for this constituency.
                    </div>
                </li>
            </ul>
        {% endif %}

    <input type="hidden" name="token" value="{{ token }}" id="token" > 
    <input type="hidden" name="questions_submitted" value="1" > 

    {% if unfinished %}
        {% include "_survey_candidacy_incomplete.html" %}
    {% endif %}

    <p><input type="submit" value="Submit survey"></p>
</form>

</div>
<div class="sidebar">
    <script type="text/javascript" charset="utf-8">
        document.write('<p class="autosave-note"><strong>Don\'t worry!</strong> Your responses are saved to draft as you fill them in. You can close the window or go away, and carry on later.</p> <div id="autosave">Draft automatically saved</div>');
    </script>

{% endblock %}
