# An example configuration for running TheyWorkForYou under nginx.
# You will also need to set up a PHP backend.

upstream php {
    server 127.0.0.1:9000;
}

server {

    access_log /var/www/theyworkforyou/logs/access.log;
    error_log /var/www/theyworkforyou/logs/error.log;

    listen 80;
    root /var/www/theyworkforyou/theyworkforyou/www/docs;
    index index.php index.html;

    error_page 503 /down.html;
    fastcgi_intercept_errors on;
    error_page 404 /404.php;

    # Make sure that Javascript and CSS are compressed.  (HTML is
    # already compressed under the default configuration of the nginx
    # package.)
    gzip on;
    gzip_disable "msie6";
    gzip_types application/javascript application/x-javascript text/css;

    # Prevent the mangling of Javascript by proxies:
    location ~ \.js$ {
        add_header Cache-Control no-transform;
    }

    location / {
        if (-f $document_root/down.html) {
            return 503;
        }
        try_files $uri $uri/ $uri.php;
    }

    location /down.html {
        internal;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass   php;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    # These rewrite rules are ported from the Apache configuration in
    # conf/httpd.conf, and is incomplete.

    # List of rep pages
    rewrite ^/(msp|mla|peer)s/$      /mps/index.php?$1=1;

    # Links in emails 
    rewrite ^/A/(.*)$     /alert/index.php?action=Confirm&t=$1;
    rewrite ^/D/(.*)$     /alert/index.php?t=$1;
    rewrite ^/U/(.*)$     /user/confirm/index.php?t=$1;
    rewrite ^/E/(.*)$     /user/confirm/index.php?c=email&t=$1;
    rewrite ^/B/(.*)$     /freeourbills/subscribe.php?t=$1;

    rewrite ^/termsofuse http://www.theyworkforyou.com/about permanent;
    rewrite ^/raw http://parser.theyworkforyou.com permanent;

    # API
    rewrite ^/api/((get|convert).*)$ /api/index.php?method=$1;
    rewrite ^/api/docs/?$            /api/ permanent;
    rewrite ^/api/docs/(.*)$         /api/index.php?docs=1&method=$1;

    # Other people types
    rewrite ^/(peer|royal|mla|msp)/$      /mp/index.php?$1=1;
    # Inherited the title in 2003
    rewrite ^/peer/viscount_cranborne  /peer/marquess_of_salisbury permanent;
    rewrite ^/(peer|royal|mla|msp)/(.+)   /mp/$2?$1=1;

    # Calendar
    rewrite ^/calendar/([0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9])$ /calendar/index.php?d=$1;

    # MP pages
    rewrite ^(/mp/([0-9]+)[\(\)\.a-zA-Z_+,'-/]*)$      /mp/index.php?pid=$2&url=$1;

    # Canonical, numeric MP profile pages
    rewrite ^(/mp/([0-9]+)[\(\)\.a-zA-Z_+,'-/]*)/votes$  /mp/index.php?pid=$2&url=$1/votes&pagetype=votes;
    rewrite ^(/mp/([0-9]+)[\(\)\.a-zA-Z_+,'-/]*)$        /mp/index.php?pid=$2&url=$1&pagetype=profile;

    # Assorted other ways of getting to an MP

    rewrite ^/mp/(['a-zA-Z_+-]+)/([\(\)\.a-zA-Z_+,'-]+)$      /mp/index.php?n=$1&c=$2;
    rewrite "^/mp/(['a-zA-Z_\ +-]+)\ mp/?$"  /mp/index.php?n=$1;
    rewrite "^/mp/(['a-zA-Z_\ +-]+)/?$"       /mp/index.php?n=$1;

    # Public Bill Committees
    rewrite ^/pbc/([0-9][0-9][0-9][0-9]-[0-9][0-9])$                /pbc/$1/ permanent;
    rewrite ^/pbc/([0-9][0-9][0-9][0-9]-[0-9][0-9])/$               /pbc/index.php?session=$1;
    rewrite ^/pbc/([0-9][0-9][0-9][0-9]-[0-9][0-9])/([^/]+)$        /pbc/$1/$2/ permanent;
    rewrite ^/pbc/([0-9][0-9][0-9][0-9]-[0-9][0-9])/([^/]+)/$       /pbc/index.php?session=$1&bill=$2;
    rewrite ^/pbc/([0-9][0-9][0-9][0-9]-[0-9][0-9])/([^/]+)/(.+)$   /pbc/index.php?session=$1&bill=$2&id=$3;

    rewrite ^/alerts/.*$ /alert/ permanent;
    rewrite ^/rss/mp/$   /mp/ redirect;

    # News
    rewrite ^/news/archives/(.*)$  /news/index.php/archives/$1;
    rewrite ^/news/index.rdf$      /news/rdf.php;
}

