.about-page {
    hr {
        max-width: none !important;
        margin: 2em 0;
    }

    h2 {
        max-width: none !important;
    }
}

.about-section {
    @include grid-row(collapse);

    margin-bottom: 2em;
    border-radius: 3px;
    background-color: white;
}

.about-section__primary {
    @include grid-column(12, $collapse: true);
    padding: 1em;
    border-bottom: 1px solid $colour_off_white;

    @media (min-width: $medium-screen) {
        padding: 2.5em 3em;
    }

    @media (min-width: $large-screen) {
        @include grid-column(8, $collapse: true);
        padding: 2.5em 3em;
        border-bottom: none;
        border-right: 1px solid $colour_off_white;
    }
}

.about-section__secondary {
    @include grid-column(12, $collapse: true);
    padding: 1.5em;

    @media (min-width: $medium-screen) {
        padding: 2.5em 2em;
    }

    @media (min-width: $large-screen) {
        @include grid-column(4, $collapse: true);
        padding: 2.5em 2em;
    }

    a {
        word-break: normal;
        overflow-wrap: normal;
        hyphens: none;
    }

    h3 {
        margin-bottom: 1rem;
    }
}

.about-page__features {
    @include clearfix();
    list-style: none;
    margin: 0;

    @media (min-width: 45em) {
        margin-top: 2em 0 1em 0;
    }

    li {
        padding: 1em 1.5em;
        border-left: 0.4em solid $primary-color;
        background-color: $body-bg;
        margin: 0 0 1em 0;

        @media (min-width: 45em) {
            float: left;
            width: 47%;
            margin-right: 3%;
        }
    }
}

.about-page__donate {
    display: inline-block;
    max-width: none !important;
    background-color: #ffffcc;
    padding: 1em 1.5em;
    border-left: 0.4em solid $primary-color;
}

.about-page__volunteers {
    @include clearfix();

    li {
        @media (min-width: 30em) {
            float: left;
            width: 50%;
            padding-right: 2em; // make room for the bullet on the next item
        }

        @media (min-width: 45em) {
            width: 33%;
        }
    }
}
