.account-form__field--error {
    color: #f00;
    label {
        color: #f00;
    }
    input {
        border-color: red;
    }
}

.StripeElement {
    @include form-element;
}

.row--submit {
    display: flex;
    align-items: center;
}

.row--submit button {
    margin-bottom: 0;
}

.mysoc-spinner--small {
    margin-left: 1em;
    font-size: 0.5em;
    display: none;
}

$mysoc-spinner-color: #62b356;
@import "spinner";
