.account-form__errors {
    color: red;
    background-color: mix(red, #fff, 10%);
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin: 1em 0;

    .errorlist {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }    }
}

.account-form__field--error {
    color: #f00;
    label {
        color: #f00;
    }
    input {
        border-color: red;
    }
}

.StripeElement {
    @include form-element;
}

.row--submit {
    display: flex;
    align-items: center;
}

.row--submit button {
    margin-bottom: 0;
}

.mysoc-spinner--small {
    margin-left: 1em;
    font-size: 0.5em;
    display: none;
}

$mysoc-spinner-color: #62b356;
@import "spinner";
