.hero {
    background-color: $primary-color;
    color: #000;
}


.site-home__logo {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    @media (min-width: $medium-screen) {
        font-size: 2em;
    }
    @media (min-width: $large-screen) {
        font-size: 2.5em;
    }
  }
.home__search{
    .home__tagline {
        font-size: 1.2em;
        color: #fff;
        margin-bottom: 1em;

        @media (min-width: $medium-screen) {
            font-size: 1.5em;
        }
    }
}

.mysoc__org__logo {
    display: block;
    margin-top: 0.5em;
    height: 0;
    overflow: hidden;
    padding-top: 40px;
  }
  
  .mysoc__org__logo--mysociety {
    width: 170px;
    background-size: contain;
    background-image: url('#{$mysoc-footer-image-path}logo-mysociety-white.svg'), none;
    background-repeat: no-repeat;
    margin-top: -0.5em;
  }

.hero__mp-search {
    @include grid-column(12);
    background-image: url('../img/homepage-hero-background-large.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 1em 1em 2em;
    @media (min-width: $medium-screen) {
        padding-top: 3.5em;
        padding-bottom: 5.75em;
        padding-left: 3em;
    }
    @media (min-width: $large-screen) {
        @include grid-column(7);
    }

    label {
        font-size: emCalc(21);
        color: #fff;
        text-shadow: 0 1px 2px rgba(0,0,0,0.2);
        margin-bottom: 0.6em;
        display: block;
    }

    h1 {
        line-height: 1.05em;
        color: #fff;
        text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
        letter-spacing: -0.5px;
        @media (min-width: $medium-screen) {
            font-size: emCalc(68);
            margin-right: 1em;
        }
        @media (min-width: $large-screen) {
            margin-right: 0;
        }
    }

    h1,
    .row {
        @media (min-width: $large-screen) {
            padding-left: 54px;
            //need this here to add spacing on desktop, easier than adding a wrapper div
        }
    }
}

.hero__site-intro {
    @include grid-column(12);
    @media (min-width: $large-screen) {
        @include grid-column(5);
    }
    h2 {
        color: #000;
        line-height: 1.05em;
        font-size: emCalc(32);
    }
    p {
        line-height: 1.4em;
    }
    a {
        color: #000;
    }
}

.site-intro__more-link {
    font-weight: 600;
    line-height: 1.4em;
    i {
        opacity: 0.66;
    }
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        opacity: 0.66;
    }
}

.hero__site-intro__wrap {
    padding: 1.5em 1em 2em 1em;
    @media (min-width: $medium-screen) {
        padding: 2em;
    }
    @media (min-width: $large-screen) {
        padding-right: 1em;
    }
}

.promo-banner + .hero {
    // Makes hero container width instead of full width,
    //  when promo banner is displayed
    margin-top: 3em;
    background-color: transparent;
    .hero__row {
        background-color: $primary-color;
    }

}

input.homepage-search__input {
    border: 0;
    padding: 0 0.5em;
    -webkit-appearance: none;
    height: 2.333333333em;
    line-height: 2.333333333em;
    margin-bottom: 0;
    font-size: emCalc(16);
    @media (min-width: $medium-screen) {
        height: 2.666666667em;
        line-height: 2.666666667em;
        border-top-left-radius: $global-radius;
        border-bottom-left-radius: $global-radius;
        font-size: emCalc(21);
    }
}

.mp-search__form {
    @media (min-width: $medium-screen) {
        max-width: emCalc(380);
    }
}

.homepage-search__button,
input.homepage-search__button {
    margin-top: 1em;
    position: relative;
    left: -1px;
    margin-bottom: 0;
    width: 100%;
    font-size: emCalc(21);
}

input.homepage-search__button {
    @media (min-width: $medium-screen) {
        width: auto;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: 0;
    }
}

.homepage-search__change-postcode {
    color: #fff;
    margin-top: 1em;
    display: inline-block;
    &:hover,
    &:active,
    &:focus {
        color: #fff;
    }
}

.homepage-rep-list {
    @extend .unstyled-list;
    margin-top: 1em;
    li {
        color: #FFF;
        display: inline-block;
        a {
            color: #fff;
        }
        &.homepage-rep-list__rep:after {
            content: ", ";
        }
        &.homepage-rep-list__rep:last-child:after {
            content: "";
        }
    }
}

.home__quick-links{
    @include grid-row;
    
    @media (min-width: $large-screen) {
        position: absolute;
        top: 3em;
    }

    .quick-links__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
        list-style: none;
        margin-left: 0;
        margin-top: 2em;

        @media (min-width: $large-screen) {
            justify-content: space-between;
            flex-wrap: nowrap;
            margin-top: 0;
            li {
                flex: 1;
            }
        }
    
        .quick-links__item {
            padding: 0.5em;
            background-color: #fff;
            height: 100%;

            a {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 0.2em;
                color: $links;

                span {
                    max-width: 150px;
                    font-size: 0.8em;
                    line-height: 120%;
                    font-weight: bold;

                    @media (min-width: $large-screen) {
                        max-width: 170px;
                        font-size: 0.9em;
                    }
                }

                i {
                    $icon-size: 2.5em;
                    width: $icon-size;
                    text-align: center;
                    display: inline-block;
                    &::before{
                        vertical-align: middle;
                        font-size: $icon-size;
                    }
                }
            }
        }
    }
}

.homepage-panels {
    margin-top: emCalc(60);
}

.parl-top-link{
    font-weight: 600;
}

.top-level-parl{
    list-style-type: none;
}


.homepage-parl-column {
    @include grid-column(12);
    padding-top: 0em;
    padding-bottom: 0em;
    @media (min-width: $large-screen) {
        @include grid-column(3);
        border-right: 1px solid $colour_off_white;
    }
}

.homepage-parl-list {
    padding-top: 2em;
    padding-bottom: 2em;
}

.homepage-parl-nav {
    margin:0px 0px 0px 0px
}

.homepage-featured-content {
    @include grid-column(12);
    padding-top: 2em;
    padding-bottom: 2em;
    @media (min-width: $large-screen) {
        @include grid-column(9);
        border-right: 1px solid $colour_off_white;
    }
}

.featured-content__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    @media (min-width: $large-screen) {
        row-gap: 0;
        flex-direction: row;
        column-gap: 1.5em;
    }
}

.featured_side__mysociety{
    text-align: center;
}

.featured-content__image {
    max-width: 300px;
    object-fit: cover;
}

.featured-content__title {
    font-size: 1.77778em;
    margin-bottom: 0.5em;
}

.featured-content__description {
    margin-bottom: 0.5em;
    font-size: 1.125em;
    @media (min-width: $medium-screen) {
        font-size: 1em;

        .parliamentary-excerpt--no-category & {
            padding-right: 0;
        }
    }
}

.featured-content__button {
    margin-bottom: 0;
}

.key-events__list {
    @extend .inline-list;
    font-size: emCalc(16);
    line-height: 1.4em;
    margin-top: 0;
    li {
        width: auto;
        max-width: 15em;
    }
    h4 {
        font-size: emCalc(14);
        text-transform: uppercase;
        color: $colour_grey;
        font-weight: 600;
        margin-top: 0.4em;
    }
}



.homepage-create-alert {
    padding-top: 2em;
    padding-bottom: 2em;
    @include grid-column(12);
    border-top: 1px solid $colour_off_white;
    @media (min-width: $large-screen) {
        @include grid-column(3);
        border-top: 0;
    }
    p {
        line-height: 1.4em;
        font-size: 0.888888889em;
        @media (min-width: $medium-screen) {
            font-size: 1em;
        }
    }
}

.create-alert__heading {
    font-size: 1.77778em;
    color: $colour_violet;
    margin-top: 0;
}

.create-alert__button {
    font-size: emCalc(21);
    text-align: left;
    width: 100%;
}

.home__search {
    @include grid-column(12);
    @media (min-width: $large-screen) {
        @include grid-column(8);
    }
    label {
        font-size: emCalc(24);
        margin-bottom: 0.5em;
    }
}

.home__search-suggestions {
    margin: 0.5em 0 1.2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 0.3em;

    h3 {
        font-size: emCalc(14);
        font-weight: normal;
    }
}

.home__search-suggestions p, .home__search-suggestions ul {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.search-suggestions__list {
    @include inline-list;
    font-size: emCalc(14);
    line-height: 1.5em;
    margin-top: 0.5em;
    
    :first-child {
        margin-left: 0;
    }

    li {
        &:last-child:after {
            content:"";
        }
    }
    a {
        @extend .button--white;
        color: $body-font-color;
        padding: 0.2em 0.6em;
        margin-bottom: 0;
        @include border-radius(12px);

        &:hover {
            text-decoration: none;
        }
    }
}

.homepage-content-section {
    h2 {
        font-size: 1.5em;
        color: $colour_dark_grey;
        margin-bottom: 1em;
    }

    // Extra space above when not first child
    * + h2 {
        margin-top: 2em;
    }
}

.homepage-recently {
    @include grid-column(12);
    padding-top: 2em;
    padding-bottom: 2em;
    @media (min-width: $large-screen) {
        @include grid-column(8);
        border-right: 1px solid $colour_off_white;
    }
}

.homepage-upcoming {
    @include grid-column(12);
    @media (min-width: $large-screen) {
        @include grid-column(4);
    }
    padding-top: 2em;
    padding-bottom: 2em;
}

html.js .recently__list-more {
    display: none;
}

.recently__list {
    @extend .unstyled-list;
    li {
        margin-bottom: 1em;
    }
}

.parliamentary-excerpt {
    position: relative;
}

.excerpt__title {
    margin-bottom: 0.1em;
    font-size: 1.125em;
    @media (min-width: $medium-screen) {
        font-size: 1em;

        .parliamentary-excerpt--no-category & {
            padding-right: 0;
        }
    }
}

.meta {
    font-size: emCalc(14);
    color: $colour_grey;
    margin-bottom: 1em;
}

.excerpt__category {
    @media (min-width: $large-screen) {
        position: absolute;
        right: 0;
        top: 0.2em; // vertically align with .excerpt__title baseline
    }
    a {
        color: $brand;
    }
    &:after {
        content: " →";
        color: $colour_mid_grey;
    }
}

.excerpt__statement {
    position: relative;
    font-size: 0.888888889em;
    @media (min-width: $medium-screen) {
        font-size: 1em;
        line-height: 1.4; // match `.panel h3`
        margin-bottom: 2em; // extra vertical space between excerpts with statements
    }
    q {
        display: block;
        margin-left: 2em;
        &:after {
            content: "";
        }
        &:before {
            content: "“";
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            color: $colour_light_grey;
            font-size: 4em;
            top: -0.35em;
        }
    }
}

.homepage-upcoming {
    border-top: 1px solid $colour_off_white;

    @media (min-width: $medium-screen) {
        border-top: 0;
    }

    h3 {
        font-size: 1em;
        color: $colour_dark_grey;
        margin-top: 1.5em;
    }

    .hidden {
        display: none;
    }
}

.upcoming__controls {
    text-align: center;
    background-color: $colour_off_white;
    border-radius: $global-radius;
}

.controls__next,
.controls__prev {
    display: block;
    color: $colour_mid_grey;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        background-color: $colour_light_grey;
        color: $colour_dark_grey;
    }
}

.controls__next {
    border-radius: 0 $global-radius $global-radius 0;
    border-left: 1px solid $colour_light_grey;
    padding: 0.75em 1em 0.75em 0.65em;
}

.controls__prev {
    border-radius: $global-radius 0 0 $global-radius;
    border-right: 1px solid $colour_light_grey;
    padding: 0.75em 1em 0.75em 0.75em;
}

.controls__current {
    padding: 0.75em 0;
    font-weight: 600;
}

.upcoming__list {
    @extend .unstyled-list;
    margin-bottom: 0;

    li {
        margin-bottom: 0.75em;
    }
}

.upcoming__title {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.1em;
    font-size: emCalc(16);
}

.upcoming__more {
    color: $brand;
    font-size: emCalc(14);

    &:after {
        content: " →";
        color: $colour_mid_grey;
    }
}
