.legacy-page {
    label {
        display: block;
    }
    label.inline {
        display: inline;
    }
    label.remember-label {
        display: inline;
    }
    input {
        width: auto;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        display: block;
    }   

    .panel {
        @include grid-row(nest);

        .main {
            @include grid-column(12);
            border-bottom: 1px solid $colour_off_white;

            @media (min-width: $large-screen) {
                @include grid-column(8);
                border-bottom: none;
                border-right: 1px solid $colour_off_white;
            }
        }
        .sidebar {
            @include grid-column(12);

            @media (min-width: $large-screen) {
                @include grid-column(4);
                padding-left: 0.5em;
            }
        }
    }

    .row {
        padding-top: 0.5em;
        margin-bottom: 1.1em;
        span.label {
            padding-right: 1em;
            label {
                font-size: 1em;
            }
        }

        @media (min-width: $medium-screen) {
            span.label {
                display: block;
                width: 10.5em;
                margin-bottom: 0.16667em;
            }
            span.formw {
                display: block;
                width: 15em;
                text-align: left;
            }
        }
    }
    
    .join-form {
        .row {
            margin-bottom: 1.1em;

            label {
                margin-bottom: -.8em;
            }

            label[for="optintrue"], label[for="optinfalse"], label[for="mp_alerttrue"], label[for="mp_alertfalse"] {
                display: inline;
                font-size: inherit;
                margin-left: .5em;
            }

            @media (min-width: $medium-screen) {
                label {
                    margin-bottom: .5em;
                }
            }
        }
    }

    .password-form {
        label[for="em"] {
            font-size: inherit;
            margin-bottom: 0.5em;
        }
    }
}

/* glossary page */
div.letters {
    margin: 1em 14px 0 18px;
}

div.letters ul,
div.letters li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.letters ul {
    clear: left;
}
div.letters li {
    float: left;
    width: 2em;
    margin: 0 1px 1px 0;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    text-align: center;
    background: #e8fdcb;
}
div.letters li.on {
    background: #880000;
    color: #fff;
    font-weight: bold;
}
div.letters li.on a {
    background: #880000;
    color: #fff;
    font-weight: bold;
}

ul.glossary {
    @include unstyled-list;
    clear: both;
    padding-top: 1em;
}

.glossary-body {
    clear: both;
    padding-top: 1em;
}

p.error {
    color: $colour_pale_red;
    clear: left;
    margin-bottom: 0;
}
