.legacy-page {
    label {
        display: inline;
    }
    input {
        width: auto;
        display: inline;
    }

    .panel {
        @include grid-row(nest);

        .main {
            @include grid-column(12);
            border-bottom: 1px solid $colour_off_white;

            @media (min-width: $large-screen) {
                @include grid-column(8);
                border-bottom: none;
                border-right: 1px solid $colour_off_white;
            }
        }
        .sidebar {
            @include grid-column(12);

            @media (min-width: $large-screen) {
                @include grid-column(4);
                padding-left: 0.5em;
            }
        }
    }

    .row {
        padding-top: 0.5em;
        span.label {
            padding-right: 1em;
        }
        span.formw {
            small {
                clear: both;
                float: left;
            }
        }
        @media (min-width: $medium-screen) {
            span.label {
                display: block;
                float: left;
                width: 10.5em;
            }
            span.formw {
                display: block;
                float: left;
                width: 15em;
                text-align: left;
                small {
                    float: none;
                    clear: none;
                }
            }
        }
    }
}

/* glossary page */
div.letters {
    margin: 1em 14px 0 18px;
}

div.letters ul,
div.letters li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.letters ul {
    clear: left;
}
div.letters li {
    float: left;
    width: 2em;
    margin: 0 1px 1px 0;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    text-align: center;
    background: #e8fdcb;
}
div.letters li.on {
    background: #880000;
    color: #fff;
    font-weight: bold;
}
div.letters li.on a {
    background: #880000;
    color: #fff;
    font-weight: bold;
}

ul.glossary {
    @include unstyled-list;
    clear: both;
    padding-top: 1em;
}

.glossary-body {
    clear: both;
    padding-top: 1em;
}

p.error {
    color: $colour_pale_red;
    clear: left;
    margin-bottom: 0;
}
