.person-header {
    padding-top: 16px;
    @media (min-width: $medium-screen) {
        padding-top: 32px;
    }
    @media (min-width: $large-screen) {
        padding-top: 64px;
    }

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */

    .person-header__content {
        color: white;
        margin-left: 1.5%;
        margin-right: 1.5%;

        @media (min-width: $medium-screen) {
            position: relative; // for search and button positioning
            padding-bottom: 3em; // space for the search and buttons to absolutely position over
        }

        @media (min-width: $large-screen) {
            padding-bottom: 5em; // give buttons and search more vertical space
        }

        .person-name {
            display: table; // this won't work in IE7

            @media (min-width: $large-screen) {
                width: 60%; // leave room for .person-constituency to absolutely position to the right
            }

            .mp-image {
                display: table-cell; // this won't work in IE7
                vertical-align: top;
                width: 48px;

                *float: left; // fallback for IE7 and below
                *margin-right: 10px; // fallback for IE7 and below

                @media (min-width: $medium-screen) {
                    width: 60px; // bit bigger, since h1 now has larger font-size
                }

                img {
                    width: 100%;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }

            .mp-name-and-position {
                color: white;
                display: table-cell; // this won't work in IE7
                vertical-align: bottom;
                padding-left: 10px;

                h1 {
                    margin: 0px;
                    padding: 0px;
                    line-height: 1em;
                    color: inherit;
                }

                p {
                    font-size: em-calc(21);
                    line-height: 1.1em;
                    margin: 0.1em 0;
                    color: #ddd;

                    @media (min-width: $medium-screen) {
                        font-size: em-calc(24);
                    }
                }
            }
        }

        .person-data-attribution {
          margin: 0.5em 0 0 0;
          font-size: 0.7em;
          color: rgba(255,255,255,0.7);

          @media (min-width: $large-screen) {
            position: absolute;
            bottom: 0;
            margin-top: 0;
          }

          a {
            color: inherit;

            &:hover, &:focus {
              color: #fff;
            }
          }
        }

        .person-search {
            @media (min-width: $medium-screen) {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            @media (min-width: $large-screen) {
                bottom: 1em;
            }

            form {
                padding-bottom: 1em;

                input {
                    -webkit-appearance: none;
                    padding: em-calc(8);
                    font-size: em-calc(16);
                    font-style: italic;
                    border: 1px solid $borders;
                    border-right: 0px;
                    border-radius: 3px 0px 0px 3px;
                    width: 16em;

                    &.submit {
                        background: transparent url('/images/search.png') no-repeat scroll center center;
                        background-color: white;
                        color: transparent;
                        border-right: 1px solid $borders;
                        border-left: 0px;
                        border-radius: 0px 3px 3px 0px;
                        width: auto;
                    }
                }
            }
        }

        .person-buttons {
            .button {
                padding-left: 0.85em;
                padding-right: 0.85em;

                img {
                    display: none;
                }
            }

            @media (min-width: $medium-screen) {
                position: absolute;
                bottom: 0;
                left: 0;

                .button {
                    padding: 0.4em 0.9em;
                    margin-right: 0.5em;

                    img {
                        display: inline-block;
                    }
                }
            }

            @media (min-width: $large-screen) {
                bottom: 1em;
            }
        }

        .person-constituency {
            margin-bottom: 1em;
            margin-top: 0.5em;

            @media (min-width: $large-screen) {
                position: absolute;
                bottom: 5em; // to match padding-bottom on .person-header__content
                right: 0;
                margin-bottom: 5px; // match bottom padding on h1 (because of line-height, not really padding)
                margin-top: 0;
            }

            span {
                display: block;
                @media (min-width: $medium-screen) {
                    display: inline;
                }
            }

            .constituency {
                margin-right: 1em;

                &:before {
                    position: relative;
                    content: url('../img/location-pin.png');
                    bottom: -0.3em;
                }
            }

            .party {
                &:before {
                    font-size: em-calc(12);
                    content: 'O';
                    margin-right: 0.5em;
                    margin-left: 0.5em;
                    @media (min-width: $large-screen) {
                        margin-left: auto;
                    }
                    @include radius(1em);
                    padding-left: 0.4em;
                    padding-right: 0.4em;
                    font-weight: bold;
                    color: lightgrey;
                    background-color: lightgrey;
                }
                &.Con:before {
                    content: 'C';
                    background-color: rgb(22,111,210);
                }
                &.Lab:before {
                    content: 'L';
                    background-color: rgb(238, 50, 36);
                }
                &.LDem:before {
                    color: black;
                    content: 'L';
                    background-color: rgb(255, 187, 51);
                }
                &.SNP:before {
                    color: black;
                    content: 'S';
                    background-color: rgb(255, 249, 93);
                }
                &.Green:before {
                    color: white;
                    content: 'G';
                    background-color: rgb(106, 176, 35);
                }
            }
        }
    }

    @media (min-width: $large-screen) {
        &.has-data-attribution .person-header__content {
          margin-bottom: 2em;
          margin-top: -1em;
        }

        // Special case for the Queen, bless her
        &.royal {
            .person-header__content .person-name {
                width: auto; // the Queen has no party/constituency, so no need for the 60% width
            }
        }
    }
}

.westminster {
    background-image: url('../img/houses-of-parliament-mobile.jpg');
    @media (min-width: $medium-screen) {
        background-image: url('../img/houses-of-parliament-tablet.jpg');
    }
    @media (min-width: $large-screen) {
        background-image: url('../img/houses-of-parliament-desktop.jpg');
    }
    background-position: center center;
    background-size: cover;
}

.scotland {
    background-image: none;
    .person-header {
        @media (min-width: $large-screen) {
            height: auto;
            padding-top: 32px;
        }
    }
}

.ni {
    background-image: none;
    .person-header {
        @media (min-width: $large-screen) {
            height: auto;
            padding-top: 32px;
        }
    }
}

.person-navigation {
    color: $light-text;
    ul {
        @include unstyled-list;
        @include inline-list;
        font-size: em-calc(18);
        margin-left: 0px;
        li {
            top: 1px;
            position: relative;
            line-height: 48px;
            margin-left: 0px;
            margin-right: 30px;
            a {
                color: #6c6b68;
            }
            &.active{
                color: $body-font-color;
                border-bottom: 1px solid #6c6b68;
                a {
                    color: #333;
                }
            }
        }
        border-bottom: 1px solid #e4e2dc;
    }
}

.person-content__header {
    /*@include grid-row;*/
}
.person-panels {
    margin-top: em-calc(40);
    .in-page-nav {
        display: none;
        @media (min-width: $medium-screen) {
            display: block;
        }
        padding: 0px;
        ul {
            @include radius(3px);
            &.fixed {
                width: 16%;
                max-width: 187px;
            }
            background-color: white;
            margin-left: 0px;
            margin-bottom: 0px;
            font-size: em-calc(16);
            li {
                list-style-position: inside;
                padding-left: 1.5em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                line-height: 1.3em;
                border-bottom: 1px solid $body-bg;
                color: $borders;
                text-indent: -1em;
                &.active {
                    color: $primary-color;
                }
                &:last-of-type {
                    border-bottom: 0px;
                }
                a {
                    color: $body-font-color;
                }
            }
        }
    }
    .panel {
        @include radius;
        background-color: white;
        padding: em-calc(12);
        margin-bottom: em-calc(40);
        @media (min-width: $medium-screen) {
            padding: em-calc(60);
        }
        h2 {
            font-size: em-calc(30);
            font-width: 600;
            a.nav-anchor {
                text-decoration: none;
            }
        }
        a {
            text-decoration: underline;

        }
        dt {
            font-weight: normal;
            .date {
                font-size: em-calc(14);
            }
        }
        ul {
            @include unstyled-list();
        }
        .policies {
            li {
                border-bottom: 1px solid $borders;
                line-height: 1.5em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                padding-right: 5em;
                &:nth-of-type(1) {
                    border-top: 1px solid $borders;
                }
                .dream_details {
                    @include radius(1em);
                    display: none;
                    background-color: $primary-color;
                    color: white;
                    font-size: 14px;
                    float: right;
                    margin-top: 0.25em;
                    margin-right: -6.5em;
                    padding: 0em 1em;
                    text-decoration: none;
                }
            }
        }
        .appearances {
            @include unstyled-list();

            h4 {
                font-size: 18px;
                font-weight: normal;
                .date {
                    font-size: 14px;
                    color: $light-text;
                }
            }

            blockquote {
                border: none;
                color: $body-font-color;
                font-size: 18px;
                padding: 0px;
                &:before {
                    content: '\201C';
                }
                &:after {
                    content: '\201D';
                }
            }
        }
        .comma-list{
            @include inline-list();
            margin-left: 0px;
            margin-bottom: em-calc(16);
            li {
                margin-left: 0px;
                &:after {
                    content: ', ';
                }
                &:last-of-type:after {
                    content: '';
                }
            }
        }
        .list-dates small {
            color: #666;
        }
        .numerology {
            li {
                line-height: 2;
            }
        }
        &.register {
            .regmemcategory {
                border-top: 1px solid $borders;
                font-weight: $weight_semibold;
                margin-top: em-calc(16);
                margin-bottom: em-calc(8);
                padding-top: em-calc(16);

                &:nth-of-type(1) {
                    border-top: none;
                    /*margin-top: 0px;*/
                    /*padding-top: 0px*/
                }
            }

            .regmemitem {
                margin-bottom: em-calc(8);
                margin-left: 1em;
                line-height: 1.6;
            }
        }
    }
    .panel--secondary {
        @include radius;
        @include secondary-panel;
        :last-child {
            margin-bottom: 0;
        }
    }
}

.vote-descriptions {
  & > li {
    position: relative;
    border-bottom: 1px solid $borders;
    line-height: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 5em;

    &:first-child {
      border-top: 1px solid $borders;
    }
  }
}

.vote-description__source {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1em;
  padding: 0 1em;
  line-height: 2em;

  @include radius(1em);
  background-color: transparent;
  color: #cfcabb; // light desaturated taupe colour
  font-size: 14px;
  text-decoration: none;

  .person-panels .panel & {
    text-decoration: none; // override over-zealous selector further up
  }

  li:hover > &,
  li:focus > & {
    background-color: $links;
    color: #fff;

    &::after {
      background-image: url(/images/external-link-icon-white.png);
    }

    &:hover,
    &:focus {
      background-color: darken($links, 10%);
    }
  }
}

.about-this-page {
    .about-this-page__one-of-two {
        @include grid-column(12);
        padding-left: 0;
        padding-right: 0;

        @media (min-width: $medium-screen) {
            @include grid-column(6);
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.mini-survey {
    label {
        font-size: 1em;

        input[type="radio"] {
            margin-right: 0.5em;
        }
    }

    p {
        margin-bottom: 0.5em;
    }

    input[type="submit"] {
        margin-top: 0.5em;
    }
}

a[href^="http://www.publicwhip.org"],
a[href^="http://politics.guardian.co.uk"] {
    &:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background: transparent url(/images/external-link-icon.png) 0 -20px no-repeat;
        background-size: 20px 30px;
        margin-left: 5px;
        vertical-align: -1px;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-position: 0 0;
            background-size: 10px; // 10px width, auto height
        }
    }
}
