.person-header {
    background: #fff;
    border: 1px solid $borders;
    border-width: 1px 0;
    padding: 16px 0;

    @media (min-width: $medium-screen) {
        padding: 32px 0;
    }

    .full-page__unit {
        display: grid;
        grid-gap: 0 20px;
        grid-template-columns: 60px 1fr;
        grid-template-areas: "image   about"
                             "search  search"
                             "actions actions";

        @media (min-width: 30em) {
            grid-template-areas: "image about"
                                 "image search"
                                 "image actions";
        }

        @media (min-width: $medium-screen) {
            grid-template-columns: 120px 1fr 1fr;
            grid-template-areas: "image about    about"
                                 "image actions  search";
        }
    }
}

// Historical figures have no `.person-header__actions`
// so, to avoid a big empty space, we use a custom grid.
.person-header--historical {
    .full-page__unit {
        grid-template-areas: "image   about"
                             "search  search";

        @media (min-width: 30em) {
            grid-template-areas: "image about"
                                 "image search";
        }

        @media (min-width: $medium-screen) {
            grid-template-columns: 60px 1fr;
            grid-template-areas: "image about"
                                 "image search";
        }
    }
}

.person-header__image {
    float: left;
    margin-right: 1em;

    @supports (display: flex) {
        float: none;
        margin-right: 0;
    }

    grid-area: image;
}

@media (min-width: $medium-screen) {
    .person-header__image--small {
        position: relative;
        overflow: hidden;
        @include display-flex();
        @include flex-align(center);
        @include justify-content(center);
        background: #000;

        span {
            display: block;
            position: absolute;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            filter: blur(5px);
            opacity: 0.7;
        }

        img {
            position: relative;
            box-shadow: 0 5px 10px rgba(#000, 0.2);
        }
    }
}

.person-header__about {
    grid-area: about;

    @media (min-width: $medium-screen) {
        @include display-flex();
        @include flex-wrap(wrap);
    }
}

.person-header__about__name {
    font-size: 1.66667em; // match h2 on mobile
    line-height: 1em;
    margin-top: -0.1em; // line up top of text with image
    margin-bottom: 0.2em;

    @media (min-width: $medium-screen) {
        flex: 1 0 auto;
        font-size: 2.11111em;
        width: 100%;
    }
}

.person-header__about__known-for {
    line-height: 1.2em;
    margin-bottom: 0.5em;

    @media (min-width: $medium-screen) {
        flex: 1 0 auto;
        width: 100%;
    }
}

.person-header__about__position {
    line-height: 1.2em;
    margin-bottom: 0.5em;

    @media (min-width: $medium-screen) {
        @include flex(0 0 auto);
        margin-right: 30px;
    }
}

.person-header__about__position__party,
.person-header__about__position__role,
.person-header__about__position__constituency {
    font-weight: bold;
}

.person-header__about__media {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0 0 0.5em -5px;

    @media (min-width: $medium-screen) {
        @include flex(0 0 auto);
        margin: 0 0 0.5em -10px;
    }

    a {
        color: inherit;
        text-decoration: none;
        margin: 0 5px;
        white-space: nowrap;

        @media (min-width: $medium-screen) {
            margin: 0 10px;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    [href] {
        &:before {
            content: "";
            display: inline-block;
            margin-right: 0.3em;
            width: 16px;
            height: 16px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: 0 0;
            vertical-align: -0.2em;
        }
    }

    [href*="facebook.com"] {
        &:before {
            background-image: url('../img/icon-facebook.png');
            background-image: url('../img/icon-facebook.svg'), none;
        }
    }

    [href*="twitter.com"] {
        &:before {
            background-image: url('../img/icon-twitter.png');
            background-image: url('../img/icon-twitter.svg'), none;
        }
    }
}

.person-header__search {
    margin-top: 0.5em;
    grid-area: search;
    align-self: end;

    input[name="q"] {
        padding: 0 0.5em;
        margin-bottom: 0;
        border-radius: 3px 0 0 3px;
        box-shadow: none;
        height: 2.4em;
    }

    button {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0 3px 3px 0;
        box-shadow: none;
        height: 2.4em;
        border: none;
    }

    @media (min-width: $medium-screen) {
        margin-top: 1em;

        .row {
            max-width: 20em;
            margin-right: auto;
            margin-left: 0; // Align to left edge of parent

            @supports (display: flex) {
                margin-right: 0; // Align to right edge of parent
                margin-left: auto;
            }

            .person-header--historical & {
                margin-right: auto;
                margin-left: 0; // Align to left edge of parent
            }
        }
    }
}

.person-header__actions {
    margin: 1em -5px 0 -5px;
    @include display-flex();
    grid-area: actions;
    align-self: end;

    .button {
        margin: 0 5px;
        padding: 0.5em;
        line-height: 1em;
        @include flex(1 1 auto);

        @media (min-width: $medium-screen) {
            @include flex(0 1 auto);
            padding: 0.5em 1em;
        }
    }
}

.person-navigation {
    color: $light-text;
    ul {
        @include unstyled-list;
        @include inline-list;
        font-size: em-calc(18);
        margin-left: 0px;
        li {
            top: 1px;
            position: relative;
            line-height: 48px;
            margin-left: 0px;
            margin-right: 30px;
            a {
                color: #6c6b68;
            }
            &.active{
                color: $body-font-color;
                border-bottom: 1px solid #6c6b68;
                a {
                    color: #333;
                }
            }
        }
        border-bottom: 1px solid #e4e2dc;
    }
}

.person-panels {
    padding-top: em-calc(36);
    clear: both;

    .in-page-nav {
        display: none;

        @media (min-width: $medium-screen) {
            display: block;
        }

        & > * {
            @include radius(3px);

            &.fixed {
                // Use Foundation functions to work out the width of a 2-column
                // grid unit, minus default gutter.
                $percentWidth: gridCalc(2, 12) - $column-gutter; // 13.666666%
                width: $percentWidth;

                // Element is position:fixed, so width is relative to viewport,
                // not parent. To stop the element expanding when the window is
                // wider than 1140px, we cap it to a max-width of X% of 1140px.
                max-width: 1140px * strip-unit($percentWidth) / 100;
            }

            background-color: white;
            margin-left: 0px;
            margin-bottom: 0px;
            font-size: em-calc(16);
        }

        .magellan-placeholder {
          display: none;
        }

        .fixed + .magellan-placeholder {
          display: block;
        }

        li {
            list-style-position: inside;
            padding: 0.5em 0.5em 0.5em 1.5em;
            line-height: 1.3em;
            border-bottom: 1px solid $body-bg;
            color: $borders;
            text-indent: -1em;
            &.active {
                color: $primary-color;
            }
            &:last-of-type {
                border-bottom: 0px;
            }
            a {
                color: $body-font-color;
            }
        }
    }

    .panel {
        h2 {
            font-size: em-calc(30);
            font-width: 600;

            a.nav-anchor {
                text-decoration: none;
            }
        }

        a {
            text-decoration: underline;
        }

        dt {
            font-weight: normal;

            .date {
                font-size: em-calc(14);
            }
        }

        ul {
            @include unstyled-list();
        }
    }

    .policies {
        li {
            border-bottom: 1px solid $borders;
            line-height: 1.5em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-right: 5em;

            &:nth-of-type(1) {
                border-top: 1px solid $borders;
            }

            .dream_details {
                @include radius(1em);
                display: none;
                background-color: $primary-color;
                color: white;
                font-size: 14px;
                float: right;
                margin-top: 0.25em;
                margin-right: -6.5em;
                padding: 0em 1em;
                text-decoration: none;
            }
        }
    }

    .appearances {
        @include unstyled-list();

        h4 {
            font-size: 18px;
            font-weight: normal;

            .date {
                font-size: 14px;
                color: $light-text;
            }
        }

        blockquote {
            border: none;
            color: $body-font-color;
            font-size: 18px;
            padding: 0px;

            &:before {
                content: '\201C';
            }

            &:after {
                content: '\201D';
            }
        }
    }

    .comma-list {
        @include inline-list();
        margin-left: 0px;
        margin-bottom: em-calc(16);

        li {
            margin-left: 0px;

            &:after {
                content: ', ';
            }

            &:last-of-type:after {
                content: '';
            }
        }
    }

    .list-dates small {
        color: #666;
    }

    .numerology {
        li {
            line-height: 2;
        }
    }

    .register {
        .regmemcategory {
            border-top: 1px solid $borders;
            font-weight: $weight_semibold;
            margin-top: em-calc(16);
            margin-bottom: em-calc(8);
            padding-top: em-calc(16);

            &:nth-of-type(1) {
                border-top: none;
            }
        }

        .regmemitem {
            margin-bottom: em-calc(8);
            margin-left: 1em;
            line-height: 1.6;
        }
    }
}

// Displayed at the top of the .in-page-nav on Vote detail pages
.policy-votes-intro {
    padding: 1em;
    margin-bottom: 1em;
    line-height: 1.2em;
}

.policy-votes-hero {
    position: relative;
    margin-bottom: 0;
    border-radius: $global-radius $global-radius 0 0;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0,0,0,0.6);
    background: #666 url('../img/topics/generic.jpg') 50% 50% no-repeat;
    background-size: cover;

    h2 {
        color: inherit;
        margin-top: 0;
    }

    p {
        line-height: 1.3em;
        max-width: 24em; // avoid long lines

        @media (min-width: $medium-screen) {
            font-size: 1.2em;
            margin-bottom: 0;
        }
    }

    & + .panel {
        border-radius: 0 0 $global-radius $global-radius;

        @media (min-width: $medium-screen) {
            padding-top: em-calc(40);
        }
    }
}

.policy-votes-hero__image-attribution {
    font-size: 0.7em;
    color: #ddd;

    a {
        color: inherit;
        text-decoration: none !important;
    }

    a:hover, a:focus {
        color: #fff;
        text-decoration: underline !important;
    }

    @media (min-width: $medium-screen) {
        position: absolute;
        bottom: em-calc(24);
        right: em-calc(24);
    }
}

.policy-vote-overall-stance {
    margin-bottom: 1em;
}

.policy-vote-agree-disagree {
  .button + .button {
    margin-left: 1em;
  }
}

.policy-votes-list-header {
    margin-top: 2em;
}

.vote-descriptions {
  & > li {
    position: relative;
    border-bottom: 1px solid $borders;
    line-height: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 6.5em; // leave space for "Show votes" .vote-description__source button

    &:first-child {
      border-top: 1px solid $borders;
    }

    @media (min-height: 800px) {
        // Bit of extra space around "Show votes" buttons if there's space
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
  }

  .panel > &:last-child > li:last-child {
    border-bottom: none; // no need for line if last item of last element in a panel
  }

  &.policy-votes > li {
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 7em;

      @media (min-width: $medium-screen) {
          padding-right: 10em; // make room for longer "Show full debate" button
      }
  }
}
.js {
    .policy-vote--minor {
        display: none;
    }
}

.policy-vote--minor {
    padding-left: 1.5em;
    line-height: 1.3em !important; // override .vote-descriptions .policy-votes > li

    .policy-vote__text,
    .policy-vote__date {
        font-size: 0.9em;
    }

    .policy-vote__text {
        color: #666;
    }
}

.policy-vote__date {
    display: block;
    color: #b5af9d; // desaturated taupe colour
}

.vote-description__source {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1em;
  padding: 0 1em;
  line-height: 2em;

  @include radius(1em);
  background-color: $body-bg;
  color: $body-font-color;
  font-size: 14px;
  text-decoration: none;

  .person-panels .panel & {
    text-decoration: none; // override over-zealous selector further up
  }

  li:hover > &,
  li:focus > & {
    background-color: $links;
    color: #fff;

    &:after {
      background-image: url(/images/external-link-icon-white.png);
    }

    &:hover,
    &:focus {
      background-color: darken($links, 10%);
    }
  }
}

.vote-description__evidence {
  display: block;
  color: #757470;
  text-decoration: none !important; // override .person-panels .panel a
  font-size: 0.7em;
  line-height: 1.5em;
  margin-top: 0.2em;

  &:hover,
  &:focus {
    color: darken(#757470, 10%);
    text-decoration: underline !important; // override .person-panels .panel a
  }
}

.policy-votes-list-footer {
    p {
        margin-bottom: 0.5em;
    }

    p:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $medium-screen) {
        margin-top: 2em;

        p {
            margin-bottom: 0;
        }
    }

    .js-show-all-votes {
        display: none;
    }
}

.js .policy-votes-list-footer .js-show-all-votes {
    display: block;
}

.policy-votes__byline {
    font-size: 0.8em;
    color: #cfcabb; // light desaturated taupe colour

    @media (min-width: $medium-screen) {
        float: right;
        margin-top: 0.3em; // line up baseline with "show all votes" button
        margin-right: 1em; // line up with "Show full debate" links
    }
}

.share-vote-descriptions {
    color: #6c6b68;
    margin: 1em -0.25em;
    font-size: 0.9em;

    & > * {
        display: inline-block;
        margin: 0 0.25em;
        vertical-align: middle;
    }
}

// A button styled to match the (iframed) button that the Twitter JavaScript
// API creates out of elements with a `.twitter-share-button` class.
.facebook-share-button {
    display: inline-block;
    position: relative;
    height: 20px;
    padding: 0px 4px;
    vertical-align: middle;

    background: #4c69ba;
    border: none;
    border-radius: 2px;
    cursor: pointer;

    color: #fff;
    font-weight: 500;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 11px;
    line-height: 20px;
    text-decoration: none !important;

    &:hover, &:focus {
        background-color: darken(#4c69ba, 15%);
        color: #fff;
    }

    &:before {
        content: "";
        display: inline-block;
        background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 216'%3E%3Cpath fill='%23fff' d='M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9 11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1 11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2 15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3 11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z'/%3E%3C/svg%3E") 0 0 no-repeat;
        background-size: 14px 14px;
        width: 14px;
        height: 14px;
        vertical-align: -3px;
        margin-right: 0.5em;
    }
}

.mini-survey {
    label {
        font-size: 1em;

        input[type="radio"] {
            margin-right: 0.5em;
        }
    }

    p {
        margin-bottom: 0.5em;
    }

    input[type="submit"] {
        margin-top: 0.5em;
    }
}

a[href^="http://www.publicwhip.org"] {
    &:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background: transparent url(/images/external-link-icon.png) 0 -20px no-repeat;
        background-size: 20px 30px;
        margin-left: 5px;
        vertical-align: -1px;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-position: 0 0;
            background-size: 10px; // 10px width, auto height
        }
    }
}

.mp-postcode-search {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(4);
        margin-bottom: em-calc(30);
    }
}
