.static-page {
    padding-top: 1em;

    .panel > h1:first-child {
        margin-top: 0;
    }

    .panel > * {
        max-width: 700px; // avoids unmanageable line lengths
    }

    ol {
        margin-left: 2em; // restore left padding on ordered list items
    }
}

// Reset 700px limit on legacy pages (which mostly handle their own layout)
.legacy-page {
    .panel > * {
        max-width: none;
    }
}
