.topic-header {
    padding-top: em-calc(10);
    padding-bottom: em-calc(40);
    margin-bottom: em-calc(-20);

    @media (min-width: $medium-screen) {
        padding-top: em-calc(20);
        padding-bottom: em-calc(120);
        margin-bottom: em-calc(-80);
    }

    @media (min-width: $large-screen) {
        min-height: 200px;
        padding-top: em-calc(35);
    }

    background: rgb(28,28,28);
    @include background-image(linear-gradient(rgb(150,150,150), rgb(28,28,28) 89%, black));
    background-image: url('../img/topics/generic.jpg');

    background-position: center center;
    background-size: cover;

    .topic-name {
        color: #fff;
        @include grid-column(12);

        @media (min-width: $medium-screen) {
            @include grid-column(8);
        }

        h1 {
            color: inherit;
            margin: 0 0 0.2em 0;
            padding: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }
}

$topic-block-margin: em-calc(34);

.topic-block {
    background-color: white;
    margin-bottom: $topic-block-margin;
    padding: em-calc(20);

    @media (min-width: $medium-screen) {
        padding: em-calc(40);
    }

    @media (min-width: $large-screen) {
        padding: em-calc(60);
    }

    .vote-descriptions {
        margin-left: 0;
        list-style: none outside none;
    }
}

.topic-sidebar {
    background-color: #e2dfd4; // slightly darker, desaturated version of $body-bg
    margin-bottom: $topic-block-margin;
    padding: em-calc(20);

    h3, input {
        font-size: 1em;
    }

    label {
        margin: 1em 0 0.5em 0;
        font-size: 0.9em;
    }

    .button:last-child {
        margin-bottom: 0;
    }
}

.topic-home {
  h1 {
    font-size: em-calc(68);
    margin-top: 0.3em; // up from default 0.2em
    margin-bottom: 0.1em; // down from default 0.5em
  }
}

.topic-home__intro {
  font-size: em-calc(21);
  color: #A09C91; // lighter, desaturated version of $body-bg
  max-width: 30em;
}

.topic-list {
  background-color: #fff;
  @include unstyled-list;
  @include grid-row;
  margin-top: em-calc(30);
  margin-bottom: em-calc(30);

  li {
    display: block;
    @include grid-column(6);
    margin-top: 1.5%; // to match margin-left and margin-right;

    @media (min-width: $medium-screen) {
      @include grid-column(3);
    }

    &:last-child {
      margin-bottom: 1.5%;
    }

    a {
      font-size: em-calc(21);
      color: #000;
      font-weight: bold;
    }

    img {
      display: block;
      margin-bottom: em-calc(5);
    }
  }
}
