.topic-header {

    padding-top: 10px;

    @media (min-width: $medium-screen) {
        padding-top: em-calc(20);
        padding-bottom: em-calc(120);
    }

    @media (min-width: $large-screen) {
        min-height: 200px;
        padding-top: em-calc(35);
    }

    background: rgb(28,28,28);
    @include background-image(linear-gradient(rgb(150,150,150), rgb(28,28,28) 89%, black));
    background-image: url('../img/topics/generic.jpg');

    background-position: center center;
    background-size: cover;

    .topic-header__content {
        color: white;
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            position: relative;
        }
        @media (min-width: $large-screen) {
            @include grid-column(10);
        }
        .topic-name {
            h1 {
                color: white;
                margin: 0px;
                padding: 0px;
            }

            @include grid-column(12);
            @media (min-width: $medium-screen) {
                @include grid-column(8);
            }

        }

        .topic-postcode-search {
            background: rgb(243, 241, 235);
            @include grid-column(12);
            @media (min-width: $medium-screen) {
                @include grid-column(4);
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: em-calc(30);
            }
        }

    }
}

.topic-content {
    @include grid-column(12);
    margin-top: em-calc(40);
    @media (min-width: $medium-screen) {
        margin-top: em-calc(-80);
    }
    @media (min-width: $large-screen) {
        @include grid-column(10);
    }
}

.topic-block {
    background-color: white;
    margin-bottom: em-calc(10);

    padding: em-calc(60);

    &.policies {

        .topic-postcode-search {
            background: rgb(243, 241, 235);
            @media (min-width: $medium-screen) {
                margin-top: em-calc(20);
            }
        }

        .topic-mp-info {
            padding-top: em-calc(10);
            background: rgb(243, 241, 235);
            @media (min-width: $medium-screen) {
                margin-top: em-calc(20);
                margin-bottom: em-calc(20);
            }
        }
    }
}

.topic-home {
  h1 {
    font-size: em-calc(68);
    margin-top: 0.3em; // up from default 0.2em
    margin-bottom: 0.1em; // down from default 0.5em
  }
}

.topic-home__intro {
  font-size: em-calc(21);
  color: #A09C91; // lighter, desaturated version of $body-bg
  max-width: 30em;
}

.topic-list {
  background-color: #fff;
  @include unstyled-list;
  @include grid-row;
  margin-top: em-calc(30);
  margin-bottom: em-calc(30);

  li {
    display: block;
    @include grid-column(6);
    margin-top: 1.5%; // to match margin-left and margin-right;

    @media (min-width: $medium-screen) {
      @include grid-column(3);
    }

    &:last-child {
      margin-bottom: 1.5%;
    }

    a {
      font-size: em-calc(21);
      color: #000;
      font-weight: bold;
    }

    img {
      display: block;
      margin-bottom: em-calc(5);
    }
  }
}
