.topic-header {

    padding-top: 16px;

    @media (min-width: $medium-screen) {
        padding-top: 32px;
    }

    @media (min-width: $large-screen) {
        height: 200px;
        padding-top: 65px;
    }

    @include background-image(linear-gradient(rgb(150,180,150), rgb(28,40,28) 89%, black));

    .topic-header__content {
        color: white;
        margin-left: 1.5%;
        margin-right: 1.5%;
        @media (min-width: $medium-screen) {
            margin-left: -1.5%;
            margin-right: -1.5%;
        }
        .topic-name {
            h1 {
                color: white;
                margin: 0px;
                padding: 0px;
            }
            @include grid-column(12);
            @media (min-width: $medium-screen) {
                @include grid-column(6);
            }
        }

    }
}

.topic-panels {
    margin-top: em-calc(40);

    .panel {
        @include radius;
        background-color: white;
        padding: em-calc(12);
        margin-bottom: em-calc(10);
        @media (min-width: $medium-screen) {
            padding: em-calc(60);
        }
        h2 {
            font-size: em-calc(30);
            font-width: 600;
        }
        a {
            text-decoration: underline;
        }
    }

    .policies {
        ul {
            @include unstyled-list();
        }
        li {
            border-bottom: 1px solid $borders;
            line-height: 1.5em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-right: 5em;
            &:nth-of-type(1) {
                border-top: 1px solid $borders;
            }
            .dream_details {
                @include radius(1em);
                display: none;
                background-color: $primary-color;
                color: white;
                font-size: 14px;
                float: right;
                margin-top: 0.25em;
                margin-right: -6.5em;
                padding: 0em 1em;
                text-decoration: none;
            }
        }
    }
}
