# crontab for parlparse, part of ukparse

# m h dom mon dow command

# update latest stuff from parliament.uk at 8:05 in the morning.  
# parliament.uk is meant to update at 8am
# It doesn't, try 8:35.
35 8 * * * $HOME/parlparse/scripts/morningupdate

# daily update at night for MP data (regmem, data from Public Whip etc.)
37 1 * * * $HOME/parlparse/scripts/dailyupdate

# several times a day, check for changes in various pages (lists of MPs, ministers etc.):
#  update at night, as David Boothroyd ofen updates strengths.html in the evening
#  update at lunch, so if a minister is sacked in the morning and the clerks alert
#  update with the six o'clock news
20 1 * * * $HOME/parlparse/scripts/changewatcher
0 12 * * * $HOME/parlparse/scripts/changewatcher
0 18 * * * $HOME/parlparse/scripts/changewatcher
# (the above times are all guesswork, but it doesn't really matter)

# 01:10, email when a parliamentary recess starts/ends
10 1 * * * /usr/bin/python2.4 $HOME/parlparse/scripts/recesswatcher.py

# every week early Sunday grab weekly range of data
23 4 * * Sun $HOME/parlparse/scripts/weeklyupdate

# On the 6th Dec and June remind me to make source tarballs
0 1 6 Dec,Jun * /bin/echo "Six monthly notice: Make source code backup tarballs of parlparse, theyworkforyou and publicwhip and put them on SourceForge"

# Test of new stuff, to Julian only
#MAILTO=julian@goatchurch.org.uk
#5 8 * * * $HOME/parlparse/scripts/lordsonlytest
