label {
    cursor: pointer;
    cursor: hand;
}

h2 {
    padding-top: 0;
}

#error {
    color: #990000;
}

#topmenu {
    height: 2px;
}

form#electionsurvey ul, form#voterquiz ul {
    margin-top: 0.5em;
}

form#electionsurvey li, form#voterquiz li {
    display: inline;
}

form#electionsurvey div.more_explanation, form#voterquiz div.more_explanation {
    margin-top: 0.5em;
    margin-bottom: 2em;
}
form#electionsurvey div.issues_note, form#voterquiz div.issues_note {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.answers div.statement {
}

.party_image {
    float: left;
    margin-right: 0.5em;
}
.statement_body {
    margin-top: 0.5em;
}
.clear_statement {
    clear: both;
}

#autosave {
    background-color: #e8fdcb;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    display: none;
}

.autosave-note {
    font-style: italic;
    margin-right: 2em;
}

.stripe-side {
    background-color: red;
}
.textLimiter {
    display: none;
}

.disabled {
    background-color: #dddddd;
    color: #333333;
}

.answer {
    border: solid 1px #ffffff;
    padding: 2px;
}
.hovering {
    /*
    color: #ff0000;
    background-color: #ffcccc;
    border: solid 2px #990000;
    */
    background-color: #9999dd;
    border: solid 1px #000066;
    padding: 2px;
}

div.national_selection {
    margin-left: 3em;
    margin-bottom: 2em;
}
.row1 {
    float: right;
    width: 33%;
}
.row2 {
    float: left;
    width: 33%;
}
.row3 {
    float: center
    width: 33%;
}

#postcode_quiz_page {
    text-align: center;
}

#postcode_quiz_page #postcode_form {
    font-size: 100%;
}
#postcode_quiz_page #postcode_form strong {
    font-size: 150%;
}
#postcode_quiz_page input[type="text"] {
    font-size: 250%;
    border: solid lightgray 0.2em;
    margin: 0;
}
#postcode_quiz_page input[type="submit"] {
    font-size: 250%;
    margin: 0;
}

body.js ul.answers div.full_answers {
    display: none;
}

