label {
    cursor: pointer;
    cursor: hand;
}

h2 {
    padding-top: 0;
}

#error {
    color: #990000;
}
.errorlist {
    color: #990000;
}

#topmenu {
    height: 2px;
}

form#electionsurvey ul, form#voterquiz ul {
    margin-top: 0.5em;
}

form#electionsurvey li, form#voterquiz li {
    display: inline;
}

form#electionsurvey div.more_explanation, form#voterquiz div.more_explanation {
    margin-top: 0.5em;
    margin-bottom: 2em;
}
form#electionsurvey div.issues_note, form#voterquiz div.issues_note {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

div.full_answers table.answers td.agreement-col{
    width: 7em;
    text-align: center;
}

.answers div.statement {
    margin-bottom:0.25em;
}

.party_image {
    float: left;
    margin-right: 0.5em;
    padding-top: 0.25em;
}
.block_party_image {
    border: solid 1px #999999;
}

div.missing {
    background-color: #ffeecc;
    margin-left:10px;
    padding-top:0.5em;
}

.statement_body {
    margin-top: 0.5em;
}
.clear_statement {
    clear: both;
}

#autosave {
    background-color: #e8fdcb;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    display: none;
}

.autosave-note {
    font-style: italic;
    margin-right: 2em;
}

.stripe-side {
    background-color: red;
}
.textLimiter {
    display: none;
}

.disabled {
    background-color: #dddddd;
    color: #333333;
}

/* Issues results page */

.answer {
    overflow: auto;
}

li.answer .statement {
    padding: 0;
    cursor: pointer;
    cursor: hand;
}
li.answer .full_answers {
    padding: 0.5em;
}


.full_answers > ul > li {
    border-top: dotted 1px #999999;
    margin-top: 0.25em;
    padding-top: 0.25em;
}

.full_answers p {
    margin: 0;
    padding: 0;
}


span.findout {
    margin-left: 0.5em;
    float: right;
}

div.national_selection {
    margin-left: 3em;
    margin-bottom: 2em;
}
.row1 {
    float: right;
    width: 33%;
}
.row2 {
    float: left;
    width: 33%;
}
.row3 {
    float: center
    width: 33%;
}

#postcode_quiz_page h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#postcode_quiz_page #postcode_form {
    font-size: 100%;
}
#postcode_quiz_page #postcode_form p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; /* Override TWFY CSS */
    text-align: center;
}
#postcode_quiz_page p#postcode_line {
    font-size: 150%;
}
#postcode_quiz_page #postcode_form strong {
    display: block;
    text-align: left;
}
#postcode_quiz_page input {
    font-size: 166%;
    margin: 0;
}
#postcode_quiz_page input[type="text"] {
    border: solid lightgray 0.2em;
    margin-top: 0.5em;
}
#postcode_quiz_page p#candidate {
    margin-top: 3em;
}

html.js ul.answers div.full_answers {
    display: block;
}

blockquote {
    font-size: 1.5em;
    background: url(blockquote.png) no-repeat 0 0;
    padding: 10px 30px 0 60px;
    margin: 0;
    max-width: 610px;
    min-height: 48px;
    letter-spacing:-0.5px;
}

div.horizontal.agreement ul li {
    display: inline;
}

body#quiz div.main {
    width: 50em;
    margin-right: 1em;
}

body#quiz div.sidebar {
    float: none;
    width: auto;
    position: fixed;
    left:51em;
    padding-right:1em;
}

body#quiz div.sidebar h2, body#quiz div.sidebar h3 {
    margin:0;
    margin-bottom:0.25em;
    margin-top:1em;
    padding:0;
}

body#quiz div.sidebar h2:first-child {
    margin-top:0;
}

body#quiz div.sidebar p {
    margin:0;
    padding:0;
}

body#quiz h3 {
    margin-top: 2em;
}

p.inter_link {
    margin-bottom: 0;
}

div.full_answers table.answers {
 border-collapse: collapse;
 margin: 0;
}

div.full_answers table.answers td,
div.full_answers table.answers th {
 padding: 0.25em;
 padding-bottom:0.5em;
}

div.full_answers table.answers,
div.full_answers table.answers tr,
div.full_answers table.answers th,
div.full_answers table.answers td {
 text-align: left;
}

div.full_answers table.answers tr {
 border-bottom: 1px solid #ddd;
}

div.full_answers table.answers tr.has-explanation {
 border-bottom: none;
}

div.full_answers table.answers th.explanation {
 width: 15em;
}

html.js div.full_answers table.answers tr.what-they-think {
 display: none;
}

html.js div.full_answers table.answers th.who,
html.js div.full_answers table.answers .explanation {
 visibility: hidden;
}

div.full_answers table.answers th {
 width: 5em;
}

td.explanation {
    width: 25em;
}

div.full_answers table.answers td.you {
 width: 15em;
 font-size: 100%;
 color:#333;
 padding-right: 32px;
 background: url(arrow.png) no-repeat center right;
}

table.answers tr.what-you-think a,
table.answers tr.what-they-think span.agreement {
 padding: 0.25em;
 display: block;
}

table.answers tr.what-they-think {
    padding-bottom:0.5em;
}

table.answers tr.what-they-think span.agreement {
 background-color: #eee;
}

#subscribe_box {
    font-size: 100%;
    margin-left: 1em;
}
.signup_checkbox {
    font-size: 75%;
}

.candidate_emailed {
    color: #00ff00;
}
.candidate_not_emailed {
    color: #ff0000;
}
.candidate_posted {
    color: #00ff00;
}
.candidate_not_posted {
    color: #ff0000;
}
.candidate_filled_in {
    color: #00ff00;
}
.candidate_not_filled_in {
    color: #ff0000;
}

a.candidate_name {
    color:#336;
}

div.link_out {
    margin-bottom: 0.8em;
} 

tr.winning  {
    background:#FFC;
}

