label {
    cursor: pointer;
    cursor: hand;
}

h2 {
    padding-top: 0;
}

#error {
    color: #990000;
}

#topmenu {
    height: 2px;
}

form#electionsurvey ul {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

form#electionsurvey li {
    display: inline;
}

#autosave {
    background-color: #e8fdcb;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
    display: none;
}

.autosave-note {
    font-style: italic;
    margin-right: 2em;
}

.stripe-side {
    background-color: red;
}

