$column-gutter: em-calc(24);
$row-width: em-calc(1140);
$block-grid-default-spacing: em-calc(24);

$body-bg: #f3f1eb;
$body-font-color: #333333;
$links: #dc6334;
$brand: #149581;
$topbar-bg-color: $brand;
$panel-bg: #fff;
$alert-color: $links;

$alert-font-color: #fff;
$alert-font-color-alt: #fff;

$light-text: #666666;
$borders: #e9e9e9;


$header-font-family: 'Lato', sans-serif;
$body-font-family: 'Open Sans', sans-serif;

$h1-font-size: em-calc(30);
$h2-font-size: em-calc(24);
$h3-font-size: em-calc(18);

