#footer {
    padding-top: em-calc(40px);
    clear: both;
    margin-top: 1em;
    background-color: white;

    p {
        font-size: 14px;
    }

    #footer-about {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(4);
        }
        p {
            font-size: 18px;
        }
    }

    #footer-links {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(8);
        }
    }

    #stay-up-to-date h5 {
        font-size: 14px;
        font-weight: normal;
        padding-bottom: 0.5em;
        border-bottom: solid 1px $borders;
        /*font-size: 12px;*/
    }

    .fb-like {
        margin-right: 0.5em;
    }

    #footer-nav {
        margin-top: 1em;
        dl {
            dt {
                font-size: 14px;
                font-weight: normal;
                border-bottom: solid 1px $borders;
            }
            dd {
                font-size: 14px;
                ul {
                    @include unstyled-list;
                    a {
                        text-decoration: none;
                        color: $light-text;
                    }
                }
            }
        }
    }

    input {
        display: inline;
        border-radius: 2px;
        padding: 0.75em;
        font-size: 14px;
        border: none;
        height: auto;

        &[type=text] {
            border: 1px solid $borders;
            border-right: 0px;
            box-shadow: none;
            width: 80%;
            margin-right: 0px;
            border-radius: 2px 0px 0px 2px;
        }
        &[type=submit] {
            background-color: $primary-color;
            border: 1px solid $primary-color;
            border-left: 0px;
            color: white;
            margin-left: 0px;
            border-radius: 0px 2px 2px 0px;
        }
    }

    .footer_follow__column {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(6);
        }
    }

    .footer_link__column {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(3);
        }
    }
}
