#footer {
    padding-top: em-calc(40px);
    clear: both;
    background-color: white;

    p {
        font-size: 14px;
    }

    #footer-about {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(4);
        }
        p {
            font-size: 18px;
        }
    }

    #footer-links {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(8);
        }
    }

    #stay-up-to-date h5 {
        font-size: 14px;
        font-weight: normal;
        padding-bottom: 0.5em;
        border-bottom: solid 1px $borders;
        /*font-size: 12px;*/
    }

    .fb-like {
        margin-right: 0.5em;
    }

    #footer-nav {
        margin-top: 1em;
        dl {
            dt {
                font-size: 14px;
                font-weight: normal;
                border-bottom: solid 1px $borders;
            }
            dd {
                font-size: 14px;
                ul {
                    @include unstyled-list;
                    a {
                        text-decoration: none;
                        color: $light-text;
                    }
                }
            }
        }
    }

    input {
        height: 3em;

        &[type=email] {
            border-right: none;
            border-radius: 3px 0 0 3px;
        }

        &[type=submit] {
            border-radius: 0 3px 3px 0;
        }
    }

    .footer-follow__newsletter-form {
        max-width: 16em; // Label for signup box is punchier when lines are shorter
    }

    .footer-follow__column {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(6);
        }
    }

    .footer-link__column {
        @include grid-column(12);
        @media (min-width: $medium-screen) {
            @include grid-column(3);
        }
    }
}
