$mysoc-footer-donate-background-color: $body-bg;
$mysoc-footer-donate-button-background-color: $colour_primary;

$mysoc-footer-breakpoint-sm: $medium-screen;

@import "../mysoc_footer";

.footer__newsletter-form {
    max-width: 20em; // Label for signup box is punchier when lines are shorter

    p, .row {
        margin-bottom: 0.5em;
        color: $colour_grey;
    }

    input {
        height: 3em;
        margin-bottom: 0;

        &[type=email] {
            border-right: none;
            border-radius: 3px 0 0 3px;
        }

        &[type=submit] {
            border-radius: 0 3px 3px 0;
        }
    }
}

.mysoc-footer {
    position: relative; // To appear above overlapping fixed sidebar
    font-size: 16px; // down from 18px

    .row {
        max-width: (65em * (18px/16px)); // compensate for smaller font-size
    }
}

.mysoc-footer__links ul {
    line-height: inherit;
}

.mysoc-footer__divider {
    margin-left: 1.5%;
    margin-right: 1.5%;
}
