/* Brand header */
.brand-header {
    line-height: 48px;
    background: white;
    a:link,
    a:visited {
        color: #fff;
    }
}

.brand-header__row {
    @include grid-row;
    background-color: $primary-color;
    @media ( min-width: $medium-screen ) {
        background-color: white;
    }
}

.brand-header__title-unit {
    background-color: $primary-color;
    float: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
}

.brand-header__title {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 48px;
    font-weight: normal;
    color: #fff;
    font-size: em-calc(18);
    letter-spacing: 0;
    a:hover {
        text-decoration: none;
    }
}

.primary-navigation-bar {
    float: right;
    width: 100%;
    .menu-dropdown {
        display: block;
        position: absolute;
        top: 5px;
        right: 60px;
        line-height: 48px;
        box-shadow: none;
        @media (min-width: $medium-screen) {
            right: 145px;
        }
    }
    .menu-dropdown--button {
        @extend .image-replacement;
        height: 2.4em; /* 36px */
        width: 2.4em;
        background-image: url('../img/hamburger.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image:  url('../img/hamburger@2.png');
        }
        background-position: center;
        background-repeat: no-repeat;
        @include background-size(28px 26px);
        @media ( max-width: $medium-screen ) {
            background-color: $primary-color;
            &:hover,
            &:active {
                background-color: $primary-color;
            }
        }
    }
    .menu-toplevel-dropdown--button {
        border: none;
        background-color: white;
        @include background-size(24px 24px);
        margin-bottom: 0px;
        &:active {
            box-shadow: none;
        }
    }
    .nav-menu {
        @include unstyled-list;
        li {
            margin-left: 0px;
        }
        line-height: 31px;
        height: auto;
        max-height: 1000em;
        background-color: $primary-color;
        position: absolute;
        right: 0.75em;
        top: 3.3em;
        z-index: 400;
        width: 47%;
        @include box-shadow(0 1px 1px rgba(0,0,0,0.2));
    }

    a {
        font-size: em-calc(18);
        letter-spacing: 0.02em;
        display: block;
        padding: 0.25em 0.75em;
        &:link,
        &:visited {
            color: white;
        }
        @media ( min-width: $large-screen ) {
            &:link,
            &:visited {
                color: $body-font-color;
            }
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }
    .active {
        a {
            background: $primary-color;
        }
    }
}

.primary-navigation-bar.assembly {
    display: none;
    float: left;
    width: auto;
    position: relative;
    @media ( min-width: $medium-screen ) {
        display: block;
    }
    .menu-dropdown {
        position: static;
        margin: 10px 0px 0px 12px;
        .button {
            font-size: em-calc(14);
            font-weight: $weight_semibold;
            background-color: white;
            border: none;
            margin-bottom: 0px;
            padding-bottom: 12px;
            border-radius: 3px 3px 0px 0px;
            transition: none;
            &:active {
                box-shadow: none;
            }
            &:after {
                display: inline-block;
                content: url('../img/caret.png');
                padding-left: 0.5em;
            }
            &.open {
                color: white;
                background-color: $primary-color;
                &:after {
                    -webkit-transform:rotate(180deg);
                    padding-left: 0em;
                    padding-right: 0.5em;
                }
            }
        }
    }
    .nav-menu {
        @include radius;
        border-radius: 0px 3px 3px 3px;
        margin-left: 12px;
        position: absolute;
        left: 0em;
        top: auto;
        z-index: 400;
        width: 14em;
        font-size: em-calc(14px);
        a {
            color: white;
        }
        &.closed {
            height: 0;
            max-height: 0;
            overflow: hidden;
            /*@include transition(max-height 1s ease-in-out);*/
        }
    }
}

.primary-navigation-bar.sections{
    float: right;
    width: auto;
    @media (min-width: $large-screen) {
        width: auto;
        margin-right: 145px; /* push past mysoc logo */
    }
    .menu-dropdown {
        .menu-dropdown--button {
            &.open {
                border-bottom: 0px;
                border-radius: 3px 3px 0px 0px;
            }
        }
        @media (min-width: $large-screen) {
            display: none;
        }
    }
    & > .nav-menu {
        @include box-shadow(none);
    }
    .nav-menu {
        @media (max-width: $large-screen) {
            width: 100%;
            top: 48px;
            right: 0px;
            &.closed {
                height: 0;
                max-height: 0;
                overflow: hidden;
                @include transition(max-height 1s ease-in-out);
            }
        }
        @media (min-width: $large-screen) {
            background-color: transparent;
            position: static;
            display: block;
            @include inline-list;
            li {
                margin-left: 0;
                &.menu-search {
                    .menu-dropdown--button {
                        background-image: url('../img/search.png');
                    }
                }
            }
            width: auto;
        }
        .user-menu {
            /* temporary measure till work out what we're doing */
            @media (max-width: $large-screen) {
                .menu-dropdown {
                    display: none;
                }
                .nav-menu {
                    display: block;
                    height: auto;
                    max-height: none;
                    position: static;
                    border-top: 1px solid lighten($colour_primary, 10%);
                    box-shadow: none;
                    width: 100%;
                }
            }
            @media (min-width: $large-screen) {
                position: relative;
                .menu-dropdown {
                    position: static;
                    display: inline-block;
                    line-height: 20px;
                    .button {
                        background-color: white;
                        border-radius: 3px 3px 0px 0px;
                        margin-bottom: 0px;
                        transition: none;
                        &:active {
                            box-shadow: none;
                        }
                        &.open {
                            background-color: $body-bg;
                        }
                        img {
                            vertical-align: -0.2em // slightly less than normal for a .button>img
                        }
                    }
                }
                .nav-menu {
                    @include radius;
                    background-color: $body-bg;
                    border-radius: 3px 0px 3px 3px;
                    padding: 0.2em 0;
                    margin-left: 12px;
                    position: absolute;
                    right: 0px;
                    top: auto;
                    z-index: 400;
                    width: 10em;
                    li {
                        display: block;
                    }
                    a {
                        display: block;
                        padding: 0.4em 0.6em;
                        line-height: 1.2em;
                    }
                    &.closed {
                        display: none;
                        height: 0;
                        max-height: 0;
                        overflow: hidden;
                    }
                }
            }
        }
        #search-fallback {
            display: none;
        }
        #search-wrapper {
            border-top: 1px solid lighten($colour_primary, 10%);
            label {
                display: none;
            }
            input[type="text"] {
                margin: 0.25em 0.75em;
                width: 90%;
            }
            @media (min-width: $large-screen) {
                border: 0px;
                position: relative;
                height:48px;
                width: 48px;
                padding-left: 10px;
                input[type="text"] {
                    width: 0px;
                    padding: 0;
                    border: none;
                    background-color: white;
                    position: absolute;
                    bottom: 5px;
                    right: 35px;
                    margin-top: 30px;
                    margin-right: 10px;
                    border-radius: 2px;

                    color:rgb(150,150,150);

                    -webkit-transition:width 0.5s ease-in-out;
                       -moz-transition:width 0.5s ease-in-out;
                            transition:width 0.5s ease-in-out;
                }

                input[type="text"]:focus,
                input[type="text"]:active {
                    background-color: white;
                    width:480px;
                    padding-left: 0.5em;
                }

                label {
                    display:block;
                    width:48px;
                    height:50px;
                    /*position:absolute;*/
                    padding:0;
                    padding-top: 10px;
                    cursor:pointer;
                }
                img {
                    width: 24px;
                    height: 24px;
                    vertical-align: -5px;
                }
            }
        }
        .assembly-sub-menu {
            border-top: 1px solid lighten($colour_primary, 10%);
            display: block;
            @media ( min-width: $medium-screen ) {
                display: none;
            }
            ul {
                @include unstyled-list;
            }
        }
    }

    a {
        @media (min-width: $large-screen) {
            display: inline-block;
            padding: 0.4em;
            font-size: em-calc(18);
        }
    }
}

.banner {
    background-color: white;
    border-top: 1px solid $borders;

    .banner__content {
        color: rgb(155, 56, 149);
        font-size: em-calc(25);
        padding: 0.75em 0.75em;
        text-align: center;
    }
}
