.site-header,
.site-nav {
    background: white;
}

.site-header__row,
.site-nav__row {
    @include grid-row;
    position: relative;
}

$mysoc-badge-mobile-width:       55px;
$mysoc-badge-desktop-width:      80px;
$badge-horizontal-shadow-mobile:  15px; 
$badge-horizontal-shadow-desktop: -8px;

.site-nav__primary {
    position: relative;
}


@media (min-width: $medium-screen) {
    .site-nav__assembly {
    left: 95px
    }
    .site-nav__search {
        left: 82px;
        position: relative;
    }
}

.site-nav .site-nav__general ul {
    left: $mysoc-badge-mobile-width;

    @media (min-width: $medium-screen) {
        margin-left: $mysoc-badge-desktop-width - 10px;
    }
}

#mysociety-badge {
    position: absolute;
    display: block;
    top: 0;
    left: $badge-horizontal-shadow-mobile; // Align with container
    width: $mysoc-badge-mobile-width;
    z-index: 1;

    img {
        width: 100%;
        height: auto;
    }
    .badge-desktop {
        display: none;
    }
    @media (min-width: $medium-screen) {
        width: $mysoc-badge-desktop-width;
        left: $badge-horizontal-shadow-desktop; // Align with container
        .badge-mobile {
            display: none;
        }
        .badge-desktop {
            display: block;
        }
    }
}

.site-header__logo {
    margin: 0 -1em;
    font-size: em-calc(18);
    line-height: 1em;
    font-weight: normal;
    float: left;
    position: relative;
    left: 85px; // Badge will have the same distance on the left and right
    z-index: 1;

    @media (min-width: $medium-screen) {
        left: $mysoc-badge-desktop-width;
    }

    a {
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        display: block;
        padding: 1em;
        color: $primary-color;

        &:hover, &:focus {
            text-decoration: none;
            background-color: $primary-color;
            color: #fff !important;
        }
    }
}

.site-header__mobile-nav-toggle {
    float: right;
    padding: 1em;
    background-color: #fff;
    color: $primary-color;

    // Menu icon.
    span {
        position: relative;
        vertical-align: 0.2em;
        margin-left: 0.3em;

        &,
        &:before,
        &:after {
            display: inline-block;
            width: 16px;
            height: 3px;
            background-color: $primary-color;
            transition: 0.25s;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: -6px;
            transform-origin: 100% 50%; // Pivot around rightmost edge.
        }

        &:after {
            top: 6px;
        }
    }

    &:hover, &:focus {
        text-decoration: none;
        color: darken($primary-color, 5%);
        background-color: mix($primary-color, #fff, 10%);
    }

    &.toggled {
        span {
            background-color: transparent;

            &:before,
            &:after {
                width: 17px;
            }

            &:before {
                transform: rotate3d(0, 0, 1, -45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, 45deg);
            }
        }
    }
}

// Hide the site nav by default, and show it again if:
// * It has been toggled by .site-header__mobile-nav-toggle
// * Or it is the current :target of the URL hash fragment
// * Or the window is wide enough for the "desktop" header layout
.site-nav {
    display: none;

    &.toggled,
    &:target {
        display: block;
    }

    @media (min-width: $medium-screen) {
        display: block;
    }
}

.site-nav {
    border-top: 1px solid $borders;

    ul {
        @include unstyled-list();
        margin-bottom: 0;
        line-height: 1; // down from Foundation default of 1.6
    }

    a {
        display: block;
        padding: 0.5em 1em;
        color: $colour_dark_grey;
    }
}

.site-nav__assembly,
.site-nav__search,
.site-nav__user,
.site-nav__general {
    border-bottom: 1px solid $borders;
    padding: 0.5em 0;
}

.site-nav__general {
    border-bottom: none; // no need for border as this is the last child
}

.site-nav__assembly {
    padding-bottom: 0; // .site-nav__dropdown-toggle handles the padding here

    // This means there's always the right amount of space below the toggle,
    // whether the dropdown itself is open or closed.
    .site-nav__dropdown-toggle {
        margin-bottom: 0.5em;
    }
}

.site-nav__dropdown-toggle {
    &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        font-size: 1em;
        border: 0.4em solid transparent;
        border-top-color: $colour_mid_grey;
        border-bottom-width: 0;
        margin-left: 0.3em;
        vertical-align: 0.1em;
    }
}

.site-nav__assembly__dropdown {
    background-color: $body-bg;
    padding: 0.5em 0;

    html.js & {
        display: none;

        &.toggled {
            display: block;
        }
    }
}

.site-nav__search {
    form {
        padding: 0.5em 1em;
    }

    label {
        margin-bottom: 0.5em;
    }

    input {
        padding: 0 0.5em;
        margin-bottom: 0;
        border-radius: $global-radius 0 0 $global-radius;
        box-shadow: none;
        height: 2.4em;
    }

    button {
        padding: 0;
        margin-bottom: 0;
        border-radius: 0 $global-radius $global-radius 0;
        box-shadow: none;
        height: 2.4em;
        border: none;
    }
}

// Hold on to your hats. The layout gets kinda funky on wider screens,
// as we split up and float all the components horizontally.
@media (min-width: $medium-screen) {

    // By default, Foundation rows clear themselves. But we want the
    // .site-header to collapse, so that the green TheyWorkForYou tab
    // hangs over the top left edge of the .site-nav below it, letting
    // the various .site-nav__* children stack horizontally next to it.
    // So we remove the :after that powers the Foundation row clearfix.
    .site-header__row {
        &:after {
            display: none;
        }
    }

    // No need for a mobile nav toggle, now the nav is always visible.
    .site-header__mobile-nav-toggle {
        display: none;
    }

    // Vertical spacing for the top row of nav items.
    .site-nav {
        padding-top: 0.2em;
        border-top: 0;

        a {
            font-size: (14em / 16);
            padding: 1em 0.7em;
        }
    }

    // Remove the borders and paddings we needed for the stacked mobile nav.
    .site-nav__assembly,
    .site-nav__search,
    .site-nav__user,
    .site-nav__general {
        border-bottom: none;
        padding: 0;
    }

    // Float the contituent parts of the nav.
    .site-nav__assembly,
    .site-nav__search {
        float: left;
    }

    .site-nav__user {
        float: right;

        li {
            float: left;
        }
    }

    .site-nav__general {
        li {
            float: left;
        }
    }

    // Full width dividing line between the two rows of nav items.
    .site-nav__secondary {
        border-top: 1px solid $borders;
    }

    // Positioning context for .site-nav__assembly__dropdown
    .site-nav__assembly {
        position: relative;

        // Make the dropdown toggle a bit more like all the other links.
        .site-nav__dropdown-toggle {
            margin-bottom: 0;
            padding: 1em;

            &:after {
                margin-left: 0.3em;
            }
        }
    }

    .site-nav__assembly__dropdown {
        position: absolute;
        left: 1em;
        top: 3em;
        z-index: 1; // above the position:relative .row in .site-nav__search
        float: left;
        white-space: nowrap;
        font-size: 0.8em;
        box-shadow: 0 2px 2px rgba(#000, 0.2);

        a {
            font-size: 1em;
            padding: 0.5em 1em;
        }
    }

    // Some styling fixups for the search form.
    .site-nav__search {
        width: 33%;

        form {
            padding-top: 0.3em;
            padding-bottom: 0.3em;
        }

        label {
            @include visuallyhidden();
        }
    }
}


// Site announcements

.banner {
    text-align: center;
    background-color: #333;
    color: #fff;

    .banner__content {
        font-size: 1em;
        line-height: 1.2em;
        padding: 1em;
    }

    a:not(.button) {
        color: lighten($links, 5%);

        &:hover,
        &:focus {
            color: lighten($primary-color, 5%);
        }
    }

    a.button {
        margin-bottom: 0;
        margin-left: 0.5em;
    }
}
