$site-header-height: 48px;

// The TWFY header has three modes:
//
// Mobile: all nav links are stacked vertically and hidden under a menu icon.
//
// Tablet: nav links form a horizontal bar, but submenus (eg: user menu,
// pages menu, assembly selector) are hidden under dropdown menu icons.
//
// Desktop: pages menu is promoted to a row of top-level links, rather than
// being hidden behind a dropdown menu button.

.site-header {
    background: white;
}

.site-header__row {
    @include grid-row;
}

.site-header__logo {
    // Reset h1 styles
    margin: 0;
    font-size: em-calc(18);
    height: $site-header-height;
    line-height: $site-header-height;
    font-weight: normal;
    letter-spacing: 0;

    // Tab takes up 10/12ths of screen width on mobile
    @include grid-column(10, $collapse: true);
    text-align: center;

    a {
        // The famous green tab
        display: block;
        padding: 0 1.5em;
        background-color: $primary-color;
        color: #fff;
        white-space: nowrap; // stop TheyWorkForYou splitting onto multiple lines (eg: in Firefox)

        &:hover, &:focus {
            text-decoration: none;
            background-color: darken($primary-color, 5%);
        }
    }
}

.site-header__mobile-nav-toggle {
    @include grid-column(2);
    height: $site-header-height;
    display: block;

    @extend .image-replacement;
    background: $primary-color url('../img/hamburger-white.png') center center no-repeat;
    border-left: 1px solid mix($primary-color, #fff, 70%);

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image:  url('../img/hamburger-white@2.png');
        @include background-size(28px 26px);
    }

    &:hover, &:focus {
        background-color: darken($primary-color, 5%);
    }

    &.toggled {
      background-color: #fff;
      background-image:  url('../img/hamburger-green.png');
      border-left: none;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
          background-image:  url('../img/hamburger-green@2.png');
      }

      &:hover, &:focus {
          background-color: mix($primary-color, #fff, 10%);
      }
    }
}

.site-header__main-nav {
    @include grid-column(12, $collapse: true);

    // Hide the menu if javascript works
    body.js & {
        display: none;

        // Show the menu again when it's toggled by javascript
        &.toggled {
            display: block;
        }
    }
}

.site-header__main-nav__section {
    @include unstyled-list();
    margin-bottom: 0;

    ul {
        @include unstyled-list();
        background-color: $body-bg;
        display: none;

        &.toggled {
            display: block;
        }

        // Fallback for non-javascript users, based on URL hash fragment
        // (which is set by clicking the trigger link - old school!)
        &:target {
            display: block;
        }

        a {
            color: $colour_grey;
        }
    }

    a {
        display: block;
        padding: 0.3em 0.6em;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        color: $colour_dark_grey;
    }
}

.site-header__dropdown-toggle {
    &:before {
        content: "";
        display: block;
        border: 0.4em solid transparent;
        border-top-color: $colour_mid_grey;
        float: right;
        margin-top: 0.7em;

        @media (min-width: $medium-screen) {
          border-width: 0.3em;
          margin-left: 0.4em;
          margin-top: 1.2em;
        }
    }

    &.toggled {
        outline: none; // Avoid dotted lines around buttons you've just pressed

        &:before {
            border-top-color: transparent;
            border-bottom-color: $colour_mid_grey;
            margin-top: 0.2em;

            @media (min-width: $medium-screen) {
                margin-top: 0.9em;
            }
        }
    }
}

.site-header__user-button,
.site-header__search-button {
    img {
        vertical-align: -5px; // Don't ask me why this works
    }

    img + span {
        margin-left: 0.5em;
    }
}

@media (min-width: $medium-screen) {
    .site-header__logo {
        float: none; // override grid-column() behaviour
        display: table-cell;
        vertical-align: top;
        width: auto; // width is determined by text content
    }

    .site-header__mobile-nav-toggle {
        display: none;
    }

    .site-header__main-nav {
        float: none; // override grid-column() behaviour
        display: table-cell;
        vertical-align: top;
        width: 100%; // occupy as much space as is left over after the logo

        // Yes, even if the nav was hidden by javascript
        // in mobile mode, we want to show it again now.
        body.js &,
        body.js &.toggled {
            display: table-cell;
        }

        a {
            padding-top: 0;
            padding-bottom: 0;
            height: $site-header-height;
            line-height: $site-header-height;
            border-bottom: 0;

            &.toggled {
                background-color: $body-bg;
            }
        }
    }

    .site-header__main-nav__section {
        float: left;

        & > li {
            float: left;
            position: relative;
        }

        // Style the submenu as a pop-out dropdown menu
        ul {
            position: absolute;
            z-index: 1; // Appear over any accidentally position:relative siblings
            top: $site-header-height;
            left: 0;
            white-space: nowrap; // stop linebreaks inside links
            min-width: 100%; // no narrower than parent list item
            padding: 0.3em 0;
            @include box-shadow(0 2px 2px rgba(0,0,0,0.2));

            a {
                height: auto;
                line-height: 1em;
                padding: 0.6em 1em;
                min-width: 10em; // Avoids stumpy little links like "Log in"
            }
        }
    }

    .site-header__main-nav__section--actions {
        float: right;
        border-right: 1px solid $colour_light_grey;

        & > li {
            float: right;
            border-left: 1px solid $colour_light_grey;
        }

        & > li > a {
            padding-left: 1em;
            padding-right: 1em;
        }

        // The actions dropdowns are right-aligned, because
        // the actions are against the right edge of the page.
        // And it's -1px rather than 0px, because we want it to
        // appear seamless with the 1px border-right on the trigger.
        ul {
            left: auto;
            right: -1px;
        }
    }

    .site-header__main-nav__section--assemblies,
    .site-header__main-nav__section--pages {
      border-right: 1px solid $colour_light_grey;

      & > li > a {
          padding-left: 1em;
          padding-right: 1em;
      }
    }

    .site-header__user-button,
    .site-header__search-button {
        span {
            display: none;
        }
    }
}

@media (min-width: $large-screen) {
    .site-header__main-nav__section--pages {
      margin-left: 0.4em;
      border-right: none;

      .site-header__dropdown-toggle {
          display: none;
      }

      // Override all the submenu styling, to make
      // the #pages-menu look like a top level menu
      ul {
          display: block;
          position: static;
          background-color: transparent;
          min-width: initial;
          top: initial;
          left: initial;
          white-space: initial;
          @include box-shadow(none);
          padding: 0;

          & > li {
              float: left;
          }

          a {
              display: block;
              padding: 0 0.6em;
              height: 48px;
              line-height: 48px;
              color: inherit;
              min-width: 0;
          }
      }
    }
}

// Fixes for browsers that don't support box-sizing (eg: IE7-8)
html.no-boxsizing {
    .site-header__logo {
        padding-left: 0;
        padding-right: 0;
    }
    .site-header__mobile-nav-toggle {
        padding-left: 0;
        padding-right: 0;
        border-left: none;
    }
}



// Fancy-search module (see .js-fancy-search in main.js)

.fancy-search__form {
    padding: 0.6em;
    display: none;

    @media (min-width: $medium-screen) {
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        background-color: #fff;
        height: 100%;
        overflow: hidden;
        width: 0;
        @include single-transition(width);
        padding: 0.5em 0;
        background: transparent linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,1) 1em);
    }
}

.fancy-search__input[type] {
    // The [type] is a hack to overpower the Foundation input[type="text"] selector
    width: 100%;
    font-size: 0.85em;
    margin-bottom: 0;
}

.fancy-search__submit {
    position: absolute;
    top: -20em;
}

.fancy-search-active {
    .fancy-search__form {
        display: block;
    }

    @media (min-width: $medium-screen) {
        .fancy-search__form {
            width: 20em;
            padding-left: 2em;
        }

        .site-header__main-nav__section--pages {
            opacity: 0.2;
        }
    }
}

.site-header__main-nav__section--pages {
    @include single-transition(opacity);
}



// Site announcements

.banner {
    text-align: center;
    background-color: mix(#fff, $mysociety-banner-background, 8%);
    color: #fff;
    border-bottom: 1px solid mix(#fff, $mysociety-banner-background, 16%);

    .banner__content {
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 0.75em;
    }

    a {
        color: lighten($links, 5%);

        &:hover,
        &:focus {
            color: lighten($primary-color, 5%);
        }
    }
}
